Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Add Card.Footer
  design/card/footer.jsx
  design/card/index.js
  design/card/styles.module.css
  design/index.js
Due: yarn lint --format, prettier --write

Add texts for premium request and billing errors
  texts/billing/index.js
  texts/billing/payment-required.md
  texts/depositing/cross-repository-check/failure.md
  texts/depositing/cross-repository-check/generic.yml
  texts/depositing/cross-repository-check/index.js
  texts/depositing/cross-repository-check/payment-required.md
  texts/depositing/cross-repository-check/success.md
  texts/depositing/index.js
  texts/doi/index.js
  texts/index.js
  texts/letters/index.js
  texts/letters/request-premium.txt
Due: yarn lint --format

Add Billing module
  modules/billing/README.md
  modules/billing/index.js
  modules/billing/payment-required/data.js
  modules/billing/payment-required/index.jsx
Due: yarn lint --format

Add PaymentRequired form
  components/forms/request-premium/index.jsx
  components/forms/request-premium/styles.module.css
Due: yarn lint --format, prettier --write

Remove the button from publication dates overview
  templates/deposit-compliance/cards/publications-dates-card.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

Remove ORCID card placeholder
  templates/overview/index.jsx
Due: yarn lint --format

Add Error displaying for Deposit Compliance and DOIs (#336)
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  templates/doi/cards/table-card.jsx
  templates/doi/index.jsx
  templates/doi/styles.module.css
Due: yarn lint --format, prettier --write

Preserve error.data for 402
  store/root.js
Due: yarn lint --format

Add contact request sending to Store
  store/root.js
Due: yarn lint --format

Add Organisation initialisation
  store/organisation.js
  store/root.js
Due: yarn lint --format

Add an optional excludeFooter parameter to Table
  components/table/table.jsx
Due: yarn lint --format

Add 402 status processing for Pages requests (#335)
  store/helpers/pages/pages.js
Due: yarn lint --format

Add *.txt files support
  next.config.js
Due: yarn lint --format

Add body processing for status >= 400
  api/index.js
Due: yarn lint --format

Add 402 handling for cross-deposit-lag (#335)
  store/deposit-dates.js
Due: yarn lint --format

Introduce modules
  modules/README.md
  next.config.js
Due: yarn lint --format

Remove the button from publication dates overview (#349)
  templates/deposit-compliance/cards/publications-dates-card.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

Remove ORCID card placeholder (#348)
  templates/overview/index.jsx
Due: yarn lint --format

Change development API URL
  config.js
Due: yarn lint --format

Change development API URL (#351)
  config.js
Due: yarn lint --format

Move sidebar handling logic to hook (#350)
  components/layout/app-bar.jsx
  components/layout/container.jsx
  components/layout/context.js
  components/layout/side-bar.jsx
  components/layout/use-sidebar.js
Due: yarn lint --format

Add max-width to sidebar
  components/layout/styles.module.css
Due: prettier --write

Add Table config updates
  components/table/table.jsx
Due: yarn lint --format

Remove Table.Sidebar if there is an error (#353)
  templates/deposit-compliance/cards/table-card.jsx
Due: yarn lint --format

Add IRUS into the data model
  store/root.js
Due: yarn lint --format

Add IRUS card (#317)
  components/statistics-chart/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/overview/cards/index.js
  templates/overview/cards/irus-card.jsx
  templates/overview/cards/overview-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

Fix deposit compliance level reporting for 0 counted
  templates/deposit-compliance/cards/data-overview-card.jsx
Due: yarn lint --format

Fix deposit compliance level reporting for 0 counted (#354)
  templates/deposit-compliance/cards/data-overview-card.jsx
Due: yarn lint --format

Fix number formatting for publication dates overview
  components/stacked-vertical-bar-chart/index.jsx
Due: yarn lint --format

Add caption formatting to StackedVerticalBarChart (#355)
  components/stacked-vertical-bar-chart/index.jsx
Due: yarn lint --format

Fix error body processing in the API client
  api/index.js
Due: yarn lint --format

Fix 404 processing for paginated requests
  store/helpers/pages/pages.js
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
