Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Fix activity detecting from the URL
  components/application/route.js
Due: yarn lint --format

Fix stylelint
  public/sanitize.css
Due: prettier --write

Bump package versions [March] (#177)
  package-lock.json
  package.json
  public/sanitize.css
Due: prettier --write

Allow to connect to localhost symfony for dev env
  pages/_app/index.jsx
Due: yarn lint --format

Disable content security on 127.0.0.1 for dev
  pages/_app/index.jsx
Due: yarn lint --format

Fix going to parent from a child page
  components/application/activity-select/index.jsx
  components/application/index.jsx
Due: yarn lint --format

Remove redundant store checking for null
  pages/_app/index.jsx
Due: yarn lint --format

Fix activity highlighting on subpages
  components/application/activity-select/index.jsx
  components/application/index.jsx
Due: yarn lint --format

Highlight correct activity when back button pushed
  pages/_app/index.jsx
  store/root.js
Due: yarn lint --format

Merge activity icons with the config in store
  components/application/activity-select/index.jsx
  components/application/index.jsx
  pages/_app/index.jsx
  store/activities.js
Due: yarn lint --format

Change data provider only if URL contains it
  pages/_app/index.jsx
Due: yarn lint --format

Fix activities (#178)
  components/application/activity-select/index.jsx
  components/application/index.jsx
  pages/_app/index.jsx
  store/activities.js
  store/root.js
Due: yarn lint --format

Redirect to login when 401 occurs
  api/index.js
  config.js
  pages/_app/index.jsx
Due: yarn lint --format

Create custom network errors
  api/errors.js
Due: yarn lint --format

Throw specific network error in apiRequest
  api/index.js
Due: yarn lint --format

Redirect user if any API request fail on 401
  pages/_app/index.jsx
  store/deposit-dates.js
  store/helpers/pages/pages.js
Due: yarn lint --format

Remove unused LOGGING_URL
  config.js
Due: yarn lint --format

Improve getLoginPath function
  config.js
  next.config.js
  pages/_app/index.jsx
Due: yarn lint --format

Add onVisibilityChange callback to PublishedToggle
  components/published-toggle/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Pass store to table config
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Remove extra parameter from apiRequest calls
  store/deposit-dates.js
  store/helpers/pages/pages.js
  store/root.js
  store/user.js
Due: yarn lint --format

Implement works taking down
  components/published-toggle/index.jsx
  components/table/TableRow.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/helpers/pages/pages.js
  store/works.js
Due: yarn lint --format

Fix: don't show children in menu
  store/activities.js
Due: yarn lint --format

Fix showing children in menu (#181)
  store/activities.js
Due: yarn lint --format

Add optimistic takedown
  components/published-toggle/index.jsx
Due: yarn lint --format

Fix login redirect
  config.js
Due: yarn lint --format

Fix login redirect (#183)
  config.js
Due: yarn lint --format

Add login animation
  public/login.css
  public/login.html
  public/login.js
Due: yarn lint --format, prettier --write

Add login iframe to app
  pages/_app/index.css
  pages/_app/index.jsx
Due: yarn lint --format, prettier --write

Show animation immediately for better user experience
  pages/_app/index.jsx
  public/login.js
Due: yarn lint --format

Add loading login form instead blank screen (#184)
  pages/_app/index.css
  pages/_app/index.jsx
  public/login.css
  public/login.html
  public/login.js
Due: yarn lint --format, prettier --write

Log in via iframe
  components/application/index.jsx
  components/application/logout.jsx
  pages/_app/index.css
  pages/_app/index.jsx
  public/login.css
  public/login.html
  public/login.js
  public/logout.html
Due: yarn lint --format, prettier --write

Merge logout with login
  components/application/logout.jsx
  pages/_app/index.jsx
  public/login.css
  public/login.html
  public/login.js
  public/logout.css
  public/logout.html
Due: yarn lint --format, prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
