Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

[CORE-4357] Text update (#578)
  texts/depositing/data-overview.md
Due: none

[CORE-4363] Update text for error count
  pages/data-providers/[data-provider-id]/harvesting.jsx
  templates/harvesting/cards/harvesting-status-card.jsx
  templates/harvesting/index.jsx
  texts/issues/messages.yml
  utils/helpers.js
Due: yarn lint --format

[CORE-4363] Update text for error count (#579)
  pages/data-providers/[data-provider-id]/harvesting.jsx
  templates/harvesting/cards/harvesting-status-card.jsx
  templates/harvesting/index.jsx
  texts/issues/messages.yml
  utils/helpers.js
Due: yarn lint --format

[CORE-4359] Upd text DOIs
  texts/doi/coverage.md
Due: none

[CORE-4359] Upd text DOIs (#580)
  texts/doi/coverage.md
Due: none

[CORE-4397] Remove empty fields
  templates/settings/index.jsx
Due: yarn lint --format

[CORE-4397] Remove empty fields (#581)
  templates/settings/index.jsx
Due: yarn lint --format

[CORE-4397] Remove empty fields
  components/forms/resolver-settings/index.jsx
  templates/settings/index.jsx
Due: yarn lint --format

Core 4397/settings appear empty (#582)
  components/forms/resolver-settings/index.jsx
  templates/settings/index.jsx
Due: yarn lint --format

[CORE-4389] fix pagination
  store/helpers/pages/pages.js
Due: yarn lint --format

[CORE-4389] fix pagination (#583)
  store/helpers/pages/pages.js
Due: yarn lint --format

Core 4389/show more btn (#584)
  store/helpers/pages/pages.js
Due: yarn lint --format

Core 4389/show more btn (#585)
  store/helpers/pages/pages.js
Due: yarn lint --format

Core 4389/show more btn (#586)
  store/helpers/pages/pages.js
Due: yarn lint --format

CORE-4359 update DOI
  .gitignore
  texts/doi/coverage.md
Due: none

[CORE-4359] Fix statistic
  store/data-provider/index.js
Due: yarn lint --format

CORE-4359 update DOI (#587)
  .gitignore
  texts/doi/coverage.md
Due: none

[CORE-4359] Fix statistic (#588)
  store/data-provider/index.js
Due: yarn lint --format

fix: CORE-4393 change features order
  templates/settings/index.jsx
Due: yarn lint --format

[CORE-4408] Update text on membership
  modules/billing/payment-required/index.jsx
  package-lock.json
  package.json
  templates/doi/cards/coverage-card.jsx
  texts/doi/coverage.md
Due: yarn lint --format, prettier --write

[CORE-4408] Update text on membership (#590)
  modules/billing/payment-required/index.jsx
  package-lock.json
  package.json
  templates/doi/cards/coverage-card.jsx
  texts/doi/coverage.md
Due: yarn lint --format, prettier --write

[CORE-4409] Check billingPlan
  pages/data-providers/[data-provider-id]/doi.jsx
  store/data-provider/doi.js
  store/data-provider/index.js
  templates/doi/cards/table-card.jsx
  templates/doi/index.jsx
Due: yarn lint --format

[CORE-4409] Check billingPlan
  store/data-provider/doi.js
Due: yarn lint --format

fix: CORE-4360 take down button issue
  store/data-provider/works.js
Due: yarn lint --format

fix: CORE-4393 change features order (#589)
  templates/settings/index.jsx
Due: yarn lint --format

[CORE-4351] Text update
  components/application/terms-condition.jsx
Due: yarn lint --format

[CORE-4351] Text update
  components/application/terms-condition.module.css
Due: prettier --write

[CORE-4351] Text update
  components/application/index.jsx
  components/application/terms-condition.jsx
Due: yarn lint --format

[CORE-4351] Update logic
  components/application/index.jsx
  components/application/terms-condition.jsx
  pages/_app/index.jsx
  store/root.js
  store/user/base.js
Due: yarn lint --format

[CORE-4351] Update logic
  pages/_app/index.jsx
Due: yarn lint --format

[CORE-4351] Update logic
  components/application/index.jsx
Due: yarn lint --format

fix: CORE-4360 take down button issue (#592)
  store/data-provider/works.js
Due: yarn lint --format

Core 4351/terms conditions (#593)
  components/application/index.jsx
  components/application/terms-condition.jsx
  components/application/terms-condition.module.css
  pages/_app/index.jsx
  store/root.js
  store/user/base.js
Due: yarn lint --format, prettier --write

Revert "Core 4351/terms conditions (#593)"
  components/application/index.jsx
  components/application/terms-condition.jsx
  components/application/terms-condition.module.css
  pages/_app/index.jsx
  store/root.js
  store/user/base.js
Due: yarn lint --format, prettier --write

Revert "Core 4351/terms conditions (#593)" (#594)
  components/application/index.jsx
  components/application/terms-condition.jsx
  components/application/terms-condition.module.css
  pages/_app/index.jsx
  store/root.js
  store/user/base.js
Due: yarn lint --format, prettier --write

Core 4351/terms conditions (#595)
  components/application/index.jsx
  components/application/terms-condition.jsx
  components/application/terms-condition.module.css
  pages/_app/index.jsx
  store/root.js
  store/user/base.js
Due: yarn lint --format, prettier --write
