Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Use correct title for all pages (#315)
  components/title/index.jsx
  pages/data-providers/[data-provider-id]/plugins/discovery.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  pages/data-providers/[data-provider-id]/plugins/recommender.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/invitation.jsx
  pages/login.jsx
  pages/reset/[token].jsx
  pages/reset/index.jsx
  templates/content/index.jsx
  templates/deposit-compliance/index.jsx
  templates/doi/index.jsx
  templates/overview/index.jsx
Due: yarn lint --format

Explicitly build icons (#316)
  package.json
Due: prettier --write

Add Issues
  components/table/table.jsx
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/issues.jsx
  pages/data-providers/[data-provider-id]/issues.module.css
  pages/data-providers/[data-provider-id]/overview.jsx
  store/activities.js
  store/helpers/pages/pages.js
  store/issues.js
  store/root.js
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/index.js
  texts/issues/index.js
  texts/issues/issues.yml
  texts/issues/messages.yml
  texts/navigation.yml
Due: yarn lint --format, prettier --write

Hide activities when user has been accidentally logged out (#314)
  pages/_app/index.jsx
Due: yarn lint --format

Add Issues (#287)
  components/table/table.jsx
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/issues.jsx
  pages/data-providers/[data-provider-id]/issues.module.css
  pages/data-providers/[data-provider-id]/overview.jsx
  store/activities.js
  store/helpers/pages/pages.js
  store/issues.js
  store/root.js
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/index.js
  texts/issues/index.js
  texts/issues/issues.yml
  texts/issues/messages.yml
  texts/navigation.yml
Due: yarn lint --format, prettier --write

Fix select
  design/select/index.jsx
Due: yarn lint --format

Fix sidebar closing after navigation
  components/layout/side-bar.jsx
Due: yarn lint --format

Fix sidebar closing after navigation (#204)
  components/layout/side-bar.jsx
Due: yarn lint --format

Fix select (#318)
  design/select/index.jsx
Due: yarn lint --format

Add new issues from the Google Doc
  texts/issues/messages.yml
Due: none

Add `matches` support
  texts/issues/index.js
Due: yarn lint --format

Fix parsing and interpretting errors
  texts/issues/index.js
  texts/issues/messages.yml
Due: yarn lint --format

Strip ReactGA warnings
  utils/analytics.js
Due: yarn lint --format

Make Next Router only responsible for location (#297)
  components/application/activities.js
  components/application/activity-select/index.jsx
  components/application/index.jsx
  components/application/repository-select.jsx
  components/application/route.js
  pages/_app/hooks.js
  pages/_app/index.jsx
  pages/_app/route.js
  pages/data-providers/[data-provider-id]/index.js
  pages/data-providers/index.jsx
  pages/index.js
  store/root.js
  texts/navigation.yml
Due: yarn lint --format

Remove dayjs in favour of Int.DateTimeFormat
  package-lock.json
  package.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/issues.jsx
  templates/content/cards/table-card.jsx
  templates/deposit-compliance/cards/table-card.jsx
  templates/overview/cards/data-statictics-card.jsx
  utils/helpers.js
Due: yarn lint --format, prettier --write

Add cache for DateTimeFormat object
  utils/helpers.js
Due: yarn lint --format

Remove dayjs in favour of Int.DateTimeFormat (#320)
  package-lock.json
  package.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/issues.jsx
  templates/content/cards/table-card.jsx
  templates/deposit-compliance/cards/table-card.jsx
  templates/overview/cards/data-statictics-card.jsx
  utils/helpers.js
Due: yarn lint --format, prettier --write

Move issues to templates
  pages/data-providers/[data-provider-id]/issues.jsx
  templates/issues/cards/errors-overview-card.jsx
  templates/issues/cards/harvesting-overview-card.jsx
  templates/issues/cards/index.js
  templates/issues/cards/table-card.jsx
  templates/issues/index.jsx
  templates/issues/styles.module.css
Due: yarn lint --format, prettier --write

Fix allow to select 'all' option
  components/table/table.jsx
Due: yarn lint --format

Fix NaN number in all issues selection
  templates/issues/index.jsx
Due: yarn lint --format

Pass selectLabel as a prop
  components/table/table.jsx
  templates/issues/cards/table-card.jsx
Due: yarn lint --format

Fix show login page iframe
  pages/_app/index.jsx
Due: yarn lint --format

Issues to templates (#319)
  components/table/table.jsx
  pages/data-providers/[data-provider-id]/issues.jsx
  templates/issues/cards/errors-overview-card.jsx
  templates/issues/cards/harvesting-overview-card.jsx
  templates/issues/cards/index.js
  templates/issues/cards/table-card.jsx
  templates/issues/index.jsx
  templates/issues/styles.module.css
Due: yarn lint --format, prettier --write

Fix typo in readOnly prop
  pages/data-providers/[data-provider-id]/settings.jsx
Due: yarn lint --format

Suppress ref warning
  design/drawer/item.jsx
Due: yarn lint --format

Remove unused prop
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Upgrade packages
  package-lock.json
  package.json
Due: prettier --write

Add quotes to the copy command, fix build
  package.json
Due: prettier --write

Add quotes to the copy command, fix build (#323)
  package.json
Due: prettier --write

Add issues to the menu
  components/application/activities.js
Due: yarn lint --format

Upgrade packages (#322)
  package-lock.json
  package.json
Due: prettier --write

Restore issues to the menu (#324)
  components/application/activities.js
Due: yarn lint --format

Redirect to the previous page after logging in
  pages/_app/index.jsx
  pages/login.jsx
  public/secure/login.js
Due: yarn lint --format

Add generic Resource
  store/resource.js
Due: yarn lint --format

Review OAI identifier and endpoint issues
  texts/issues/messages.yml
Due: none

Review ROBOTS_MAXIMUM_CRAWL_DELAY_EXCEEDED
  texts/issues/messages.yml
Due: none

Improve User (#285)
  pages/_app/index.jsx
  pages/data-providers/index.jsx
  store/errors.js
  store/root.js
  store/user.js
  store/user/base.js
  store/user/dashboard.js
  store/user/index.js
Due: yarn lint --format
