Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

[CORE-4404] Add confirm modal
  templates/settings/confirmation.jsx
  templates/settings/index.jsx
Due: yarn lint --format

[CORE-4404] Fix style
  templates/settings/confirmation.jsx
  templates/settings/index.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

[CORE-4404] Confirm popup
  templates/settings/confirmation.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

[CORE-4404] Update popup
  templates/settings/confirmation.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

[CORE-4404] Icon replace
  templates/settings/confirmation.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

feat: CORE-4442 riox validation tab
  components/upload/assets/errorPlaceholder.svg
Due: none

feat: CORE-4442 riox validation tab
  components/upload/assets/errorPlaceholder.svg
  pages/data-providers/[data-provider-id]/validator.jsx
  store/root.js
  templates/harvesting/styles.module.css
  templates/validator/cards/issueCard.jsx
  templates/validator/cards/validateCard.jsx
  templates/validator/index.jsx
  templates/validator/styles.module.css
  texts/validator/index.js
  texts/validator/validator.yml
Due: yarn lint --format, prettier --write

CORE-4442 my repository tab
  pages/data-providers/[data-provider-id]/validator.jsx
  store/data-provider/index.js
  store/root.js
  templates/harvesting/styles.module.css
  templates/validator/MyReposiyory/myRepository.jsx
  templates/validator/RIoxValidator/RIoxValidator.jsx
  templates/validator/cards/complianceCard.jsx
  templates/validator/cards/issueCard.jsx
  templates/validator/index.jsx
  templates/validator/styles.module.css
  texts/validator/validator.yml
Due: yarn lint --format, prettier --write

CORE-4442 reusable funtion
  templates/validator/index.jsx
Due: yarn lint --format

CORE-4442 add key
  templates/validator/cards/issueCard.jsx
Due: yarn lint --format

CORE-4442 update package
  package-lock.json
Due: prettier --write

CORE-4442 import issue
  templates/validator/index.jsx
Due: yarn lint --format

[CORE-4404] Fix dinamic remove
  templates/settings/confirmation.jsx
  templates/settings/index.jsx
Due: yarn lint --format

update issues
  templates/validator/MyReposiyory/myRepository.jsx
  templates/validator/cards/complianceCard.jsx
  templates/validator/index.jsx
  templates/validator/styles.module.css
  texts/validator/validator.yml
Due: yarn lint --format, prettier --write

[bugfix] remove text
  templates/settings/index.jsx
Due: yarn lint --format

feat: CORE-4490 notification design
  components/application/index.jsx
  templates/settings/assets/bell.svg
  templates/settings/assets/complete.svg
  templates/settings/assets/issue.svg
  templates/settings/assets/notification.svg
  templates/settings/cards/notification.jsx
  templates/settings/cards/notificationPopUp.jsx
  templates/settings/index.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

fix: CORE-4483 number issue
  templates/harvesting/cards/type-card.jsx
Due: yarn lint --format

fix: CORE-4483 number issue (#617)
  templates/harvesting/cards/type-card.jsx
Due: yarn lint --format

feat: CORE-4511 add badges to dashboard
  templates/membership/docs-styles.module.css
  templates/membership/docs.jsx
  texts/memership/membership.yml
Due: yarn lint --format, prettier --write

feat: CORE-4511 add badges to dashboard (#618)
  templates/membership/docs-styles.module.css
  templates/membership/docs.jsx
  texts/memership/membership.yml
Due: yarn lint --format, prettier --write

[CORE-4404]
  store/organisation.js
  store/root.js
  templates/settings/index.jsx
Due: yarn lint --format

update riox text
  components/upload/assets/info.svg
  components/upload/assets/rioxFounds.svg
  components/upload/assets/rioxTable.svg
  components/upload/assets/success.svg
  store/data-provider/index.js
  templates/validator/MyReposiyory/myRepository.jsx
  templates/validator/RIoxValidator/RIoxValidator.jsx
  templates/validator/cards/complianceCard.jsx
  templates/validator/cards/validateCard.jsx
  templates/validator/index.jsx
  templates/validator/styles.module.css
  texts/validator/validator.yml
Due: yarn lint --format, prettier --write

feat: CORE-4511 badges in settings page
  pages/data-providers/[data-provider-id]/settings.jsx
  templates/settings/index.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

feat: CORE-4511 badges in settings page (#619)
  pages/data-providers/[data-provider-id]/settings.jsx
  templates/settings/index.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4442 add autofill
  templates/validator/RIoxValidator/RIoxValidator.jsx
  texts/validator/validator.yml
Due: yarn lint --format

[feature] Fix plan
  pages/data-providers/[data-provider-id]/membership.jsx
  store/data-provider/index.js
  templates/membership/index.jsx
Due: yarn lint --format

[feature] Fix plan (#620)
  pages/data-providers/[data-provider-id]/membership.jsx
  store/data-provider/index.js
  templates/membership/index.jsx
Due: yarn lint --format

update action names
  texts/validator/validator.yml
Due: none

Core 4442 validator tab (#616)
  components/application/activities.js
  components/upload/assets/errorPlaceholder.svg
  components/upload/assets/info.svg
  components/upload/assets/menu.svg
  components/upload/assets/metadata.svg
  components/upload/assets/moreInfo.svg
  components/upload/assets/rioxFounds.svg
  components/upload/assets/rioxTable.svg
  components/upload/assets/success.svg
  package-lock.json
  pages/data-providers/[data-provider-id]/validator.jsx
  store/activities.js
  store/data-provider/index.js
  templates/validator/MyReposiyory/myRepository.jsx
  templates/validator/RIoxValidator/RIoxValidator.jsx
  templates/validator/cards/complianceCard.jsx
  templates/validator/cards/issueCard.jsx
  templates/validator/cards/validateCard.jsx
  templates/validator/index.jsx
  templates/validator/styles.module.css
  texts/navigation.yml
  texts/validator/index.js
  texts/validator/validator.yml
Due: yarn lint --format, prettier --write

[CORE-4404] Add current members to Dashboard and possibility to remove them. (#615)
  pages/data-providers/[data-provider-id]/settings.jsx
  store/invitation.js
  store/organisation.js
  store/root.js
  templates/settings/confirmation.jsx
  templates/settings/index.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

update validator issues
  components/application/activities.js
  components/application/activity-select/styles.module.css
  package-lock.json
  package.json
  store/activities.js
  templates/validator/index.jsx
  templates/validator/styles.module.css
Due: yarn lint --format, prettier --write

update validator issues (#621)
  components/application/activities.js
  components/application/activity-select/styles.module.css
  package-lock.json
  package.json
  store/activities.js
  templates/validator/index.jsx
  templates/validator/styles.module.css
Due: yarn lint --format, prettier --write

fix beta
  templates/validator/index.jsx
Due: yarn lint --format

fix beta (#622)
  templates/validator/index.jsx
Due: yarn lint --format

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/d_azure-test_core-dashboard-test.yml
Due: none

added token
  .github/workflows/d_azure-test_core-dashboard-test.yml
Due: none

CORE-4509: create deduplication tab
  components/application/activities.js
  components/table/body.jsx
  components/table/table.jsx
  components/upload/assets/lock.svg
  components/upload/assets/question.svg
  pages/data-providers/[data-provider-id]/deduplication.jsx
  store/activities.js
  store/data-provider/index.js
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/cards/tableActionModal.jsx
  templates/deduplication/cards/tableActions.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
  templates/deduplication/tables/innerTable.jsx
  texts/deduplication/deduplication.yml
  texts/deduplication/index.js
  texts/navigation.yml
Due: yarn lint --format, prettier --write

CORE-4509: update yaml texts
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/tableActions.jsx
  templates/deduplication/index.jsx
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/innerTable.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
