Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE-5107: render das page
  components/TableRowActionStatusCard/statusCard.jsx
  components/TableRowActionStatusCard/styles.module.css
  components/application/activities.js
  components/dashboard-tip-message/styles.module.css
  components/statsCard/statsCard.jsx
  components/statsCard/styles.module.css
  components/uploadChecker/PdfUploadChecker.jsx
  components/uploadChecker/defaultUpload.jsx
  components/uploadChecker/formatUploadIssue.jsx
  components/uploadChecker/sizeUploadIssue.jsx
  components/uploadChecker/styles.module.css
  components/uploadChecker/uploadFail.jsx
  components/uploadChecker/uploadSuccess.jsx
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/das.jsx
  store/activities.js
  templates/das/index.jsx
  templates/das/styles.module.css
  templates/das/tables/DasTable.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/cards/warningCard.jsx
  texts/das/das.yml
  texts/das/index.js
Due: yarn lint --format, prettier --write

CORE-5107: update properties
  components/TableRowActionStatusCard/statusCard.jsx
  components/uploadChecker/PdfUploadChecker.jsx
  components/uploadChecker/defaultUpload.jsx
  components/uploadChecker/formatUploadIssue.jsx
  components/uploadChecker/sizeUploadIssue.jsx
  components/uploadChecker/uploadFail.jsx
  components/uploadChecker/uploadSuccess.jsx
  pages/data-providers/[data-provider-id]/das.jsx
  store/data-provider/index.js
  templates/das/index.jsx
  templates/das/tables/DasTable.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format

CORE-5055: article dropdown
  store/data-provider/index.js
  templates/orcid/index.jsx
  templates/orcid/tables/orchideTable.jsx
Due: yarn lint --format

CORE-5107: pdf upload
  components/dropdownTableCard/article.jsx
  components/uploadChecker/PdfUploadChecker.jsx
  components/uploadChecker/uploadSuccess.jsx
  templates/das/index.jsx
  templates/das/styles.module.css
  templates/das/tables/DasTable.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/tables/rrsTable.jsx
  templates/sdg/index.jsx
  templates/sdg/table/sdgTable.jsx
  utils/hooks/use-sdg-icon-renderer.jsx
Due: yarn lint --format, prettier --write

CORE-5107: fix link placement
  templates/das/styles.module.css
  templates/das/tables/DasTable.jsx
Due: yarn lint --format, prettier --write

CORE-5055: reusable table component
  templates/orcid/styles.module.css
  templates/orcid/tables/orchideTable.jsx
  templates/orcid/tables/tableComponent.jsx
Due: yarn lint --format, prettier --write

CORE-5142: not harvested view
  components/upload/assets/warningDark.svg
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/styles.module.css
  texts/issues/issues.yml
Due: yarn lint --format, prettier --write

CORE-5142: lint issues
  templates/harvesting/styles.module.css
Due: prettier --write

CORE-5142: not harvested view (#711)
  components/upload/assets/warningDark.svg
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/styles.module.css
  texts/issues/issues.yml
Due: yarn lint --format, prettier --write

CORE-5107: update design version
  package-lock.json
  package.json
  store/data-provider/index.js
  texts/das/das.yml
Due: yarn lint --format, prettier --write

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/d_azure-test_dashboard-core.yml
Due: none

Update d_azure-test_dashboard-core.yml
  .github/workflows/d_azure-test_dashboard-core.yml
Due: none

Update pull-request-check.yml
  .github/workflows/pull-request-check.yml
Due: none

Update d_azure-test_core-dashboard.yml
  .github/workflows/d_azure-test_core-dashboard.yml
Due: none

Core 5107 data access tab (#710)
  components/TableRowActionStatusCard/statusCard.jsx
  components/TableRowActionStatusCard/styles.module.css
  components/application/activities.js
  components/dashboard-tip-message/styles.module.css
  components/dropdownTableCard/article.jsx
  components/statsCard/statsCard.jsx
  components/statsCard/styles.module.css
  components/uploadChecker/PdfUploadChecker.jsx
  components/uploadChecker/defaultUpload.jsx
  components/uploadChecker/formatUploadIssue.jsx
  components/uploadChecker/sizeUploadIssue.jsx
  components/uploadChecker/styles.module.css
  components/uploadChecker/uploadFail.jsx
  components/uploadChecker/uploadSuccess.jsx
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/das.jsx
  store/activities.js
  store/data-provider/index.js
  templates/das/index.jsx
  templates/das/styles.module.css
  templates/das/tables/DasTable.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/cards/uploadFail.jsx
  templates/rrs-policy/cards/warningCard.jsx
  templates/rrs-policy/index.jsx
  templates/sdg/index.jsx
  templates/sdg/table/sdgTable.jsx
  texts/das/das.yml
  texts/das/index.js
  texts/navigation.yml
  utils/hooks/use-sdg-icon-renderer.jsx
Due: yarn lint --format, prettier --write

CORE-5055: add api for other tabs
  store/data-provider/index.js
  templates/orcid/index.jsx
  templates/orcid/styles.module.css
  templates/orcid/tables/orchideTable.jsx
  templates/orcid/tables/otherOrcidtableComponent.jsx
  templates/orcid/tables/withoutOrcideTableComponent.jsx
Due: yarn lint --format, prettier --write

CORE-5055: scroll to specific section
  templates/orcid/tables/otherOrcidtableComponent.jsx
  templates/orcid/tables/tableComponent.jsx
  templates/orcid/tables/withoutOrcideTableComponent.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
