Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

wrong icon path
  design.config.js
Due: yarn lint --format

CORE-4902: Add toolkit
  components/upload/assets/toolkit.svg
  components/usrn-text/index.jsx
  components/usrn-text/linkToolKit.jsx
  components/usrn-text/styles.module.css
  templates/usrn/cards/status-card.jsx
  templates/usrn/styles.module.css
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4902: Links update
  components/usrn-text/linkToolKit.jsx
  components/usrn-text/styles.module.css
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4902: Links update
  texts/usrn/status.yml
Due: none

CORE-4902: Header btn
  templates/usrn/styles.module.css
Due: prettier --write

CORE-4898: latest design version
  package-lock.json
  package.json
Due: prettier --write

updates in text
  components/usrn-stat/index.jsx
  texts/usrn/status.yml
Due: yarn lint --format

CORE: fix set call
  components/application/repository-select.jsx
  store/root.js
  templates/settings/repository.jsx
Due: yarn lint --format

fix: disable article call
  store/data-provider/works.js
Due: yarn lint --format

Core set call issue (#696)
  components/application/repository-select.jsx
  store/data-provider/works.js
  store/root.js
  templates/settings/repository.jsx
Due: yarn lint --format

CORE-4990: add error messages
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/harvesting/cards/harvesting-status-card.jsx
Due: yarn lint --format

lint issue
  templates/deduplication/styles.module.css
  templates/harvesting/styles.module.css
Due: prettier --write

Core 4990 add error view (#697)
  pages/data-providers/[data-provider-id]/deduplication.jsx
  pages/data-providers/[data-provider-id]/indexing.jsx
  store/issues.js
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/cards/harvesting-status-card.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4975: add new oa types
  components/upload/assets/add.svg
  templates/deposit-compliance/cards/compliance-option.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  texts/depositing/compliance.yml
Due: yarn lint --format, prettier --write

CORE-4902: docs btn style
  components/usrn-stat/index.jsx
  components/usrn-text/linkToolKit.jsx
  templates/usrn/cards/status-card.jsx
  texts/usrn/status.yml
Due: yarn lint --format

add format
  templates/content/cards/table-card.jsx
Due: yarn lint --format

add format (#698)
  templates/content/cards/table-card.jsx
Due: yarn lint --format

CORE-4902: hover for WIP
  components/actions/index.jsx
  components/usrn-stat/index.jsx
Due: yarn lint --format

CORE-4993: render sdg tab
  components/application/activities.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/sdg.jsx
  store/activities.js
  templates/sdg/index.jsx
  texts/navigation.yml
  texts/sdg/sdg.yml
Due: yarn lint --format, prettier --write

CORE: ror set
  templates/settings/repository.jsx
Due: yarn lint --format

CORE: ror set (#699)
  templates/settings/repository.jsx
Due: yarn lint --format

CORE: update ror value
  pages/data-providers/[data-provider-id]/repository.jsx
  store/data-provider/index.js
  templates/settings/general.jsx
  templates/settings/repository.jsx
Due: yarn lint --format

CORE: update ror value (#700)
  pages/data-providers/[data-provider-id]/repository.jsx
  store/data-provider/index.js
  templates/settings/general.jsx
  templates/settings/repository.jsx
Due: yarn lint --format

CORE-4993: remove unused output count
  templates/sdg/charts/horizontalSdgChart.jsx
  templates/sdg/index.jsx
Due: yarn lint --format

pick the right variable for the rorId
  pages/data-providers/[data-provider-id]/usrn.jsx
Due: yarn lint --format

CORE-4993: add dropdown to table
  components/dropdownTableCard/article.jsx
  components/dropdownTableCard/styles.module.css
  pages/data-providers/[data-provider-id]/rights-retention-strategy.jsx
  pages/data-providers/[data-provider-id]/sdg.jsx
  store/data-provider/index.js
  templates/rrs-policy/index.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  templates/sdg/index.jsx
  templates/sdg/styles.module.css
  templates/sdg/table/sdgTable.jsx
  texts/rrs-retention/rrs.yml
  texts/sdg/sdg.yml
Due: yarn lint --format, prettier --write

CORE-4993: add active elements
  pages/data-providers/[data-provider-id]/sdg.jsx
  templates/sdg/charts/rechartV2.jsx
  templates/sdg/index.jsx
  templates/sdg/styles.module.css
Due: yarn lint --format, prettier --write

lint
  components/dropdownTableCard/styles.module.css
  templates/sdg/styles.module.css
Due: prettier --write

CORE-4993: add pagination
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format

CORE-4993: add search
  templates/sdg/styles.module.css
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format, prettier --write

CORE-4993: add horizontal chart view
  templates/sdg/charts/horizontalSdgChart.jsx
  templates/sdg/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4993: add design version
  components/dropdownTableCard/article.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

CORE-4993: fix build issue
  components/application/activity-select/index.jsx
  pages/data-providers/[data-provider-id]/sdg.jsx
  templates/sdg/index.jsx
Due: yarn lint --format

CORE-4993: fix small issues
  components/dashboard-header/styles.module.css
  templates/sdg/charts/chartToggler.jsx
  templates/sdg/charts/horizontalSdgChart.jsx
  templates/sdg/charts/reChartBarChart.jsx
  templates/sdg/charts/rechartV2.jsx
  templates/sdg/index.jsx
  templates/sdg/styles.module.css
  templates/sdg/table/sdgTable.jsx
  texts/sdg/sdg.yml
Due: yarn lint --format, prettier --write

fix styles
  templates/sdg/styles.module.css
Due: prettier --write

CORE-4993: fix style
  templates/sdg/styles.module.css
Due: prettier --write

CORE-4993: fix table view
  store/data-provider/index.js
Due: yarn lint --format

CORE-4993: add number format
  store/data-provider/index.js
  templates/sdg/charts/horizontalSdgChart.jsx
  templates/sdg/charts/reChartBarChart.jsx
  templates/sdg/index.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
