Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

CORE-4805 Docs upd
  README.md
Due: none

CORE-4805: rrs for starting members
  pages/data-providers/[data-provider-id]/rights-retention-strategy.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format

add font to placeholder
  components/access-placeholder/styles.module.css
Due: prettier --write

CORE: upload fix
  templates/rrs-policy/cards/defaultUpload.jsx
Due: yarn lint --format

CORE: upload fix (#673)
  templates/rrs-policy/cards/defaultUpload.jsx
Due: yarn lint --format

CORE-4842: fix sort issue
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format

CORE-4666: development url
  env.config.js
Due: yarn lint --format

CORE-4808: fix message render issue
  store/root.js
  templates/settings/repository.jsx
Due: yarn lint --format

CORE-4666: update schedule logic
  templates/harvesting/cards/harvesting-progress.jsx
Due: yarn lint --format

CORE-4666: fix complited logic
  templates/harvesting/cards/harvesting-progress.jsx
Due: yarn lint --format

CORE-4666: switch button variant
  templates/harvesting/cards/harvesting-modal.jsx
Due: yarn lint --format

CORE-4842: update cache text
  components/dashboard-cached-message/index.jsx
  components/dashboard-cached-message/styles.module.css
  templates/deduplication/index.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

update text for warning
  components/dashboard-cached-message/index.jsx
  components/dashboard-cached-message/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

Core 4842 deduplication improvements (#674)
  components/dashboard-cached-message/index.jsx
  components/dashboard-cached-message/styles.module.css
  components/table/header.jsx
  components/table/table.jsx
  components/upload/assets/infoLight.svg
  store/data-provider/index.js
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/tableActionModal.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
  templates/deduplication/tables/innerTable.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

CORE-4666: close modal after submit
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4666: make field mandatory
  templates/harvesting/cards/harvesting-modal.jsx
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4666: update status messages
  pages/data-providers/[data-provider-id]/indexing.jsx
  store/issues.js
  store/root.js
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4666: lint styles
  templates/harvesting/styles.module.css
Due: prettier --write

Bugfix: rrs response
  store/data-provider/index.js
Due: yarn lint --format

Bugfix: rrs response (#675)
  store/data-provider/index.js
Due: yarn lint --format

CORE-4880: add sort logic
  components/table/header.jsx
  components/table/table.jsx
  components/tablev2/header.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format

CORE-4666: fix date issue
  store/issues.js
  store/root.js
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/cards/type-card.jsx
Due: yarn lint --format

fix async
  store/issues.js
Due: yarn lint --format

Core 4666 harvesting tab (#648)
  components/upload/assets/done.svg
  components/upload/assets/failed.svg
  components/upload/assets/loading.svg
  pages/data-providers/[data-provider-id]/indexing.jsx
  store/issues.js
  store/root.js
  templates/harvesting/cards/harvesting-modal.jsx
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/cards/harvesting-status-card.jsx
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
  texts/issues/issues.yml
Due: yarn lint --format, prettier --write

CORE-4906: dropdown
  pages/data-providers/[data-provider-id]/repository.jsx
  store/root.js
  templates/settings/repository.jsx
  texts/settings/settings.yml
Due: yarn lint --format

CORE-4880: add sort and dropdown for rrs
  components/tablev2/body.jsx
  components/tablev2/tablev2.jsx
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format

CORE-4906: add set actions in settings
  components/upload/assets/dropdownArrow.svg
  components/upload/assets/removeBin.svg
  pages/data-providers/[data-provider-id]/repository.jsx
  store/root.js
  templates/settings/repository.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4902 Add path
  components/application/activities.js
  pages/data-providers/[data-provider-id]/usrn.jsx
  templates/usrn/index.jsx
  templates/usrn/styles.module.css
  texts/navigation.yml
Due: yarn lint --format, prettier --write

CORE-4902 Add text
  templates/usrn/cards/header-card.jsx
  templates/usrn/cards/index.js
  templates/usrn/cards/status-card.jsx
  templates/usrn/index.jsx
  templates/usrn/styles.module.css
  texts/usrn/header.yml
  texts/usrn/index.js
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4902 Styles update
  templates/usrn/cards/header-card.jsx
  templates/usrn/cards/status-card.jsx
  templates/usrn/index.jsx
  templates/usrn/styles.module.css
  texts/usrn/header.yml
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4906: sets actions
  components/application/index.jsx
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  package-lock.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/repository.jsx
  store/data-provider/deposit-dates.js
  store/data-provider/doi.js
  store/data-provider/index.js
  store/root.js
  templates/settings/repository.jsx
Due: yarn lint --format, prettier --write

CORE-4912: show sidebar item
  templates/membership/docs.jsx
  texts/memership/membership.yml
Due: yarn lint --format

CORE-4912: show sidebar item (#677)
  templates/membership/docs.jsx
  texts/memership/membership.yml
Due: yarn lint --format

CORE-4902 Styles update
  pages/data-providers/[data-provider-id]/usrn.jsx
Due: yarn lint --format

CORE-4902 Content text, doi param
  pages/data-providers/[data-provider-id]/usrn.jsx
  templates/usrn/cards/status-card.jsx
  templates/usrn/index.jsx
  texts/usrn/status.yml
Due: yarn lint --format

CORE-4902 Content text set in component
  components/usrn-text/index.jsx
  components/usrn-text/styles.module.css
  templates/usrn/cards/status-card.jsx
  templates/usrn/styles.module.css
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4902 Update doc link
  components/upload/assets/docs.svg
  components/usrn-text/index.jsx
  components/usrn-text/styles.module.css
  templates/usrn/cards/status-card.jsx
  templates/usrn/styles.module.css
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4902 Add stat card
  components/usrn-stat/index.jsx
  components/usrn-stat/styles.module.css
  templates/usrn/cards/status-card.jsx
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4902 Add statusEnabled, clean code, add all blocks title
  components/usrn-stat/index.jsx
  components/usrn-text/index.jsx
  components/usrn-text/styles.module.css
  pages/data-providers/[data-provider-id]/usrn.jsx
  templates/usrn/cards/status-card.jsx
  templates/usrn/index.jsx
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write
