Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE-5055: add new row
  components/dropdownTableCard/article.jsx
  templates/orcid/tables/otherOrcidtableComponent.jsx
  templates/orcid/tables/tableComponent.jsx
  texts/orcid/orcid.yml
Due: yarn lint --format

hotfix, protect the settings page from missing rorData
  templates/settings/repository.jsx
Due: yarn lint --format

CORE-5136: add sw table and sidebar
  components/application/activity-select/index.jsx
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.css
  components/dashboard-settings-header/index.jsx
  components/dashboard-settings-header/styles.module.css
  components/statsCard/statsCard.jsx
  components/upload/assets/buttonArrow.svg
  components/upload/assets/cog.svg
  store/data-provider/index.js
  templates/research-software/components/settings.jsx
  templates/research-software/components/styles.module.css
  templates/research-software/index.jsx
  templates/research-software/styles.module.css
  templates/research-software/tables/readySwTable.jsx
  templates/research-software/tables/swTables.jsx
  texts/sw/sw.yml
Due: yarn lint --format, prettier --write

CORE-5055: add tooltip
  templates/orcid/index.jsx
  templates/orcid/tables/tableComponent.jsx
  texts/orcid/orcid.yml
Due: yarn lint --format

CORE-5055: fix date format
  components/dropdownTableCard/article.jsx
  texts/orcid/orcid.yml
Due: yarn lint --format

CORE-5055: fix id tooltip
  templates/orcid/styles.module.css
Due: prettier --write

CORE-5055: add orcide ids
  components/dropdownTableCard/article.jsx
  components/dropdownTableCard/styles.module.css
  store/data-provider/index.js
  templates/orcid/styles.module.css
  templates/orcid/tables/tableComponent.jsx
  texts/orcid/orcid.yml
Due: yarn lint --format, prettier --write

CORE-5055: add tooltip
  texts/orcid/orcid.yml
Due: none

CORE-5055: remove prop
  templates/orcid/index.jsx
Due: yarn lint --format

CORE-5055: add count to other orcide
  templates/orcid/tables/otherOrcidtableComponent.jsx
Due: yarn lint --format

CORE-5136: add date picker
  store/data-provider/index.js
  templates/research-software/index.jsx
  templates/research-software/styles.module.css
  templates/research-software/tables/readySwTable.jsx
  templates/research-software/tables/swTables.jsx
Due: yarn lint --format, prettier --write

Core 5055 orchide tab (#709)
  components/application/activities.js
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  components/dropdownTableCard/article.jsx
  components/dropdownTableCard/styles.module.css
  components/statsCard/statsCard.jsx
  components/statsCard/styles.module.css
  components/table/row.jsx
  components/tablev2/body.jsx
  components/tablev2/row.jsx
  components/tablev2/styles.module.css
  components/upload/assets/id.svg
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/orcid.jsx
  store/activities.js
  store/data-provider/index.js
  templates/harvesting/cards/table.module.css
  templates/orcid/index.jsx
  templates/orcid/styles.module.css
  templates/orcid/tables/orchideTable.jsx
  templates/orcid/tables/otherOrcidtableComponent.jsx
  templates/orcid/tables/tableComponent.jsx
  templates/orcid/tables/withoutOrcideTableComponent.jsx
  texts/navigation.yml
  texts/orcid/index.js
  texts/orcid/orcid.yml
Due: yarn lint --format, prettier --write

modifying orcid texts
  texts/orcid/orcid.yml
Due: none

modifying orcid texts (#716)
  texts/orcid/orcid.yml
Due: none

CORE-5207: add type restriction
  templates/orcid/index.jsx
  templates/orcid/tables/orchideTable.jsx
  templates/orcid/tables/otherOrcidtableComponent.jsx
  templates/orcid/tables/tableComponent.jsx
Due: yarn lint --format

CORE-5207: add type restriction (#717)
  templates/orcid/index.jsx
  templates/orcid/tables/orchideTable.jsx
  templates/orcid/tables/otherOrcidtableComponent.jsx
  templates/orcid/tables/tableComponent.jsx
Due: yarn lint --format

CORE-5136: pass date param to search
  templates/research-software/index.jsx
Due: yarn lint --format

CORE-5126: update sw settings
  components/checkbox/styles.module.css
  templates/research-software/components/settings.jsx
  templates/research-software/components/styles.module.css
  templates/research-software/index.jsx
  templates/research-software/styles.module.css
  templates/research-software/tables/readySwTable.jsx
  texts/sw/sw.yml
Due: yarn lint --format, prettier --write

CORE-5126: style lint update
  components/dashboard-settings-header/styles.module.css
Due: prettier --write

CORE-5136: add notification modal
  components/tablev2/tablev2.jsx
  templates/research-software/components/notificationModal.jsx
  templates/research-software/components/styles.module.css
  templates/research-software/styles.module.css
  templates/research-software/tables/readySwTable.jsx
  texts/sw/sw.yml
Due: yarn lint --format, prettier --write

CORE-5136: add csv and loading state
  store/data-provider/index.js
  templates/research-software/index.jsx
  templates/research-software/tables/readySwTable.jsx
  templates/research-software/tables/swTables.jsx
Due: yarn lint --format

CORE-5136: map over sw mentions
  templates/research-software/styles.module.css
  templates/research-software/tables/readySwTable.jsx
Due: yarn lint --format, prettier --write

CORE-5136: lint styles
  templates/research-software/styles.module.css
Due: prettier --write

sw call
  store/data-provider/index.js
Due: yarn lint --format

sw stats
  components/statsCard/statsCard.jsx
Due: yarn lint --format

CORE-5215: add feedback button with modals
  components/application/activity-select/index.jsx
  components/application/index.jsx
  components/feedback-button/index.jsx
  components/feedback-button/styles.module.css
  components/upload/assets/emailConfirmation.svg
  components/upload/assets/message.svg
  templates/harvesting/cards/harvesting-progress.jsx
  texts/feedback/feedback.yml
Due: yarn lint --format, prettier --write

CORE-5215: add params to feedback
  components/application/index.jsx
  components/feedback-button/index.jsx
Due: yarn lint --format

CORE-5215: feedback functionality
  components/application/index.jsx
  components/feedback-button/index.jsx
  store/data-provider/index.js
Due: yarn lint --format

CORE-5215: feedback button placement update
  components/feedback-button/styles.module.css
Due: prettier --write

CORE: add data-provider retrieve
  components/feedback-button/styles.module.css
Due: prettier --write

Core 5215 feedback button (#719)
  components/application/activity-select/index.jsx
  components/application/index.jsx
  components/feedback-button/index.jsx
  components/feedback-button/styles.module.css
  components/upload/assets/emailConfirmation.svg
  components/upload/assets/message.svg
  store/data-provider/index.js
  templates/harvesting/cards/harvesting-progress.jsx
  texts/feedback/feedback.yml
Due: yarn lint --format, prettier --write

CORE: update design version
  package-lock.json
  package.json
Due: prettier --write

change deploying to container app, change dockerfile
  .github/workflows/deploy.yml
  Dockerfile
Due: none

CORE: remove beta
  templates/orcid/index.jsx
Due: yarn lint --format

CORE: remove beta (#720)
  templates/orcid/index.jsx
Due: yarn lint --format

Fix ror id
  templates/settings/general.jsx
Due: yarn lint --format

Fix ror id (#721)
  templates/settings/general.jsx
Due: yarn lint --format

Add userEmail
  templates/sdg/index.jsx
Due: yarn lint --format

Add emailUser
  store/data-provider/index.js
Due: yarn lint --format

Update index.jsx
  templates/sdg/index.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
