Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Develop context-dependent Section component
  components/content/context.js
  components/content/heading.jsx
  components/content/index.js
  components/content/section.jsx
Due: yarn lint --format

Add Terms and Conditions page
  pages/_app/index.jsx
  pages/terms.jsx
  pages/terms.module.css
  texts/index.js
  texts/legal/index.js
  texts/legal/terms.mdx
Due: yarn lint --format, prettier --write

Fix invalid prop name '0' and its SSR issue 🤦‍♂️ 😄
  pages/terms.jsx
Due: yarn lint --format

Add T&C link to registration form
  public/secure/invitation.css
  public/secure/invitation.html
Due: prettier --write

Add TOC modal
  next.config.js
  pages/_app/index.jsx
  store/data-provider/index.js
  templates/terms-modal/index.jsx
  templates/terms-modal/styles.module.css
Due: yarn lint --format, prettier --write

Fix reset password form height
  pages/reset/styles.module.css
Due: prettier --write

Add required IDs to TextFields
  components/forms/request-premium/index.jsx
  components/table/table.jsx
  pages/reset/index.jsx
  templates/settings/index.jsx
Due: yarn lint --format

Install and setup MDX
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Fix hidden label
  components/forms/invitation-register/styles.module.css
  public/secure/invitation.css
  public/secure/invitation.html
Due: prettier --write

Migrate to lockfile v2
  package-lock.json
Due: prettier --write

Remove source maps plugin
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Remove source map loader for 3th party
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Move ResizeObserver to iframe
  components/forms/change-password/index.jsx
  components/forms/iframe-form.jsx
  components/forms/invitation-register/index.jsx
  components/forms/styles.module.css
  package.json
  pages/login.jsx
  public/secure/invitation.html
  public/secure/login.html
  public/secure/reset.html
  public/secure/resize.js
  utils/sentry.js
Due: yarn lint --format, prettier --write

Escape search string
  components/table/select.jsx
  package-lock.json
  package.json
  store/root.js
Due: yarn lint --format, prettier --write

Bump next
  package-lock.json
  package.json
Due: prettier --write

Bump eslint
  package-lock.json
  package.json
Due: prettier --write

Bump core-js
  babel.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Bump @sentry/browser
  package-lock.json
  package.json
Due: prettier --write

Bump react-ga
  package-lock.json
  package.json
Due: prettier --write

Bump stylelint
  package-lock.json
  package.json
Due: prettier --write

Bump @babel/core
  package-lock.json
  package.json
Due: prettier --write

Bump prettier
  package-lock.json
  package.json
Due: prettier --write

Bump @babel/preset-env
  package-lock.json
  package.json
Due: prettier --write

Bump @babel/preset-react
  package-lock.json
  package.json
Due: prettier --write

Bump lint-staged
  package-lock.json
  package.json
Due: prettier --write

Bump @oacore/design
  components/layout/app-bar.jsx
  components/layout/styles.module.css
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Bump packages (#549)
  babel.config.js
  components/layout/app-bar.jsx
  components/layout/styles.module.css
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Update the missing REF data error message
  design.config.js
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
