Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Remove dotenv (#145)
  .env.example
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Fix Content-Security-Policy for root domains (#144)
  pages/_app/index.jsx
Due: yarn lint --format

Remove 'git add' from lint-staged config (#143)
  .lintstagedrc
Due: none

Allow to copy text in table (#141)
  components/table/index.jsx
Due: yarn lint --format

Create LinkedList helper
  store/helpers/linkedList/index.js
  store/helpers/linkedList/linkedList.js
  store/helpers/linkedList/linkedListNode.js
Due: yarn lint --format

Fix linter (unnamed function)
  store/helpers/invalidatePreviousRequests.js
Due: yarn lint --format

Create Pages abstraction
  store/helpers/pages/pages.js
Due: yarn lint --format

Move Page class to pages folder
  store/helpers/pages/index.js
  store/helpers/pages/page.js
  store/helpers/pages/pages.js
Due: yarn lint --format

Don't fetch data in table component
  components/table/index.jsx
Due: yarn lint --format

Load data in store for content table
  pages/data-providers/[data-provider-id]/content.jsx
  store/works.js
Due: yarn lint --format

Load data in store for deposit dates table
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/deposit-dates.js
Due: yarn lint --format

Remove unused method
  store/helpers/linkedList/linkedList.js
Due: yarn lint --format

Move linkedList to utils
  store/helpers/pages/pages.js
  utils/linkedList/index.js
  utils/linkedList/linkedList.js
  utils/linkedList/linkedListNode.js
Due: yarn lint --format

Show no data found when 404
  store/helpers/pages/pages.js
Due: yarn lint --format

Fix falsy next action when search changes
  components/table/index.jsx
Due: yarn lint --format

Move default export to the end of file
  store/deposit-dates.js
  store/helpers/pages/pages.js
Due: yarn lint --format

Move data fetch from Table to Store (#146)
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/deposit-dates.js
  store/helpers/invalidatePreviousRequests.js
  store/helpers/pages/index.js
  store/helpers/pages/page.js
  store/helpers/pages/pages.js
  store/works.js
  utils/linkedList/index.js
  utils/linkedList/linkedList.js
  utils/linkedList/linkedListNode.js
Due: yarn lint --format

Fix row look when expanded
  components/table/TableRow.jsx
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Redirect to CORE display page when fulltext doesn't exist
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Redirect to CORE display page from deposit dates table
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/helpers/pages/pages.js
Due: yarn lint --format

Fixes after review
  components/document-link/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Redirect to CORE display page when fulltext doesn't exist
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Redirect to display page in tables (#147)
  components/document-link/index.jsx
  components/table/TableRow.jsx
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/helpers/pages/pages.js
Due: yarn lint --format

Fix CSP for styles
  pages/_app/index.css
  pages/_app/index.jsx
Due: yarn lint --format, prettier --write

Allow to pass body to apiRequest
  api/index.js
Due: yarn lint --format

Bump @oacore/configs
  components/application/activity-select/index.jsx
  components/table/TableRow.jsx
  components/time-lag-chart/index.jsx
  design/alert/index.jsx
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Fix CSP for styles (#150)
  pages/_app/index.css
  pages/_app/index.jsx
Due: yarn lint --format, prettier --write

Bump @oacore/configs (#151)
  components/application/activity-select/index.jsx
  components/table/TableRow.jsx
  components/time-lag-chart/index.jsx
  design/alert/index.jsx
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Ignore body for HEAD method in API requests
  api/index.js
Due: yarn lint --format

Bump @oacore/design
  components/application/activity-select/index.jsx
  package-lock.json
  package.json
  public/icons/calendar-check.svg
  public/icons/dashboard.svg
  public/icons/document.svg
Due: yarn lint --format, prettier --write

Bump @oacore/design (#153)
  components/application/activity-select/index.jsx
  package-lock.json
  package.json
  public/icons/calendar-check.svg
  public/icons/dashboard.svg
  public/icons/document.svg
Due: yarn lint --format, prettier --write

Remove -f option if posinstall cp script
  package.json
Due: prettier --write

Fix activity detecting from the URL
  components/application/route.js
Due: yarn lint --format

Enable Markdown heading slugs
  components/markdown.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Remove Plugin component
  components/plugin/index.css
  components/plugin/index.jsx
Due: yarn lint --format, prettier --write

Develop Plugins
  components/application/activity-select/index.jsx
  components/application/index.jsx
  pages/data-providers/[data-provider-id]/plugins.jsx
  pages/data-providers/[data-provider-id]/plugins/discovery.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  pages/data-providers/[data-provider-id]/plugins/plugins.css
  pages/data-providers/[data-provider-id]/plugins/recommender.jsx
  store/activities.js
  store/root.js
  texts/plugins/discovery.md
  texts/plugins/index.js
  texts/plugins/overview.yml
  texts/plugins/recommender.md
Due: yarn lint --format, prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
