Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE: fix indexing view (#732)
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
  templates/validator/RIoxValidator/RIoxValidator.jsx
Due: yarn lint --format, prettier --write

added https to api into csp conf
  csp.config.js
Due: yarn lint --format

Remove api.core.ac.uk from CSP connect-src
  csp.config.js
Due: yarn lint --format

CORE-5136: temp sw view
  components/statsCard/statsCard.jsx
  templates/das/index.jsx
  templates/das/styles.module.css
  templates/research-software/components/notificationModal.jsx
  templates/research-software/components/styles.module.css
  templates/research-software/index.jsx
  templates/research-software/styles.module.css
  templates/rrs-policy/index.jsx
  templates/rrs-policy/styles.module.css
  texts/sw/sw.yml
Due: yarn lint --format, prettier --write

CORE-5136: temp sw color
  templates/research-software/styles.module.css
Due: prettier --write

CORE-5136: update review table logic
  components/statsCard/statsCard.jsx
Due: yarn lint --format

CORE-5255: update issues
  texts/issues/messages.yml
Due: none

CORE-5255: update issues (#736)
  texts/issues/messages.yml
Due: none

Rename workflow for Azure production deployment
  .github/workflows/prod-deploy.yml
Due: none

CORE: update restricted tabs
  components/application/index.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

CORE: update compliance issue
  templates/deposit-compliance/cards/table-card.jsx
Due: yarn lint --format

CORE: update restricted tabs (#737)
  components/application/index.jsx
  templates/deposit-compliance/cards/table-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

CORE: update issue list view
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

CORE: update issue list view (#738)
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

CORE: remove temp message
  components/forms/iframe-form.jsx
  components/forms/styles.module.css
Due: yarn lint --format, prettier --write

CORE: wording quick fix
  templates/overview/index.jsx
Due: yarn lint --format

CORE: wording quick fix (#739)
  templates/overview/index.jsx
Due: yarn lint --format

Update prod-deploy.yml
  .github/workflows/prod-deploy.yml
Due: none

Create prod-deploy.yml
  .github/workflows/prod-deploy.yml
Due: none

add remote trigger
  .github/workflows/stage-deploy.yml
Due: none

Update stage-deploy.yml
  .github/workflows/stage-deploy.yml
Due: none

CORE: fix tutorial placement
  components/application/activity-select/index.jsx
  components/application/index.jsx
  components/dashboard-tutorial/dashboardGuide.jsx
  components/dashboard-tutorial/styles.module.css
  templates/overview/index.jsx
Due: yarn lint --format, prettier --write

CORE: fix tutorial placement (#740)
  components/application/activity-select/index.jsx
  components/application/index.jsx
  components/dashboard-tutorial/dashboardGuide.jsx
  components/dashboard-tutorial/styles.module.css
  templates/overview/index.jsx
Due: yarn lint --format, prettier --write

CORE-5301: fix loading indicator
  templates/harvesting/cards/harvesting-progress.jsx
Due: yarn lint --format

CORE-5301: fix loading indicator (#741)
  templates/harvesting/cards/harvesting-progress.jsx
Due: yarn lint --format

CORE-5300: update sidebar nav
  components/application/activities.js
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  package-lock.json
  package.json
  texts/navigation.yml
Due: yarn lint --format, prettier --write

CORE: fix lint issues
  components/application/activity-select/styles.module.css
Due: prettier --write

CORE-5300: update sidebar nav (#742)
  components/application/activities.js
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  package-lock.json
  package.json
  texts/navigation.yml
Due: yarn lint --format, prettier --write

CORE: add missing id
  templates/settings/cards/notificationPopUp.jsx
Due: yarn lint --format

CORE: add missing id (#743)
  templates/settings/cards/notificationPopUp.jsx
Due: yarn lint --format

CORE: fix notification check logic
  components/application/index.jsx
  templates/settings/cards/notificationPopUp.jsx
Due: yarn lint --format

CORE: fix notification check logic (#744)
  components/application/index.jsx
  templates/settings/cards/notificationPopUp.jsx
Due: yarn lint --format

CORE: fix link
  templates/overview/index.jsx
Due: yarn lint --format

CORE: fix link (#745)
  templates/overview/index.jsx
Due: yarn lint --format

Add GitHub Actions workflow for Azure deployment
  .github/workflows/prod-stg-deploy.yml
Due: none

CORE: add ror name fix
  components/input-select/input-select.jsx
Due: yarn lint --format

CORE: add ror name fix (#746)
  components/input-select/input-select.jsx
Due: yarn lint --format

Rename prod-deploy.yml to prod-deploy.yml.old
  .github/workflows/prod-deploy.yml.old
Due: none

Enhance deployment workflow with scheduled trigger
  .github/workflows/prod-stg-deploy.yml
Due: none

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
