Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE-4902 Add IRUS chars, add default status
  components/usrn-stat/index.jsx
  components/usrn-stat/styles.module.css
  templates/usrn/cards/status-card.jsx
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4902 Style update
  components/usrn-stat/index.jsx
  components/usrn-stat/styles.module.css
  pages/data-providers/[data-provider-id]/usrn.jsx
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4906: add set calls
  components/application/repository-select.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  store/data-provider/deposit-dates.js
  store/data-provider/doi.js
  store/data-provider/index.js
  store/data-provider/works.js
  store/helpers/pages/pages.js
  store/issues.js
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/index.jsx
Due: yarn lint --format

CORE-4902 USRN endoint fetch
  components/usrn-stat/index.jsx
  pages/data-providers/[data-provider-id]/usrn.jsx
  store/data-provider/index.js
  templates/usrn/cards/status-card.jsx
  templates/usrn/styles.module.css
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4902 Add recommendation
  components/usrn-stat/index.jsx
  components/usrn-stat/styles.module.css
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4906: add sets logic n table component
  components/application/index.jsx
  components/application/repository-select.jsx
  components/table/hooks/use-dynamic-data.js
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
  store/data-provider/deposit-dates.js
  store/data-provider/doi.js
  store/data-provider/works.js
  store/helpers/pages/pages.js
  store/root.js
  templates/content/cards/table-card.jsx
  templates/content/index.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format

CORE-4902 Turn on Empty sertificates
  components/usrn-stat/index.jsx
  texts/usrn/status.yml
Due: yarn lint --format

CORE: fix harvesting api issue
  store/root.js
Due: yarn lint --format

CORE: fix harvesting api issue (#679)
  store/root.js
Due: yarn lint --format

Core 4880 new table (#676)
  components/table/header.jsx
  components/table/table.jsx
  components/tablev2/body.jsx
  components/tablev2/footer.jsx
  components/tablev2/header.jsx
  components/tablev2/row.jsx
  components/tablev2/styles.module.css
  components/tablev2/tablev2.jsx
  pages/data-providers/[data-provider-id]/deduplication.jsx
  store/data-provider/index.js
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format, prettier --write

CORE-4906: add loading state for actions
  pages/data-providers/[data-provider-id]/repository.jsx
  store/root.js
  templates/settings/repository.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4906:code clean up
  components/application/repository-select.jsx
  store/data-provider/index.js
  store/data-provider/works.js
  store/issues.js
  store/root.js
  templates/settings/repository.jsx
Due: yarn lint --format

CORE-4906: add style to selector
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  components/upload/assets/close.svg
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format, prettier --write

update packages
  package-lock.json
  package.json
Due: prettier --write

CORE-4906: prev lock
  package-lock.json
  package.json
Due: prettier --write

CORE: test root store
  store/root.js
Due: yarn lint --format

CORE: test root store (#681)
  store/root.js
Due: yarn lint --format

CORE-4902 Hide an empty date
  templates/usrn/cards/status-card.jsx
Due: yarn lint --format

CORE-4906: test add minor files
  components/application/repository-select.module.css
  components/upload/assets/close.svg
  components/upload/assets/dropdownArrow.svg
  components/upload/assets/removeBin.svg
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: prettier --write

CORE-4906: test add set calls
  store/root.js
Due: yarn lint --format

CORE-4906: test add works store
  pages/data-providers/[data-provider-id]/content.jsx
  store/data-provider/works.js
Due: yarn lint --format

CORE-4906: test add doi store
  pages/data-providers/[data-provider-id]/doi.jsx
  store/data-provider/doi.js
Due: yarn lint --format

CORE-4906: test add providers store
  store/data-provider/deposit-dates.js
  store/data-provider/index.js
Due: yarn lint --format

CORE-4906: test add props to repository page
  pages/data-providers/[data-provider-id]/repository.jsx
  templates/content/index.jsx
Due: yarn lint --format

CORE-4906: test remove store invalid prop
  store/helpers/pages/pages.js
Due: yarn lint --format

CORE-4906: test content card prop update
  templates/content/cards/table-card.jsx
Due: yarn lint --format

CORE-4906: test update deduplication
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/index.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format

CORE-4906: test add sets in settings
  templates/settings/repository.jsx
Due: yarn lint --format

CORE-4906: test issue select
  components/application/repository-select.jsx
Due: yarn lint --format

CORE-4906: test issue select
  templates/settings/styles.module.css
Due: prettier --write

add selected item view
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  components/upload/assets/closeLight.svg
Due: yarn lint --format, prettier --write

add style fix
  components/application/repository-select.module.css
Due: prettier --write

CORE-4906: add search to set list
  templates/settings/repository.jsx
Due: yarn lint --format

CORE-4906: add input search on set header
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  templates/settings/repository.jsx
Due: yarn lint --format, prettier --write

CORE-4906: add set indicators on table and cards
  components/application/repository-select.jsx
  components/textWithTooltip/styles.module.css
  components/textWithTooltip/textWithtooltip.jsx
  components/upload/assets/checkGreen.svg
  store/data-provider/deposit-dates.js
  store/data-provider/doi.js
  store/data-provider/index.js
  store/data-provider/works.js
  templates/content/cards/table-card.jsx
  templates/content/styles.module.css
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deposit-compliance/cards/data-overview-card.jsx
  templates/deposit-compliance/cards/deposit-time-lag-card.jsx
  templates/deposit-compliance/styles.module.css
  templates/doi/cards/coverage-card.jsx
  templates/doi/cards/table-card.jsx
  templates/doi/styles.module.css
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format, prettier --write

CORE-4906: style issue
  templates/doi/styles.module.css
Due: prettier --write

package test
  package-lock.json
Due: prettier --write

CORE-4906: add selected item style
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  components/upload/assets/closeLight.svg
Due: yarn lint --format, prettier --write

CORE-4906: add search on list set
  templates/settings/repository.jsx
Due: yarn lint --format

CORE-4906: add search on selector
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  templates/settings/repository.jsx
Due: yarn lint --format, prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
