Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Fix table sidebar width
  components/table/styles.module.css
  pages/data-providers/[data-provider-id]/content.module.css
Due: prettier --write

Observe iframe body after is loaded
  components/forms/iframe-form.jsx
Due: yarn lint --format

Use correct number of new DOIs records
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format

Fix wording
  components/forms/change-password/index.jsx
  public/secure/reset.html
  texts/depositing/cross-repository-check.md
Due: yarn lint --format

Show correct message when user logs out
  public/secure/login.js
Due: yarn lint --format

Redirect to login when user reset password
  public/secure/login.js
  public/secure/reset.js
Due: yarn lint --format

Replace mobx-react with lite version
  components/table/column.jsx
  components/table/row.jsx
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/content.jsx
  store/index.jsx
Due: yarn lint --format, prettier --write

Add generic Resource
  store/resource.js
Due: yarn lint --format

Improve User
  store/errors.js
  store/root.js
  store/user.js
  store/user/base.js
  store/user/dashboard.js
  store/user/index.js
Due: yarn lint --format

Add DataProvider entity
  store/data-provider.js
Due: yarn lint --format

Bump @oacore/design
  package-lock.json
  package.json
  public/secure/invitation.css
  public/secure/reset.css
Due: prettier --write

Fix loading state of non-compliant count
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  store/deposit-dates.js
Due: yarn lint --format

Use Observer batching
  pages/_app/index.jsx
Due: yarn lint --format

Use correct heading for Cards
  components/forms/change-password/index.jsx
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
Due: yarn lint --format

Move table title outside of table component
  components/table/table.jsx
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format

Show status icon for publication dates
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/deposit-compliance.module.css
Due: yarn lint --format, prettier --write

Format numbers in cross repository check card
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
Due: yarn lint --format

Show better description when all outputs are (non) compliant
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  texts/depositing/index.js
  texts/depositing/overview.yml
Due: yarn lint --format

Update texts/depositing/overview.yml
  texts/depositing/overview.yml
Due: none

Show better description when all outputs are (non) compliant (#291)
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  texts/depositing/index.js
  texts/depositing/overview.yml
Due: yarn lint --format

Improve loading message for cross repository check
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
Due: yarn lint --format

Disable export while request is being processed
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
Due: yarn lint --format

Hide publication dates chart or specific bars if there is no data
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format

Hide publication dates chart or specific bars if there is no data (#294)
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format

Hide cross repository check card on phone screens
  pages/data-providers/[data-provider-id]/deposit-compliance.module.css
Due: prettier --write

Change publication date matching status field name
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
Due: yarn lint --format

Unify export-button captions
  texts/depositing/export.yml
  texts/doi/export.yml
Due: none

Hide cross repository check card on phone screens (#295)
  pages/data-providers/[data-provider-id]/deposit-compliance.module.css
Due: prettier --write

Unify export-button captions (#296)
  texts/depositing/export.yml
  texts/doi/export.yml
Due: none

Use text field in select
  design/select/index.jsx
Due: yarn lint --format

Make select overlay optional
  components/application/repository-select.jsx
  design/select/index.jsx
Due: yarn lint --format

Move dropdown icon to select component
  components/application/repository-select.module.css
  design/select/styles.module.css
Due: prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
