Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Bump @oacore/design
  components/time-lag-chart/index.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Styling fixes
  components/table/index.css
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Add styling & handling for taken down paper
  components/table/Sidebar.jsx
  components/takedown/index.jsx
  components/takedown/styles.css
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Fix bar color of time lag chart
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Fix components with duplicate key prop
  components/table/index.jsx
Due: yarn lint --format

WIP: Layout
  components/layout/styles.css
Due: prettier --write

Show logo on login screen for mobile devices
  components/application/index.jsx
  components/layout/app-bar.jsx
  components/layout/styles.css
  pages/_app/index.jsx
Due: yarn lint --format, prettier --write

Pass loading state to application
  components/application/index.jsx
  components/application/styles.css
  pages/_app/index.jsx
Due: yarn lint --format, prettier --write

Calculate requests count in root store
  store/deposit-dates.js
  store/helpers/pages/pages.js
  store/root.js
  store/store.js
  store/user.js
  store/works.js
Due: yarn lint --format

Add LoadingBar component
  components/loading-bar/index.jsx
  components/loading-bar/styles.css
Due: yarn lint --format, prettier --write

Fix postInstall script
  package.json
Due: prettier --write

Limit width of user email in the AppBar
  components/application/logout.css
  components/application/logout.jsx
Due: yarn lint --format, prettier --write

Obfuscate invalid sorting directions
  store/helpers/order.js
Due: yarn lint --format

Improve Table.Column order checking
  components/table/index.jsx
Due: yarn lint --format

Allow to sort by OAI and author
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Remove extra } in request order param processing
  store/helpers/order.js
Due: yarn lint --format

Add Overlay opacity if backdrop filter not supported
  design/overlay/index.css
Due: prettier --write

Pass blur to Placeholder's Overlay on Overview
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Measure speed of endpoints
  pages/_app/index.jsx
  store/root.js
  utils/analytics.js
Due: yarn lint --format

Add DOIs tab to navigation
  store/activities.js
  texts/navigation.yml
Due: yarn lint --format

Create DOIs page
  components/export-button/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/doi.css
  pages/data-providers/[data-provider-id]/doi.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  store/activities.js
  store/doi.js
  store/root.js
  texts/doi/export.yml
  texts/doi/index.js
  texts/navigation.yml
Due: yarn lint --format, prettier --write

Redirect to DOI tab from overview
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Move RadialChart to components
  components/performance-chart/index.jsx
  components/performance-chart/styles.css
  pages/data-providers/[data-provider-id]/overview.css
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format, prettier --write

Create global component from Num
  components/numeric-value/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Improve DOI column
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Fix DOI column
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format

Add a second bar to the PerformanceChart
  components/performance-chart/index.jsx
Due: yarn lint --format

Develop EnrichmentChart component
  components/enrichment-chart/index.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
