Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

style issues
  templates/overview/styles.module.css
Due: prettier --write

CORE-4954: add license section
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4954: dropdown
  components/upload/assets/dropdownArrow.svg
  templates/settings/repository.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4906: warning color
  templates/overview/cards/overview-card.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

Core 4906 UI for sets (#680)
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  components/table/hooks/use-dynamic-data.js
  components/textWithTooltip/styles.module.css
  components/textWithTooltip/textWithtooltip.jsx
  components/upload/assets/checkGreen.svg
  components/upload/assets/close.svg
  components/upload/assets/closeLight.svg
  components/upload/assets/dropdownArrow.svg
  components/upload/assets/folder.svg
  components/upload/assets/removeBin.svg
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
  pages/data-providers/[data-provider-id]/repository.jsx
  store/data-provider/deposit-dates.js
  store/data-provider/doi.js
  store/data-provider/index.js
  store/data-provider/works.js
  store/helpers/pages/pages.js
  store/root.js
  templates/content/cards/table-card.jsx
  templates/content/index.jsx
  templates/content/styles.module.css
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/index.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deposit-compliance/cards/deposit-time-lag-card.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
  templates/overview/cards/irus-card.jsx
  templates/overview/cards/overview-card.jsx
  templates/overview/cards/rioxx-card.jsx
  templates/overview/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/issues/issues.yml
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4954: add modal
  pages/data-providers/[data-provider-id]/repository.jsx
  store/root.js
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

update design version
  package-lock.json
  package.json
Due: prettier --write

update design version (#688)
  package-lock.json
  package.json
Due: prettier --write

CORE: token issue
  templates/overview/cards/overview-card.jsx
Due: yarn lint --format

CORE: token issue (#689)
  templates/overview/cards/overview-card.jsx
Due: yarn lint --format

test token
  components/layout/side-bar.jsx
Due: yarn lint --format

test token (#690)
  components/layout/side-bar.jsx
Due: yarn lint --format

CORE-4968: add responsive docs
  templates/membership/docs-styles.module.css
  templates/membership/docs.jsx
  templates/membershipDocumentationNav/styles.module.css
Due: yarn lint --format, prettier --write

fix lint issues
  templates/membership/docs-styles.module.css
Due: prettier --write

CORE-4968: add responsive docs (#691)
  templates/membership/docs-styles.module.css
  templates/membership/docs.jsx
  templates/membershipDocumentationNav/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4954: add license in settings
  pages/data-providers/[data-provider-id]/repository.jsx
  store/root.js
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4954: add option click
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4898: add date
  templates/fresh-finds/tables/freshFindsTable.jsx
Due: yarn lint --format

CORE-4954: update text
  texts/settings/settings.yml
Due: none

Core 4954 settings for license (#692)
  pages/data-providers/[data-provider-id]/repository.jsx
  store/root.js
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4902: Fix licenses
  components/usrn-stat/index.jsx
  pages/data-providers/[data-provider-id]/usrn.jsx
  texts/usrn/status.yml
Due: yarn lint --format

CORE-4902: Prefix fix
  components/usrn-stat/index.jsx
Due: yarn lint --format

CORE-4902: Fix embargoedDocuments
  pages/data-providers/[data-provider-id]/usrn.jsx
Due: yarn lint --format

CORE-4902: Fix vocabulariesCOAR
  components/usrn-stat/index.jsx
Due: yarn lint --format

CORE: update api call
  store/root.js
Due: yarn lint --format

CORE: update api call (#693)
  store/root.js
Due: yarn lint --format

CORE-4902: Update
  components/usrn-stat/index.jsx
  components/usrn-stat/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4902: Update
  components/usrn-stat/index.jsx
Due: yarn lint --format

usrn text
  texts/usrn/status.yml
Due: none

CORE-4902: Fix text
  components/usrn-stat/index.jsx
  texts/usrn/status.yml
Due: yarn lint --format

Change develop to WIP
  components/usrn-stat/index.jsx
Due: yarn lint --format

CORE-4902: Link update
  components/usrn-stat/index.jsx
  texts/usrn/status.yml
Due: yarn lint --format

tweak the checks to look correctly
  components/usrn-stat/index.jsx
  texts/usrn/status.yml
Due: yarn lint --format

CORE-4972: add not harvested view
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  components/application/index.jsx
  components/upload/assets/placeholderChart.svg
  store/issues.js
  templates/content/index.jsx
  templates/deduplication/index.jsx
  templates/deposit-compliance/index.jsx
  templates/doi/index.jsx
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/index.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  templates/rrs-policy/index.jsx
  utils/allowedRouteGuards.jsx
Due: yarn lint --format, prettier --write

CORE-4972: remove roat gard
  templates/content/index.jsx
  templates/deduplication/index.jsx
  templates/deposit-compliance/index.jsx
  templates/doi/index.jsx
  templates/harvesting/index.jsx
  templates/rrs-policy/index.jsx
  utils/allowedRouteGuards.jsx
Due: yarn lint --format

CORE-4972: add not harvested view (#694)
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  components/application/index.jsx
  components/upload/assets/placeholderChart.svg
  store/issues.js
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/index.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4902: Text update
  texts/usrn/status.yml
Due: none

CORE-4990: add error view
  pages/data-providers/[data-provider-id]/deduplication.jsx
  pages/data-providers/[data-provider-id]/indexing.jsx
  store/issues.js
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/cards/harvesting-status-card.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

CORE: disabled tabs issue
  components/application/index.jsx
Due: yarn lint --format

CORE: disabled tabs issue (#695)
  components/application/index.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
