Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

[bugfix] Babel runtime
  babel.config.js
  components/forms/change-password/index.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

[bugfix] Babel runtime (#602)
  babel.config.js
  components/forms/change-password/index.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

CORE-4453 update terms
  components/application/terms-condition.jsx
  components/application/terms-condition.module.css
  package-lock.json
Due: yarn lint --format, prettier --write

CORE-4453 update terms (#605)
  components/application/terms-condition.jsx
  components/application/terms-condition.module.css
  package-lock.json
Due: yarn lint --format, prettier --write

CORE-4430 update redirect
  components/application/index.jsx
  components/dashboard-tutorial/dashboard-tutorial.store.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

feat: CORE-4430 add dashboard tutorial (#598)
  .github/workflows/pull-request-check.yml
  components/application/index.jsx
  components/application/styles.module.css
  components/dashboard-tutorial/dashboardGuide.jsx
  components/dashboard-tutorial/dashboardGuideContent.jsx
  components/dashboard-tutorial/styles.module.css
  components/upload/assets/ArrowLeft.svg
  components/upload/assets/ArrowRight.svg
  components/upload/assets/imagePlaceholder.svg
  components/upload/assets/images/stepFirst.png
  components/upload/assets/images/stepFour.png
  components/upload/assets/images/stepThree.png
  components/upload/assets/images/stepTwo.png
  components/upload/assets/modalArrow.svg
  components/upload/assets/restart.svg
  package.json
  pages/_app/hooks.js
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  store/root.js
  templates/deposit-compliance/index.jsx
  templates/overview/index.jsx
  templates/settings/index.jsx
  texts/depositing/dashboard-guide.yml
  texts/depositing/index.js
  utils/hooks/use-clickoutside.js
Due: yarn lint --format, prettier --write

hotfix, fix percentage in coveragecard
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format

CORE-4430 update files
  components/dashboard-tutorial/dashboardGuide.jsx
  components/upload/assets/images/stepFirst.png
  components/upload/assets/images/stepFour.png
  components/upload/assets/images/stepThree.png
  components/upload/assets/images/stepTwo.png
  components/upload/assets/stepFirst.svg
  components/upload/assets/stepFour.svg
  components/upload/assets/stepThree.svg
  components/upload/assets/stepTwo.svg
  package-lock.json
Due: yarn lint --format, prettier --write

CORE-4430 update files (#607)
  components/dashboard-tutorial/dashboardGuide.jsx
  components/upload/assets/images/stepFirst.png
  components/upload/assets/images/stepFour.png
  components/upload/assets/images/stepThree.png
  components/upload/assets/images/stepTwo.png
  components/upload/assets/stepFirst.svg
  components/upload/assets/stepFour.svg
  components/upload/assets/stepThree.svg
  components/upload/assets/stepTwo.svg
  package-lock.json
Due: yarn lint --format, prettier --write

CORE-4454 DOI page updates
  components/access-placeholder/AccessPlaceholder.jsx
  components/access-placeholder/styles.module.css
  pages/data-providers/[data-provider-id]/doi.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  templates/doi/index.jsx
  templates/overview/cards/doi-card.jsx
  texts/doi/coverage.md
  texts/doi/overview.yml
  utils/helpers.js
Due: yarn lint --format, prettier --write

CORE-4454 DOI page updates (#608)
  components/access-placeholder/AccessPlaceholder.jsx
  components/access-placeholder/styles.module.css
  pages/data-providers/[data-provider-id]/doi.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  templates/doi/index.jsx
  templates/overview/cards/doi-card.jsx
  texts/doi/coverage.md
  texts/doi/overview.yml
  utils/helpers.js
Due: yarn lint --format, prettier --write

[CORE-4431] Fix images
  csp.config.js
  pages/documentation/index.jsx
Due: yarn lint --format

CORE-4431 implement membership documentation
  components/upload/assets/activeArrow.svg
  package-lock.json
  pages/data-providers/[data-provider-id]/membership.jsx
  pages/documentation/index.jsx
  templates/documentation/membership/index.jsx
  templates/documentation/membership/styles.module.css
  templates/membership/index.jsx
  templates/membershipDocumentationNav/index.jsx
  templates/membershipDocumentationNav/styles.module.css
  texts/memership/membership.yml
Due: yarn lint --format, prettier --write

add active item
  templates/documentation/membership/index.jsx
  templates/documentation/membership/styles.module.css
  templates/membershipDocumentationNav/index.jsx
  templates/membershipDocumentationNav/styles.module.css
Due: yarn lint --format, prettier --write

update package lock
  package-lock.json
Due: prettier --write

Core 4431 membership documentation (#609)
  .gitignore
  components/upload/assets/activeArrow.svg
  content/index.js
  csp.config.js
  next.config.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/membership.jsx
  pages/documentation/index.jsx
  templates/documentation/membership/index.jsx
  templates/documentation/membership/styles.module.css
  templates/membership/index.jsx
  templates/membershipDocumentationNav/index.jsx
  templates/membershipDocumentationNav/styles.module.css
  texts/memership/membership.yml
Due: yarn lint --format, prettier --write

[feature] new docs fields
  templates/documentation/membership/index.jsx
Due: yarn lint --format

[feature] Template optimisation
  pages/data-providers/[data-provider-id]/membership.jsx
  pages/documentation/index.jsx
  templates/membership/docs-styles.module.css
  templates/membership/docs.jsx
  templates/membership/index.jsx
Due: yarn lint --format, prettier --write

[feature] Config fix
  csp.config.js
Due: yarn lint --format

[feature] new docs fields (#611)
  csp.config.js
  pages/data-providers/[data-provider-id]/membership.jsx
  pages/documentation/index.jsx
  templates/membership/docs-styles.module.css
  templates/membership/docs.jsx
  templates/membership/index.jsx
Due: yarn lint --format, prettier --write

update documentation text
  pages/data-providers/[data-provider-id]/membership.jsx
  templates/membership/docs.jsx
Due: yarn lint --format

update documentation text (#612)
  pages/data-providers/[data-provider-id]/membership.jsx
  templates/membership/docs.jsx
Due: yarn lint --format

[bugfix] dom key fix
  pages/data-providers/[data-provider-id]/membership.jsx
  templates/membership/docs.jsx
Due: yarn lint --format

[bugfix] dom key fix (#613)
  pages/data-providers/[data-provider-id]/membership.jsx
  templates/membership/docs.jsx
Due: yarn lint --format

HOTIFIX, improve messaging in dashboard
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
  texts/depositing/cross-repository-check/success.md
Due: yarn lint --format

HOTFIX: membership status needs to be connected to organisation
  pages/data-providers/[data-provider-id]/doi.jsx
  templates/deposit-compliance/index.jsx
  templates/doi/index.jsx
  utils/helpers.js
Due: yarn lint --format

fix user name anonymous issue
  components/application/logout.jsx
Due: yarn lint --format

fix api url issue for csv download
  store/data-provider/doi.js
Due: yarn lint --format

HOTFIX, issues need globalscount not total
  pages/data-providers/[data-provider-id]/harvesting.jsx
Due: yarn lint --format

[CORE-4404] Add form
  pages/data-providers/[data-provider-id]/settings.jsx
  store/organisation.js
  templates/settings/index.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

[bugfix] Fix harvesting
  utils/helpers.js
Due: yarn lint --format

[bugfix] Fix harvesting (#614)
  utils/helpers.js
Due: yarn lint --format

HOTFIX, change the number of issues to issue types
  pages/data-providers/[data-provider-id]/harvesting.jsx
  templates/harvesting/cards/harvesting-status-card.jsx
  templates/harvesting/index.jsx
Due: yarn lint --format

[CORE-4404] Styles update
  templates/settings/styles.module.css
Due: prettier --write

update issue messaging: typos and clarifications
  texts/issues/issues.yml
  texts/issues/messages.yml
Due: none

[CORE-4404] Add invitaation delete
  pages/data-providers/[data-provider-id]/settings.jsx
  store/invitation.js
  store/root.js
  templates/settings/index.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

[CORE-4404] Add confirm modal
  templates/settings/confirmation.jsx
  templates/settings/index.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write
