Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Add MD files module and adapt text on Plugins page
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/plugins.jsx
  texts/index.js
  texts/plugins/discovery.md
  texts/plugins/index.js
  texts/plugins/recommender.md
Due: yarn lint --format, prettier --write

Fix package-lock.json
  package-lock.json
Due: prettier --write

Plugins page with MD files (#72)
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/plugins.css
  pages/data-providers/[data-provider-id]/plugins.jsx
  texts/index.js
  texts/plugins/discovery.md
  texts/plugins/index.js
  texts/plugins/recommender.md
Due: yarn lint --format, prettier --write

Allow to use dev API
  api/errors.js
  api/index.js
  components/application/repository-select.jsx
  components/plugin/index.jsx
  next.config.js
  package.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Move `Page` class to extra file
  store/helpers/page.js
  store/works.js
Due: yarn lint --format

Fix css
  design/index.js
  next.config.js
  pages/_app/index.jsx
Due: yarn lint --format

Connect to `/public-release-dates`
  api/index.js
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/depositDates.js
  store/store.js
Due: yarn lint --format

Use `/public/release-dates` in deposit dates table (#82)
  api/errors.js
  api/index.js
  components/application/repository-select.jsx
  components/plugin/index.jsx
  design/index.js
  next.config.js
  package.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/depositDates.js
  store/helpers/page.js
  store/store.js
Due: yarn lint --format, prettier --write

Add Overlay component
  design/index.js
  design/overlay/index.css
  design/overlay/index.jsx
Due: yarn lint --format, prettier --write

Sort deposit dates table
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/depositDates.js
  store/helpers/order.js
Due: yarn lint --format

Sort content table
  pages/data-providers/[data-provider-id]/content.jsx
  store/works.js
Due: yarn lint --format

Show no data when 404 occurs
  components/table/index.jsx
  store/depositDates.js
Due: yarn lint --format

Show No Data only when no request is being made
  components/table/index.jsx
Due: yarn lint --format

Table sort functionality (#85)
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/depositDates.js
  store/helpers/order.js
  store/works.js
Due: yarn lint --format

Move mocked timeLagData into store
  components/time-lag-chart/index.jsx
  store/data.jsx
  store/depositDates.js
Due: yarn lint --format

Calculate compliance date
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/depositDates.js
Due: yarn lint --format

Calculate compliance level (#86)
  components/time-lag-chart/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/data.jsx
  store/depositDates.js
Due: yarn lint --format

Patch deposit dates chart with missing zeros
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Aggregate chart data
  components/time-lag-chart/index.jsx
  components/time-lag-chart/tooltip.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Make chunks equal size
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Fix ticks
  components/time-lag-chart/index.jsx
Due: yarn lint --format

CSV Export
  api/index.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/depositDates.js
  store/store.js
Due: yarn lint --format, prettier --write

Show csv length
  api/index.js
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/depositDates.js
  store/index.jsx
  store/store.js
  store/works.js
Due: yarn lint --format

Disable export button when dataProvider not found
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/depositDates.js
Due: yarn lint --format

CSV Export (#83)
  api/index.js
  package-lock.json
  package.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/depositDates.js
  store/index.jsx
  store/store.js
  store/works.js
Due: yarn lint --format, prettier --write

Develop Overview layout with mocked data
  pages/data-providers/[data-provider-id]/overview.css
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format, prettier --write

Add basic Numeral components
  design/index.js
  design/numeral/index.jsx
  design/numeral/styles.css
Due: yarn lint --format, prettier --write

Add publicDate column to deposit dates table
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Rename metaData to metadata
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Connect statistics from API to Overview page
  pages/data-providers/[data-provider-id]/overview.jsx
  store/statistics.js
  store/store.js
Due: yarn lint --format

Format numbers at Overview statistics
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Add publicDate column to deposit dates table (#90)
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Review fixes
  components/time-lag-chart/index.jsx
  components/time-lag-chart/tooltip.jsx
Due: yarn lint --format

Fix chart (#88)
  components/time-lag-chart/index.jsx
  components/time-lag-chart/tooltip.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
