Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Allow to show input borders when there is an overlay
  components/application/repository-select.module.css
  design/select/styles.module.css
Due: prettier --write

Remove overlay and put value directly to input
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  design/select/index.jsx
  design/select/styles.module.css
Due: yarn lint --format, prettier --write

Style select better
  design/select/index.jsx
  design/select/styles.module.css
Due: yarn lint --format, prettier --write

Fix select on enter
  design/select/index.jsx
Due: yarn lint --format

Make select more general (#298)
  components/application/repository-select.module.css
  design/select/index.jsx
  design/select/styles.module.css
Due: yarn lint --format, prettier --write

Make email field read only
  pages/data-providers/[data-provider-id]/settings.jsx
Due: yarn lint --format

Make email field read only (#301)
  pages/data-providers/[data-provider-id]/settings.jsx
Due: yarn lint --format

Show user name when it's available
  components/application/logout.jsx
Due: yarn lint --format

Run DepositDates requests sequentially (#302)
  store/deposit-dates.js
Due: yarn lint --format

Remove svgstore, as it's not used directly
  package.json
Due: prettier --write

Remove svgstore, as it's not used directly (#304)
  package.json
Due: prettier --write

Show user name when it's available (#303)
  components/application/logout.jsx
Due: yarn lint --format

Run DepositDates requests sequentially (#302) (#302)
  store/deposit-dates.js
Due: yarn lint --format

Fix infinite loading of complianceLevel
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
Due: yarn lint --format

Move DOI page to templates
  next.config.js
  pages/data-providers/[data-provider-id]/doi.jsx
  templates/doi/cards/coverage-card.jsx
  templates/doi/cards/export-card.jsx
  templates/doi/cards/index.js
  templates/doi/cards/table-card.jsx
  templates/doi/index.jsx
  templates/doi/styles.module.css
Due: yarn lint --format, prettier --write

Move DOI page to templates (#305)
  next.config.js
  pages/data-providers/[data-provider-id]/doi.jsx
  templates/doi/cards/coverage-card.jsx
  templates/doi/cards/export-card.jsx
  templates/doi/cards/index.js
  templates/doi/cards/table-card.jsx
  templates/doi/index.jsx
  templates/doi/styles.module.css
Due: yarn lint --format, prettier --write

Fix DOI loading
  templates/doi/cards/coverage-card.jsx
  utils/helpers.js
Due: yarn lint --format

Move Content to templates
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  store/works.js
  templates/content/cards/table-card.jsx
  templates/content/index.jsx
  templates/content/styles.module.css
Due: yarn lint --format, prettier --write

Fix DOI loading (#307)
  templates/doi/cards/coverage-card.jsx
  utils/helpers.js
Due: yarn lint --format

Move Content to templates (#308)
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  store/works.js
  templates/content/cards/table-card.jsx
  templates/content/index.jsx
  templates/content/styles.module.css
Due: yarn lint --format, prettier --write

Fix now.sh deployment
  components/application/activity-select/index.jsx
  components/application/repository-select.jsx
  pages/_app/route.js
  pages/data-providers/[dataProviderId]/content.jsx
  pages/data-providers/[dataProviderId]/deposit-compliance.jsx
  pages/data-providers/[dataProviderId]/deposit-compliance.module.css
  pages/data-providers/[dataProviderId]/doi.jsx
  pages/data-providers/[dataProviderId]/index.js
  pages/data-providers/[dataProviderId]/overview.jsx
  pages/data-providers/[dataProviderId]/overview.module.css
  pages/data-providers/[dataProviderId]/plugins/discovery.jsx
  pages/data-providers/[dataProviderId]/plugins/index.jsx
  pages/data-providers/[dataProviderId]/plugins/plugins.module.css
  pages/data-providers/[dataProviderId]/plugins/recommender.jsx
  pages/data-providers/[dataProviderId]/settings.jsx
  pages/data-providers/[dataProviderId]/settings.module.css
Due: yarn lint --format, prettier --write

Move overview tab to templates
  components/link-button/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/depositing-card.jsx
  templates/overview/cards/doi-card.jsx
  templates/overview/cards/index.js
  templates/overview/cards/overview-card.jsx
  templates/overview/cards/placeholder-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

Move overview tab to templates (#311)
  components/link-button/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/depositing-card.jsx
  templates/overview/cards/doi-card.jsx
  templates/overview/cards/index.js
  templates/overview/cards/overview-card.jsx
  templates/overview/cards/placeholder-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

Move Deposit compliance to templates
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
  templates/deposit-compliance/cards/cross-repository-check-redirect-card.jsx
  templates/deposit-compliance/cards/data-overview-card.jsx
  templates/deposit-compliance/cards/deposit-time-lag-card.jsx
  templates/deposit-compliance/cards/index.js
  templates/deposit-compliance/cards/publications-dates-card.jsx
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

Move Deposit compliance to templates (#313)
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
  templates/deposit-compliance/cards/cross-repository-check-redirect-card.jsx
  templates/deposit-compliance/cards/data-overview-card.jsx
  templates/deposit-compliance/cards/deposit-time-lag-card.jsx
  templates/deposit-compliance/cards/index.js
  templates/deposit-compliance/cards/publications-dates-card.jsx
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

Pass label to Select component
  components/application/repository-select.jsx
  design/select/index.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Hide activities when user has been accidentally logged out
  pages/_app/index.jsx
Due: yarn lint --format

Add dropdown component
  design/dropdown-menu/index.css
  design/dropdown-menu/index.jsx
Due: yarn lint --format, prettier --write

Move uniqueID and KEYS to utils helpers
  design/select/index.jsx
  utils/helpers.js
Due: yarn lint --format

Make dropdown menu accessible
  design/dropdown-menu/index.css
  design/dropdown-menu/index.jsx
Due: yarn lint --format, prettier --write

Handle dropdown item selection
  design/dropdown-menu/index.jsx
Due: yarn lint --format

Fixes after rebase
  design/dropdown-menu/index.jsx
  design/dropdown-menu/styles.module.css
  design/index.js
  utils/helpers.js
Due: yarn lint --format, prettier --write

USe dropdown in logout
  components/application/logout.jsx
  components/application/logout.module.css
  design/select/index.jsx
Due: yarn lint --format, prettier --write

Use correct title for all pages
  components/title/index.jsx
  pages/data-providers/[data-provider-id]/plugins/discovery.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  pages/data-providers/[data-provider-id]/plugins/recommender.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/invitation.jsx
  pages/login.jsx
  pages/reset/[token].jsx
  pages/reset/index.jsx
  templates/content/index.jsx
  templates/deposit-compliance/index.jsx
  templates/doi/index.jsx
  templates/overview/index.jsx
Due: yarn lint --format

Explicitly build icons
  package.json
Due: prettier --write

Pass label to Select component (#306)
  components/application/repository-select.jsx
  design/select/index.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write
