Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Bump @oacore/design
  package-lock.json
  package.json
Due: prettier --write

Create dataProvider substore
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
  pages/data-providers/[data-provider-id]/issues.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  pages/data-providers/[data-provider-id]/plugins/discovery.jsx
  store/data-provider/deposit-dates.js
  store/data-provider/doi.js
  store/data-provider/index.js
  store/data-provider/works.js
  store/resource.js
  store/root.js
  store/user/dashboard.js
Due: yarn lint --format

Update pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Disable source-map-loader warnings
  next.config.js
Due: yarn lint --format

Fix appbar height
  components/application/repository-select.module.css
  components/layout/styles.module.css
Due: prettier --write

Add tooltips for activities
  components/application/activity-select/index.jsx
  texts/navigation.yml
Due: yarn lint --format

Text change
  texts/tooltips.yml
Due: none

Add missing prop
  templates/issues/index.jsx
Due: yarn lint --format

Use Select from design for RepositorySelect
  components/application/repository-select.jsx
  components/application/repository-select.module.css
Due: yarn lint --format, prettier --write

Use Select from design in table
  components/table/select.jsx
  components/table/table.jsx
  templates/issues/cards/table-card.jsx
Due: yarn lint --format

Disable spellcheck in RepositorySelect
  components/application/repository-select.jsx
Due: yarn lint --format

Remove unused select
  design/index.js
  design/select/index.jsx
  design/select/styles.module.css
Due: yarn lint --format, prettier --write

Disable bold size for suggestion in SelectInput
  components/application/repository-select.module.css
Due: prettier --write

Fix calc doesn't work
  components/application/repository-select.module.css
Due: prettier --write

Fix undefined plugins
  pages/data-providers/[data-provider-id]/plugins/recommender.jsx
Due: yarn lint --format

Improve texts
  texts/depositing/overview.yml
  texts/depositing/publication-dates.yml
  texts/plugins/overview.yml
Due: none

Add title tooltips
  templates/deposit-compliance/cards/cross-repository-check-redirect-card.jsx
  templates/deposit-compliance/cards/data-overview-card.jsx
  templates/doi/cards/coverage-card.jsx
  templates/issues/cards/errors-overview-card.jsx
  templates/issues/cards/harvesting-overview-card.jsx
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/depositing-card.jsx
  templates/overview/cards/doi-card.jsx
  templates/overview/cards/irus-card.jsx
  texts/depositing/cross-repository-check/index.yml
  texts/depositing/data-overview.md
  texts/depositing/overview.yml
  texts/doi/coverage.md
  texts/doi/overview.yml
  texts/harvesting/index.js
  texts/harvesting/overview.yml
  texts/irus-uk/index.js
  texts/irus-uk/overview.yml
  texts/issues/issues.yml
  texts/overview.js
Due: yarn lint --format

Remove unused files
  texts/depositing/cross-repository-check/generic.yml
  texts/tooltips.yml
Due: none

Add better description for recommender
  texts/plugins/overview.yml
Due: none

Hyperlink errors
  templates/overview/cards/data-statictics-card.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
