Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Toolbar
  components/head/index.jsx
  components/header/index.css
  components/header/index.jsx
  components/layout/index.css
  components/layout/index.jsx
  components/logo/core-symbol.svg
  components/logo/index.jsx
  components/logo/logo.css
  components/searchbar/index.css
  components/searchbar/index.jsx
  components/sidebar/index.css
  components/sidebar/index.jsx
  design/avatar/index.css
  design/avatar/index.jsx
  design/header/index.css
  design/header/index.jsx
  package-lock.json
  package.json
  pages/_app.jsx
  pages/index.css
  pages/index.jsx
  public/avatar.png
Due: yarn lint --format, prettier --write

Toolbar (#4)
  components/head/index.jsx
  components/header/index.css
  components/header/index.jsx
  components/layout/index.css
  components/layout/index.jsx
  components/logo/core-symbol.svg
  components/logo/index.jsx
  components/logo/logo.css
  components/searchbar/index.css
  components/searchbar/index.jsx
  components/sidebar/index.css
  components/sidebar/index.jsx
  design/avatar/index.css
  design/avatar/index.jsx
  design/header/index.css
  design/header/index.jsx
  package-lock.json
  package.json
  pages/_app.jsx
  pages/index.css
  pages/index.jsx
  public/avatar.png
Due: yarn lint --format, prettier --write

Mobile header
  components/header/index.css
  components/header/index.jsx
  components/layout/index.css
  components/layout/index.jsx
  components/searchbar/index.css
  components/sidebar/index.css
  components/sidebar/index.jsx
  design/logo/core-symbol.svg
  design/logo/index.css
  design/logo/index.jsx
  pages/index.css
Due: yarn lint --format, prettier --write

Review fixes
  components/header/index.css
  components/header/index.jsx
  components/layout/index.css
  components/layout/index.jsx
  pages/index.css
Due: yarn lint --format, prettier --write

Mobile header (#13)
  components/header/index.css
  components/header/index.jsx
  components/layout/index.css
  components/layout/index.jsx
  components/searchbar/index.css
  components/sidebar/index.css
  components/sidebar/index.jsx
  design/logo/core-symbol.svg
  design/logo/index.css
  design/logo/index.jsx
  pages/index.css
Due: yarn lint --format, prettier --write

Add sidebar
  components/header/index.jsx
  components/layout/index.css
  components/layout/index.jsx
  components/sidebar/index.css
  components/sidebar/index.jsx
  design/icons/Icon.css
  design/icons/Icon.jsx
  design/icons/assets/data.svg
  design/icons/assets/overview.svg
  design/icons/assets/plugins.svg
  design/icons/assets/settings.svg
  design/icons/assets/statistics.svg
  design/logo/index.jsx
  package-lock.json
  package.json
  pages/_app.jsx
  pages/data.jsx
  pages/plugins.jsx
  pages/settings.jsx
  pages/statistics.jsx
Due: yarn lint --format, prettier --write

Add sidebar (#14)
  components/header/index.jsx
  components/layout/index.css
  components/layout/index.jsx
  components/sidebar/index.css
  components/sidebar/index.jsx
  design/icons/Icon.css
  design/icons/Icon.jsx
  design/icons/assets/data.svg
  design/icons/assets/overview.svg
  design/icons/assets/plugins.svg
  design/icons/assets/settings.svg
  design/icons/assets/statistics.svg
  design/logo/index.jsx
  package-lock.json
  package.json
  pages/_app.jsx
  pages/data.jsx
  pages/plugins.jsx
  pages/settings.jsx
  pages/statistics.jsx
Due: yarn lint --format, prettier --write

Fix unique key
  components/sidebar/index.jsx
Due: yarn lint --format

Bump @oacore/configs
  .eslintrc.yml
  .lintstagedrc
  components/header/index.css
  components/layout/index.css
  components/layout/index.jsx
  components/searchbar/index.css
  components/sidebar/index.css
  package-lock.json
  package.json
  pages/_app.jsx
  pages/index.css
Due: yarn lint --format, prettier --write

Bump @oacore/configs (#15)
  .eslintrc.yml
  .lintstagedrc
  components/header/index.css
  components/layout/index.css
  components/layout/index.jsx
  components/searchbar/index.css
  components/sidebar/index.css
  package-lock.json
  package.json
  pages/_app.jsx
  pages/index.css
Due: yarn lint --format, prettier --write

Use postcss
  .lintstagedrc
  .stylelintrc.yml
  babel.config.js
  components/header/index.css
  components/header/index.jsx
  components/layout/index.css
  components/layout/index.jsx
  components/searchbar/index.css
  components/searchbar/index.jsx
  components/sidebar/index.css
  components/sidebar/index.jsx
  design/avatar/index.css
  design/avatar/index.jsx
  design/header/index.css
  design/header/index.jsx
  design/icons/index.css
  design/icons/index.jsx
  design/logo/index.css
  design/logo/index.jsx
  next.config.js
  package-lock.json
  package.json
  pages/index.css
  postcss.config.js
Due: yarn lint --format, prettier --write

Use postcss (#16)
  .lintstagedrc
  .stylelintrc.yml
  babel.config.js
  components/header/index.css
  components/header/index.jsx
  components/layout/index.css
  components/layout/index.jsx
  components/searchbar/index.css
  components/searchbar/index.jsx
  components/sidebar/index.css
  components/sidebar/index.jsx
  design/avatar/index.css
  design/avatar/index.jsx
  design/header/index.css
  design/header/index.jsx
  design/icons/index.css
  design/icons/index.jsx
  design/logo/index.css
  design/logo/index.jsx
  next.config.js
  package-lock.json
  package.json
  pages/index.css
  postcss.config.js
Due: yarn lint --format, prettier --write

Install design library
  package-lock.json
  package.json
Due: prettier --write

Use styles from @oacore/design
  next.config.js
  package-lock.json
  package.json
  pages/_app.jsx
  pages/index.css
Due: yarn lint --format, prettier --write

Create simple plugin page
  components/plugin/index.css
  components/plugin/index.jsx
  pages/plugins.css
  pages/plugins.jsx
Due: yarn lint --format, prettier --write

Take colours from @oacore/design
  components/header/index.css
  components/layout/index.css
  components/searchbar/index.css
  components/sidebar/index.css
Due: prettier --write

Install mobX
  package-lock.json
  package.json
Due: prettier --write

Use MobX
  pages/_app.jsx
  stores/index.jsx
Due: yarn lint --format

Demonstrate MobX functionality
  components/plugin/index.jsx
  components/searchbar/index.jsx
  stores/index.jsx
Due: yarn lint --format

Rename stores -> store
  components/plugin/index.jsx
  pages/_app.jsx
  store/index.jsx
Due: yarn lint --format

Remove unfunctional code
  store/index.jsx
Due: yarn lint --format

Use postcss-custom-media
  components/header/index.css
  components/layout/index.css
  components/layout/media-queries.css
  package-lock.json
  package.json
  pages/index.css
  postcss.config.js
Due: yarn lint --format, prettier --write

Pass `store` firstly
  store/index.jsx
Due: yarn lint --format

@oacore/design & mobX (#18)
  components/header/index.css
  components/layout/index.css
  components/layout/media-queries.css
  components/plugin/index.css
  components/plugin/index.jsx
  components/searchbar/index.css
  components/searchbar/index.jsx
  components/sidebar/index.css
  next.config.js
  package-lock.json
  package.json
  pages/_app.jsx
  pages/index.css
  pages/plugins.css
  pages/plugins.jsx
  postcss.config.js
  store/index.jsx
Due: yarn lint --format, prettier --write

Remove Analytics & Reader plugins
  pages/plugins.jsx
Due: yarn lint --format

Install @oacore/api
  package-lock.json
  package.json
Due: prettier --write

Fetch plugin status from API
  pages/_app.jsx
  pages/plugins.jsx
  store/index.jsx
Due: yarn lint --format

Bump @oacore/design
  components/layout/index.css
  components/searchbar/index.css
  components/searchbar/index.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Use Icon from @oacore/design
  components/sidebar/index.css
  components/sidebar/index.jsx
  package.json
Due: yarn lint --format, prettier --write

Remove icons component
  design/icons/assets/data.svg
  design/icons/assets/overview.svg
  design/icons/assets/plugins.svg
  design/icons/assets/settings.svg
  design/icons/assets/statistics.svg
  design/icons/index.css
  design/icons/index.jsx
Due: yarn lint --format, prettier --write

Remove react-inline-svg
  package-lock.json
  package.json
Due: prettier --write

Install peerDependency - eslint-plugin-react-hooks
  package-lock.json
  package.json
Due: prettier --write

Uninstall normalize.css
  package.json
Due: prettier --write

Fix regular expression for css loader
  next.config.js
Due: yarn lint --format

Exclude files from design library
  .gitignore
Due: none

Adjustments (#19)
  .gitignore
  components/layout/index.css
  components/searchbar/index.css
  components/searchbar/index.jsx
  components/sidebar/index.css
  components/sidebar/index.jsx
  design/icons/assets/data.svg
  design/icons/assets/overview.svg
  design/icons/assets/plugins.svg
  design/icons/assets/settings.svg
  design/icons/assets/statistics.svg
  design/icons/index.css
  design/icons/index.jsx
  next.config.js
  package-lock.json
  package.json
  pages/_app.jsx
  pages/plugins.jsx
  store/index.jsx
Due: yarn lint --format, prettier --write

Bump @oacore/configs
  package-lock.json
  package.json
  prettier.config.js
Due: yarn lint --format, prettier --write

Bump @oacore/configs (#23)
  package-lock.json
  package.json
  prettier.config.js
Due: yarn lint --format, prettier --write

Make assets copying command more flexible
  package.json
Due: prettier --write

Use @oacore/design from the repository dev branch
  package.json
Due: prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
