Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE-4661 notification redirect
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/overview/index.jsx
  templates/settings/cards/notificationGuide.jsx
  texts/settings/settings.yml
Due: yarn lint --format

CORE-4661: temp not allowed
  components/checkbox/radiobutton.jsx
  templates/settings/cards/dedupliactionNotifications.jsx
  templates/settings/cards/harvestingNotification.jsx
  templates/settings/notifications.jsx
  texts/settings/settings.yml
Due: yarn lint --format

CORE-4661 fix oai update issue
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.css
  components/forms/resolver-settings/index.jsx
  store/root.js
Due: yarn lint --format, prettier --write

CORE: update oai issue
  components/forms/resolver-settings/index.jsx
  store/root.js
Due: yarn lint --format

CORE: update oai issue (#650)
  components/forms/resolver-settings/index.jsx
  store/root.js
Due: yarn lint --format

CORE-4621: radio issue
  components/checkbox/radiobutton.jsx
  templates/settings/cards/dedupliactionNotifications.jsx
  templates/settings/cards/harvestingNotification.jsx
  templates/settings/notifications.jsx
Due: yarn lint --format

CORE-4661 disabled switcher
  package-lock.json
  package.json
  templates/settings/cards/dedupliactionNotifications.jsx
  templates/settings/cards/harvestingNotification.jsx
Due: yarn lint --format, prettier --write

only for notifications
  templates/overview/index.jsx
  templates/settings/notifications.jsx
Due: yarn lint --format

Update env.config.js
  env.config.js
Due: yarn lint --format

CORE-4752: update text
  templates/deposit-compliance/index.jsx
  texts/validator/validator.yml
Due: yarn lint --format

CORE-4752: docs linking
  components/access-placeholder/AccessPlaceholder.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4752: mixed files
  templates/settings/repository.jsx
Due: yarn lint --format

Core 4752 link issue (#651)
  components/access-placeholder/AccessPlaceholder.jsx
  store/Test.http
  templates/deposit-compliance/index.jsx
  templates/settings/accessUsers.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
  texts/validator/validator.yml
Due: yarn lint --format, prettier --write

CORE-4621 api dataset users
  pages/data-providers/[data-provider-id]/repository.jsx
  store/Test.http
  store/data-provider/index.js
  templates/settings/accessUsers.jsx
  templates/settings/repository.jsx
  texts/settings/settings.yml
Due: yarn lint --format

CORE-4621 component placement
  pages/data-providers/[data-provider-id]/organisational.jsx
  pages/data-providers/[data-provider-id]/repository.jsx
  templates/settings/accessUsers.jsx
  templates/settings/general.jsx
  templates/settings/repository.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4621: toggle users
  templates/settings/accessUsers.jsx
  templates/settings/general.jsx
Due: yarn lint --format

update riox messages
  templates/validator/cards/issueCard.jsx
Due: yarn lint --format

Core 4621 users in dashboard (#652)
  pages/data-providers/[data-provider-id]/organisational.jsx
  store/Test.http
  store/data-provider/index.js
  templates/settings/accessUsers.jsx
  templates/settings/general.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

HOTFIX Update env.config.js to go with api.core.ac.uk
  env.config.js
Due: yarn lint --format

CORE: update riox message
  texts/validator/validator.yml
Due: none

CORE: update riox message (#653)
  texts/validator/validator.yml
Due: none

CacheControl fix
  api/index.js
Due: yarn lint --format

Update type cacheControl
  api/index.js
Due: yarn lint --format

Create LICENSE
  LICENSE
Due: none

CORE-4630: deduplication improvements
  components/actions/index.jsx
  components/upload/assets/carouselArrowLeft.svg
  components/upload/assets/carouselArrowRight.svg
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/overview-card.jsx
  templates/validator/MyReposiyory/myRepository.jsx
  templates/validator/RIoxValidator/RIoxValidator.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

CORE-4630: style issues
  api/index.js
  templates/deduplication/styles.module.css
Due: yarn lint --format, prettier --write

Core 4630 deduplication (#654)
  api/index.js
  components/actions/index.jsx
  components/upload/assets/carouselArrowLeft.svg
  components/upload/assets/carouselArrowRight.svg
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/overview-card.jsx
  templates/validator/MyReposiyory/myRepository.jsx
  templates/validator/RIoxValidator/RIoxValidator.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

CORE-4785: deduplication fix
  components/showMore/index.jsx
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4785: deduplication fix (#655)
  components/showMore/index.jsx
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4661: bring back deduplication
  templates/settings/notifications.jsx
Due: yarn lint --format

CORE-4661: lint line
  templates/settings/notifications.jsx
Due: yarn lint --format

Core 4661 notifications in settings (#649)
  components/application/activities.js
  components/checkbox/animated.jsx
  components/checkbox/index.js
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.css
  components/upload/assets/notificationGuide.svg
  components/upload/images/deduplicationStatus.svg
  components/upload/images/harvestingStatus.svg
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/notifications.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  store/root.js
  templates/overview/index.jsx
  templates/settings/assets/notification.svg
  templates/settings/assets/notificationsOffs.svg
  templates/settings/cards/dedupliactionNotifications.jsx
  templates/settings/cards/harvestingNotification.jsx
  templates/settings/cards/notificationGuide.jsx
  templates/settings/notifications.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4811: terms update
  .DS_Store
  components/application/terms-condition.jsx
  texts/terms.yml
Due: yarn lint --format

CORE-4811: terms update (#656)
  .DS_Store
  components/application/terms-condition.jsx
  texts/terms.yml
Due: yarn lint --format

Text upd
  templates/harvesting/cards/harvesting-status-card.jsx
  texts/issues/issues.yml
  texts/issues/messages.yml
  texts/navigation.yml
Due: yarn lint --format

Text upd (#657)
  templates/harvesting/cards/harvesting-status-card.jsx
  texts/issues/issues.yml
  texts/issues/messages.yml
  texts/navigation.yml
Due: yarn lint --format

text update
  .gitignore
  components/upload/images/harvestingStatus.svg
  texts/settings/settings.yml
Due: none

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
