Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE-4805: add csv
  pages/data-providers/[data-provider-id]/rights-retention-strategy.jsx
  store/data-provider/index.js
  templates/rrs-policy/index.jsx
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format

CORE-4805: issue fixess
  components/table/header.jsx
  components/table/table.jsx
  templates/rrs-policy/cards/defaultUpload.jsx
  templates/rrs-policy/cards/formatUploadIssue.jsx
  templates/rrs-policy/cards/rrsCheckerCard.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/cards/sizeUploadIssue.jsx
  templates/rrs-policy/cards/statusCard.jsx
  templates/rrs-policy/cards/styles.module.css
  templates/rrs-policy/cards/uploadFail.jsx
  templates/rrs-policy/cards/uploadSuccess.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  texts/rrs-retention/rrs.yml
Due: yarn lint --format, prettier --write

CORE-4805: env url
  store/data-provider/index.js
Due: yarn lint --format

fix warning
  templates/settings/styles.module.css
Due: prettier --write

design version
  package-lock.json
Due: prettier --write

update package lock
  package-lock.json
Due: prettier --write

CORE-4805 Fix package.lock
  package-lock.json
Due: prettier --write

CORE-4805 Fix package.lock #2
  package-lock.json
  package.json
Due: prettier --write

CORE-4870: redirect link update
  templates/harvesting/cards/article.jsx
  texts/issues/issues.yml
Due: yarn lint --format

CORE-4870: redirect link update (#668)
  templates/harvesting/cards/article.jsx
  texts/issues/issues.yml
Due: yarn lint --format

CORE-4805 Fix package.lock #3
  package.json
Due: prettier --write

restore the package lock. (builds on local)
  package-lock.json
Due: prettier --write

CORE-4805: add status
  pages/data-providers/[data-provider-id]/rights-retention-strategy.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/tables/rrsTable.jsx
  texts/rrs-retention/rrs.yml
Due: yarn lint --format

CORE-4874: update url
  components/application/activities.js
  components/application/index.jsx
  pages/data-providers/[data-provider-id]/indexing.jsx
  store/activities.js
  store/index.jsx
  texts/navigation.yml
Due: yarn lint --format

CORE-4874: update url (#669)
  components/application/activities.js
  components/application/index.jsx
  pages/data-providers/[data-provider-id]/indexing.jsx
  store/activities.js
  store/index.jsx
  texts/navigation.yml
Due: yarn lint --format

CORE-4842: cache reload
  store/data-provider/index.js
Due: yarn lint --format

CORE-4666: temp logic
  templates/harvesting/cards/harvesting-progress.jsx
  texts/issues/issues.yml
Due: yarn lint --format

CORE-4805: fix issues on rrs
  pages/data-providers/[data-provider-id]/rights-retention-strategy.jsx
  store/data-provider/index.js
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/cards/statusCard.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  texts/rrs-retention/rrs.yml
Due: yarn lint --format, prettier --write

CORE-4805: add tooltip text
  templates/rrs-policy/cards/rrsCheckerCard.jsx
  texts/rrs-retention/rrs.yml
Due: yarn lint --format

CORE-4805: small updates
  pages/data-providers/[data-provider-id]/rights-retention-strategy.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/styles.module.css
  texts/rrs-retention/rrs.yml
Due: yarn lint --format, prettier --write

test if build success with this package
  package-lock.json
  templates/deduplication/styles.module.css
Due: prettier --write

CORE-4880: create new table
  components/tablev2/body.jsx
  components/tablev2/footer.jsx
  components/tablev2/header.jsx
  components/tablev2/row.jsx
  components/tablev2/styles.module.css
  components/tablev2/tablev2.jsx
  pages/data-providers/[data-provider-id]/deduplication.jsx
  store/data-provider/index.js
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
  templates/deduplication/tables/innerTable.jsx
Due: yarn lint --format, prettier --write

CORE-4805: add improvements
  templates/rrs-policy/cards/article.jsx
  templates/rrs-policy/cards/formatUploadIssue.jsx
  templates/rrs-policy/cards/rrsCheckerCard.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/cards/styles.module.css
  templates/rrs-policy/cards/uploadFail.jsx
  templates/rrs-policy/cards/uploadSuccess.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  texts/rrs-retention/rrs.yml
Due: yarn lint --format, prettier --write

CORE: build test
  components/application/index.jsx
Due: yarn lint --format

CORE: build test (#671)
  components/application/index.jsx
Due: yarn lint --format

design version
  package.json
Due: prettier --write

mobx lite
  package-lock.json
  package.json
Due: prettier --write

CORE-4879: improve sidebar
  components/application/activity-select/styles.module.css
  components/layout/styles.module.css
Due: prettier --write

CORE-4879: improve sidebar (#672)
  components/application/activity-select/styles.module.css
  components/layout/styles.module.css
Due: prettier --write

add legacy peer
  .github/workflows/pull-request-check.yml
Due: none

lint
  templates/rrs-policy/cards/styles.module.css
Due: prettier --write

prev package lock
  package-lock.json
Due: prettier --write

dynamic text for rrs
  templates/rrs-policy/cards/statusCard.jsx
  templates/rrs-policy/cards/styles.module.css
  templates/rrs-policy/cards/uploadSuccess.jsx
  templates/rrs-policy/styles.module.css
  texts/rrs-retention/rrs.yml
Due: yarn lint --format, prettier --write

add design version
  package.json
Due: prettier --write

design to latest
  package.json
Due: prettier --write

CORE-4805 Fix package.lock
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
