Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Fix error body processing in the API client
  api/index.js
Due: yarn lint --format

Fix view button at Issues
  templates/issues/cards/table-card.jsx
Due: yarn lint --format

Fix view-button at Issues (#357)
  templates/issues/cards/table-card.jsx
Due: yarn lint --format

Add IRUS into the data model
  store/root.js
Due: yarn lint --format

Add IRUS card (#317)
  components/statistics-chart/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/overview/cards/index.js
  templates/overview/cards/irus-card.jsx
  templates/overview/cards/overview-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

Add RIOXX aggregation to Root store
  store/root.js
Due: yarn lint --format

Add RIOXX card (#345)
  design.config.js
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/overview/cards/rioxx-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/overview.js
  texts/rioxx/index.js
  texts/rioxx/overview.yml
Due: yarn lint --format, prettier --write

Fix sidebar scrolling and styles
  components/table/sidebar.jsx
  components/table/styles.module.css
Due: yarn lint --format, prettier --write

Fix lint-staged config for '*.css'
  .lintstagedrc
Due: none

Fix sidebar scrolling and styles (#359)
  components/table/sidebar.jsx
  components/table/styles.module.css
Due: yarn lint --format, prettier --write

Fix IRUS half-cut bar captions
  templates/overview/styles.module.css
Due: prettier --write

Fix lint-staged config for '*.css' (#358)
  .lintstagedrc
Due: none

Fix IRUS half-cut bar captions (#361)
  templates/overview/styles.module.css
Due: prettier --write

Add HUGE approximation to StackedBarChart
  components/stacked-vertical-bar-chart/index.jsx
  components/stacked-vertical-bar-chart/styles.module.css
Due: yarn lint --format, prettier --write

Rewrite RIOXX chart onto FlexBox
  templates/overview/cards/rioxx-card.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

Rewrite RIOXX chart onto FlexBox (#363)
  templates/overview/cards/rioxx-card.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

Rewrite table to functional component
  components/table/body.jsx
  components/table/footer.jsx
  components/table/header.jsx
  components/table/hooks/use-dynamic-data.js
  components/table/hooks/use-table-config.js
  components/table/hooks/use-table-state.js
  components/table/table.jsx
  store/helpers/pages/pages.js
  templates/content/cards/table-card.jsx
  templates/deposit-compliance/cards/table-card.jsx
  templates/doi/cards/table-card.jsx
  templates/issues/cards/table-card.jsx
  utils/hooks/use-debounced-effect.js
Due: yarn lint --format

Fix export enabled/disabled for DOIs
  pages/data-providers/[data-provider-id]/doi.jsx
  store/doi.js
  templates/doi/index.jsx
Due: yarn lint --format

Fix export enabled/disabled for DOIs (#364)
  pages/data-providers/[data-provider-id]/doi.jsx
  store/doi.js
  templates/doi/index.jsx
Due: yarn lint --format

Fix undefined data
  store/helpers/pages/pages.js
Due: yarn lint --format

Grey the table out if the result requires payment
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/styles.module.css
  templates/doi/cards/table-card.jsx
  templates/doi/styles.module.css
Due: yarn lint --format, prettier --write

Rename 'IRUS' to 'Download statistics'
  templates/overview/cards/irus-card.jsx
Due: yarn lint --format

Rename 'IRUS' to 'Download statistics' (#366)
  templates/overview/cards/irus-card.jsx
Due: yarn lint --format

Grey the table out if the result requires payment (#368)
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/styles.module.css
  templates/doi/cards/table-card.jsx
  templates/doi/styles.module.css
Due: yarn lint --format, prettier --write

Update payment-required wording
  texts/billing/payment-required.md
  texts/depositing/cross-repository-check/payment-required.md
Due: none

Rename 'Deposit compliance' to 'REF 2021'
  design.config.js
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  templates/overview/cards/depositing-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/depositing/compliance-notice.md
  texts/depositing/index.js
  texts/depositing/intro.md
  texts/depositing/overview.yml
  texts/navigation.yml
Due: yarn lint --format, prettier --write

Improve formatNumber()'s default behaviour
  utils/helpers.js
Due: yarn lint --format

Add more options to NumericValue
  components/numeric-value/index.jsx
Due: yarn lint --format

Add HUGE approximation to StackedBarChart (#362)
  components/stacked-vertical-bar-chart/index.jsx
  components/stacked-vertical-bar-chart/styles.module.css
Due: yarn lint --format, prettier --write

Update payment-required wording (#370)
  texts/billing/payment-required.md
  texts/depositing/cross-repository-check/payment-required.md
Due: none

Exclude AbortedError from page errors
  store/helpers/pages/pages.js
Due: yarn lint --format

Change the email and the product for premium requests
  modules/billing/payment-required/data.js
Due: yarn lint --format

Restore DP ID
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Change the email and the product for premium requests (#367)
  modules/billing/payment-required/data.js
Due: yarn lint --format

Rename 'Deposit compliance' to 'REF 2021' (#365)
  design.config.js
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  templates/overview/cards/depositing-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/depositing/compliance-notice.md
  texts/depositing/index.js
  texts/depositing/intro.md
  texts/depositing/overview.yml
  texts/navigation.yml
Due: yarn lint --format, prettier --write

Change row count to 5 for DOIs and Deposit dates
  templates/deposit-compliance/cards/table-card.jsx
  templates/doi/cards/table-card.jsx
Due: yarn lint --format
