Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Add a message about instability
  components/instability-message/index.jsx
  components/instability-message/styles.module.css
  pages/_app/index.jsx
Due: yarn lint --format, prettier --write

Add the instability message to the login page
  pages/login.jsx
Due: yarn lint --format

Add ID validation
  templates/issues/cards/issue-card.module.css
  templates/issues/cards/issue.jsx
Due: yarn lint --format, prettier --write

Delete now.json
  now.json
Due: prettier --write

CORE-3960 list of errors is unavailable (#553)
  now.json
  templates/issues/cards/issue-card.module.css
  templates/issues/cards/issue.jsx
Due: yarn lint --format, prettier --write

Empty field OAI
  templates/content/cards/table-card.jsx
Due: yarn lint --format

Update overview page doi chart
  components/actions/index.jsx
  components/actions/styles.module.css
  components/legend/index.jsx
  components/legend/styles.module.css
  components/performance-chart/index.jsx
  components/performance-chart/styles.module.css
  components/statistics-chart/index.jsx
  design.config.js
  design/numeral/styles.module.css
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/overview.jsx
  store/data-provider/doi.js
  templates/overview/cards/doi-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/doi/overview.yml
  utils/colors.js
Due: yarn lint --format, prettier --write

Update all charts on overview page
  api/index.js
  components/action-button/index.jsx
  components/action-button/styles.module.css
  components/actions/index.jsx
  components/actions/styles.module.css
  components/legend/index.jsx
  components/loader/index.jsx
  components/numeric-value/index.jsx
  components/performance-chart/index.jsx
  components/performance-chart/styles.module.css
  components/statistics-chart/index.jsx
  design/index.js
  design/numeral/index.jsx
  design/numeral/styles.module.css
  design/tooltip/index.jsx
  design/tooltip/styles.module.css
  env.config.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/overview.jsx
  store/data-provider/index.js
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/doi-card.jsx
  templates/overview/cards/irus-card.jsx
  templates/overview/cards/rioxx-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/harvesting/index.js
  texts/harvesting/overview.yml
  texts/irus-uk/overview.yml
  texts/rioxx/overview.yml
  utils/dates.js
  utils/helpers.js
  utils/hooks/use-harvesting-dates.js
Due: yarn lint --format, prettier --write

update package.json
  package.json
Due: prettier --write

Set correct path
  package.json
Due: prettier --write

update path design
  package.json
Due: prettier --write

config update
  env.config.js
Due: yarn lint --format

conf upd
  env.config.js
Due: yarn lint --format

conf upd2
  env.config.js
Due: yarn lint --format

Area chart (Testing)
  components/area-chart/index.jsx
  components/area-chart/styles.module.css
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/styles.module.css
  utils/dates.js
Due: yarn lint --format, prettier --write

Set_dev_config
  env.config.js
Due: yarn lint --format

Update env.config.js
  env.config.js
Due: yarn lint --format

Update area chear and harvesting card
  components/area-chart/index.jsx
  components/area-chart/styles.module.css
  env.config.js
  store/data-provider/doi.js
  store/data-provider/index.js
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/doi-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/harvesting/overview.yml
  utils/dates.js
  utils/hooks/use-harvesting-dates.js
Due: yarn lint --format, prettier --write

Update pull-request settings
  .github/workflows/pull-request-check.yml
Due: none

Update harvesting history chart and labels
  components/area-chart/index.jsx
  components/statistics-chart/index.jsx
  templates/overview/cards/data-statictics-card.jsx
Due: yarn lint --format

Settings page
  components/forms/shell.jsx
  components/upload/index.jsx
  components/upload/styles.module.css
  design.config.js
  next.config.js
  package-lock.json
  package.json
  templates/settings/assets/oai_logo.svg
  templates/settings/assets/placeholder.svg
  templates/settings/index.jsx
  templates/settings/styles.module.css
  texts/settings/index.js
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

Update login.js
  public/secure/login.js
Due: yarn lint --format

change api domain
  env.config.js
  public/secure/invitation.js
  public/secure/login.js
  public/secure/reset.js
Due: yarn lint --format

Init harvesting tab
  components/actions/index.jsx
  components/application/activities.js
  components/full-texts-progress-chart/index.jsx
  components/full-texts-progress-chart/styles.module.css
  components/numeric-value/index.jsx
  design.config.js
  design/numeral/index.jsx
  design/numeral/styles.module.css
  pages/data-providers/[data-provider-id]/harvesting.jsx
  public/secure/login.html
  store/activities.js
  templates/harvesting/cards/harvesting-status-card.jsx
  templates/harvesting/cards/issues-card.jsx
  templates/harvesting/cards/issues-list.jsx
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/cards/types-list.jsx
  templates/harvesting/hooks/use-issues.jsx
  templates/harvesting/hooks/use-types.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/styles.module.css
  texts/issues/index.js
  texts/issues/issues.yml
  texts/issues/messages.yml
  texts/navigation.yml
Due: yarn lint --format, prettier --write

Update counter color
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/hooks/use-issues.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

Connect settings to API
  components/forms/index.js
  components/forms/resolver-settings/index.jsx
  components/forms/resolver-settings/styles.module.css
  components/forms/shell.jsx
  components/upload/assets/placeholder.svg
  components/upload/index.jsx
  components/upload/styles.module.css
  package-lock.json
  pages/data-providers/[data-provider-id]/settings.jsx
  store/data-provider/doi.js
  store/data-provider/index.js
  store/root.js
  templates/settings/index.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

Update invitation.js
  public/secure/invitation.js
Due: yarn lint --format

Update reset.js
  public/secure/reset.js
Due: yarn lint --format

set config api02
  env.config.js
  public/secure/invitation.js
  public/secure/login.js
  public/secure/reset.js
Due: yarn lint --format

Issue list table init
  templates/harvesting/cards/issues-list.jsx
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/hooks/use-issues.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

Use logo endpoint
  components/upload/index.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  store/data-provider/index.js
  templates/settings/index.jsx
Due: yarn lint --format

Update table
  components/full-texts-progress-chart/styles.module.css
  components/table/footer.jsx
  components/table/row.jsx
  components/table/table.jsx
  design.config.js
  templates/harvesting/cards/issues-list.jsx
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/hooks/use-issues.jsx
  templates/harvesting/styles.module.css
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

Update variable names
  components/upload/index.jsx
  store/root.js
Due: yarn lint --format

Update actions
  components/actions/index.jsx
  templates/settings/index.jsx
Due: yarn lint --format
