Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

chore: add example environment file and update .gitignore
  .example.env
  .gitignore
Due: none

chore: stop tracking .env files
  .env
  .env.development
  .env.production
  .gitignore
Due: none

test doc
  .gitignore
Due: none

chore: update dependencies, enhance ESLint configuration, and improve modal styles
  .gitignore
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/Layout/DashboardLayout.tsx
  src/features/DashboardGuide/DashboardGuide.tsx
  src/features/DashboardGuide/styles.css
  src/features/NotificationGuide/NotificationGuide.tsx
  src/features/NotificationGuide/styles.css
Due: yarn lint --format, prettier --write

chore: remove deprecated @ant-design/v5-patch-for-react-19 dependency and update related imports
  package.json
  pnpm-lock.yaml
  src/components/common/CrTable/CrTable.tsx
  src/components/common/CrTabs/CrTabs.tsx
  src/features/Authorization/Login.tsx
  src/features/Usrn/UsrnView.tsx
  src/main.tsx
Due: prettier --write

refactor: replace deprecated Select.Option usage with options prop in multiple components
  src/components/Layout/DashboardLayout.tsx
  src/components/common/CrDocumentToggler/CrDocumentToggler.tsx
  src/components/common/RepositorySelect/RepositorySelect.tsx
  src/components/common/RepositorySelect/styles.css
  src/features/Settings/RepositorySettings/components/Licencing.tsx
Due: prettier --write

feat: add positioned tooltip support to InfoTooltip component and update styles
  src/components/common/CrStatsCard/styles.css
  src/components/common/InfoTooltip/InfoTooltip.tsx
  src/features/indexing/components/FullTextsProgressChart.tsx
  src/features/indexing/styles.css
  src/styles/theme.css
Due: prettier --write

CORE: fix harvesting view
  src/components/common/CrTable/styles.css
  src/components/common/FeedbackButton/FeedbackButton.tsx
  src/components/common/FeedbackButton/styles.css
  src/features/DashboardGuide/DashboardGuide.tsx
  src/features/DashboardGuide/styles.css
  src/features/Documentation/Documentation.tsx
  src/features/Documentation/styles.css
  src/features/Duplicates/components/ActionModal.tsx
  src/features/Duplicates/styles.css
  src/features/NotificationGuide/NotificationGuide.tsx
  src/features/NotificationGuide/styles.css
  src/features/ResearchSoftware/components/NotificationModal.tsx
  src/features/ResearchSoftware/style.css
  src/features/Settings/OrganisationalSettings/components/ConfirmationDeleteInviteModal.tsx
  src/features/Settings/OrganisationalSettings/styles.css
  src/features/Settings/RepositorySettings/components/Licencing.tsx
  src/features/Settings/RepositorySettings/styles.css
  src/features/indexing/components/HarvestingModal.tsx
  src/features/indexing/components/HarvestingProgressCard.tsx
  src/features/indexing/styles.css
Due: prettier --write

CORE: fix sider ui
  src/features/Content/Content.tsx
  src/features/Content/components/ContentTable.tsx
  src/features/Content/store/contentStore.ts
  src/features/DepositCompliance/components/PublicReleaseDatesTable.tsx
  src/features/DepositCompliance/styles.css
  src/styles/App.css
Due: prettier --write

CORE: fix drawer loading
  src/components/common/CrDrawer/styles.css
  src/components/common/CrTable/styles.css
  src/features/Validator/styles.css
Due: prettier --write

CORE: fix pdf upload ui
  src/components/common/CrFeatureLayout/styles.css
  src/components/common/CrPdfUpload/components/FailUploadView.tsx
  src/components/common/CrPdfUpload/components/FormatIssueView.tsx
  src/components/common/CrPdfUpload/components/SizeIssueView.tsx
  src/components/common/CrPdfUpload/components/SuccessUploadView.tsx
  src/components/common/CrPdfUpload/components/UploadErrorView.tsx
  src/components/common/CrPdfUpload/styles.css
  src/features/Das/components/DasColumn.tsx
  src/features/Das/styles.css
  src/features/ResearchSoftware/style.css
Due: prettier --write

CORE: fix dup responsive
  src/features/Duplicates/components/CompareCard.tsx
  src/features/Duplicates/components/InnerTable.tsx
  src/features/Duplicates/components/InnerTableHeader.tsx
  src/features/Duplicates/styles.css
  src/hooks/useScrollView.ts
Due: prettier --write

CORE: fix doc ui
  src/components/common/CrDocumentToggler/CrDocumentToggler.tsx
  src/components/common/CrDocumentToggler/styles.css
Due: prettier --write

CORE: fix settings issues
  src/features/Badges/style.css
  src/features/Settings/OrganisationalSettings/styles.css
  src/features/Settings/RepositorySettings/components/Repository.tsx
  src/features/Settings/RepositorySettings/styles.css
Due: prettier --write

CORE: fix harvesting view
  src/features/Content/components/tableColumns.tsx
  src/features/Content/styles.css
  src/features/Das/styles.css
  src/features/Orcid/components/otherOrcide/OtherOrcidtable.tsx
  src/features/Orcid/styles.css
  src/features/Sdg/components/sdgTable.tsx
  src/features/Sdg/styles.css
  src/features/indexing/components/HarvestingProgressCard.tsx
  src/features/indexing/styles.css
Due: prettier --write

CORE: fix column ui
  src/components/common/CrTable/components/CrColumns/CrTableColumns.tsx
  src/components/common/CrTable/styles.css
  src/features/Sdg/components/tableColumns.tsx
  src/features/Sdg/styles.css
Due: prettier --write

CORE: fix build
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

CORE: if issue with api show correct view
  src/components/Layout/DashboardLayout.tsx
  src/features/Overview/Overview.tsx
  src/guards/MetadataRestrictedRoute.tsx
Due: none

CORE: introduce shared SWR configuration for consistent API call behavior
  src/config/swr.ts
  src/features/Content/hooks/useWorksData.ts
  src/features/Das/hooks/useDasData.ts
  src/features/DepositCompliance/hooks/useCrossDepositLag.ts
  src/features/DepositCompliance/hooks/useDepositTimeLag.ts
  src/features/DepositCompliance/hooks/usePublicReleaseDates.ts
  src/features/DepositCompliance/hooks/usePublicationDatesValidate.ts
  src/features/Doi/hooks/useDoiData.ts
  src/features/Doi/hooks/useDoiStatistics.ts
  src/features/Duplicates/hooks/useDeduplicationInfo.ts
  src/features/Duplicates/hooks/useDuplicatesData.ts
  src/features/Duplicates/hooks/useMultipleOutputs.ts
  src/features/Duplicates/hooks/useWorkData.ts
  src/features/Orcid/hooks/useOrcidData.ts
  src/features/Plugins/hooks/usePluginConfig.ts
  src/features/ResearchSoftware/hooks/useSwTableData.ts
  src/features/Rrs-policy/hooks/useRrsData.ts
  src/features/Sdg/hooks/useSdgTableData.ts
  src/features/Sdg/hooks/useSdgYearData.ts
  src/features/Settings/NotificationsSettings/hooks/useNotifications.ts
  src/features/Settings/OrganisationalSettings/hooks/useOrganisation.ts
  src/features/Settings/RepositorySettings/hooks/useLicencing.ts
  src/features/Settings/RepositorySettings/hooks/useOaiMapping.ts
  src/features/Settings/RepositorySettings/hooks/useSets.ts
  src/features/Usrn/hooks/useUsrnData.ts
  src/features/Validator/hooks/useRioxxStats.ts
  src/features/Validator/hooks/useValidation.ts
  src/features/indexing/hooks/useHarvestingRequest.ts
  src/features/indexing/hooks/useHarvestingStatus.ts
  src/features/indexing/hooks/useIssuesAggregation.ts
  src/hooks/useArticleData.ts
  src/hooks/useDataProviderById.ts
  src/hooks/useDataProviderStatistics.ts
  src/hooks/useDataProviders.ts
  src/hooks/useIrusStats.ts
  src/hooks/useNotification.ts
  src/hooks/useUser.ts
Due: none

CORE: update loading indicators to use LoadingOutlined for better visual feedback
  src/components/Layout/DashboardLayout.tsx
  src/components/common/CrStatsCard/CrStatsCard.tsx
  src/components/common/NotificationPopover/NotificationPopover.tsx
  src/components/common/RepositorySelect/RepositorySelect.tsx
  src/features/Authorization/Login.tsx
  src/features/Settings/RepositorySettings/components/Sets.tsx
  src/guards/ProtectedRoute.tsx
  src/guards/RootRedirect.tsx
Due: none

CORE: refactor date range picker component and update dependencies
  package-lock.json
  src/components/common/CrDatePicker/CrDatePicker.tsx
  src/features/DepositCompliance/DepositCompliance.tsx
  src/features/DepositCompliance/components/DepositDateRangePicker.tsx
  src/features/DepositCompliance/components/index.ts
  src/features/Sdg/Sdg.tsx
  src/features/Sdg/store/sdgStore.ts
Due: prettier --write

CORE: update SWR configuration to disable revalidation and set deduping interval to zero
  src/config/swr.ts
  src/features/Orcid/hooks/useOrcidData.ts
Due: none

CORE: implement resetOnPageEnter functionality across multiple features to clear state on page entry
  src/features/Content/Content.tsx
  src/features/Content/store/contentStore.ts
  src/features/DepositCompliance/DepositCompliance.tsx
  src/features/DepositCompliance/store/publicReleaseDatesStore.ts
  src/features/Doi/DoiFeature.tsx
  src/features/Doi/store/doiStore.ts
  src/features/Orcid/Orcide.tsx
  src/features/Orcid/store/orcidStore.ts
  src/features/ResearchSoftware/ResearchSoftware.tsx
  src/features/ResearchSoftware/store/swStore.ts
  src/features/Sdg/Sdg.tsx
  src/features/Sdg/store/sdgStore.ts
Due: none

CORE: fix build issue
  package-lock.json
  src/guards/ProtectedRoute.tsx
Due: prettier --write

CORE: test build
  Dockerfile
Due: none

CORE: add missing docs tutorial
  src/features/Documentation/Documentation.tsx
Due: none

CORE: update CrSider
  src/components/common/CrSider/CrSider.tsx
  src/components/common/CrSider/components/ContentRecordSider.tsx
  src/components/common/CrSider/components/SiderBase.tsx
  src/components/common/CrSider/index.ts
  src/features/Content/components/ContentSider.tsx
  src/features/Content/components/ContentTable.tsx
  src/features/DepositCompliance/components/PublicReleaseDatesSider.tsx
Due: none

CORE: update CrSider in sw
  src/components/common/CrTable/CrTable.tsx
  src/components/common/CrTable/types.ts
  src/features/ResearchSoftware/components/SwSider.tsx
  src/features/ResearchSoftware/components/swTable.tsx
Due: none

CORE: fix disabled view
  src/features/indexing/hooks/useIssues.ts
  src/features/indexing/styles.css
Due: prettier --write

CORE: update indexing hooks
  src/features/indexing/components/ArticlesList.tsx
  src/features/indexing/components/TypeCard.tsx
  src/features/indexing/components/TypesList.tsx
  src/features/indexing/hooks/useHarvestingRequest.ts
  src/features/indexing/hooks/useHarvestingStatus.ts
  src/features/indexing/hooks/useIssuesAggregation.ts
  src/features/indexing/hooks/useIssuesPages.ts
  src/features/indexing/hooks/useTypes.ts
  src/features/indexing/store/indexingStore.ts
  src/features/indexing/types/index.ts
Due: none

CORE: update ui component path
  src/components/common/CrPapper/CrPapper.tsx
  src/components/common/CrPapper/styles.css
  src/components/common/CrTabs/CrTabs.tsx
  src/core-ui/index.ts
  src/core-ui/styles.css
  src/core-ui/styles.ts
  src/features/Badges/BadgesFeature.tsx
  src/features/Content/components/ContentTable.tsx
  src/features/Das/components/DasTable.tsx
  src/features/DepositCompliance/components/DepositTimeLagCard.tsx
  src/features/Rrs-policy/components/RrsTable.tsx
  src/features/Settings/RepositorySettings/components/OaiMapping.tsx
  src/features/Settings/RepositorySettings/components/Repository.tsx
  src/features/Settings/RepositorySettings/components/Sets.tsx
  src/features/Settings/RepositorySettings/components/UploadSection.tsx
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  vite.config.ts
Due: prettier --write

CORE: update header and input component import
  src/components/common/ChangePassword/ChangePassword.tsx
  src/components/common/CrTable/components/SearchBar/searchBar.tsx
  src/features/Authorization/Login.tsx
  src/features/Authorization/Reset.tsx
  src/features/Das/Das.tsx
  src/features/DepositCompliance/DepositCompliance.tsx
  src/features/Duplicates/Duplicates.tsx
  src/features/Membership/Membership.tsx
  src/features/Orcid/Orcide.tsx
  src/features/ResearchSoftware/components/SwHeaderArea.tsx
  src/features/Rrs-policy/Rrs.tsx
  src/features/Sdg/Sdg.tsx
  src/features/Settings/OrganisationalSettings/components/DropdownInput.tsx
  src/features/Settings/OrganisationalSettings/components/OrganisationCard.tsx
  src/features/Settings/RepositorySettings/components/OaiMapping.tsx
  src/features/Settings/RepositorySettings/components/Repository.tsx
  src/features/Usrn/UsrnView.tsx
  src/features/Validator/ValidatorPage.tsx
Due: none

CORE: fest design system
  Dockerfile
Due: none

CORE: test core ui to work
  Dockerfile
Due: none

CORE: test core ui as package
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
  vite.config.ts
Due: prettier --write

CORE: use design system as package
  package.json
  pnpm-lock.yaml
  src/features/Sdg/components/sdgTable.tsx
Due: prettier --write

CORE: allow design system update to run
  Dockerfile
  package.json
Due: prettier --write

CORE: add components from ui package
  package.json
  pnpm-lock.yaml
  src/components/common/CrIssues/CrIssues.tsx
  src/components/common/CrIssues/styles.css
  src/components/common/CrPdfUpload/CrPdfUpload.tsx
  src/components/common/CrStatsCard/CrStatsCard.tsx
  src/components/common/InfoTooltip/InfoTooltip.tsx
  src/components/common/InfoTooltip/index.ts
  src/features/DepositCompliance/components/CrossRepositoryCheckCard.tsx
  src/features/DepositCompliance/components/PublicationsDatesCard.tsx
  src/features/Duplicates/components/CompareCard.tsx
  src/features/Overview/components/DataStatisticsCard.tsx
  src/features/Overview/components/DepositingCard.tsx
  src/features/Overview/components/DoiCard.tsx
  src/features/Overview/components/OrcidCard.tsx
  src/features/Sdg/components/reChartBarChart.tsx
  src/features/Validator/MyReposiyory/MyRepository.tsx
  src/features/Validator/RIoxValidator/RIoxValidator.tsx
  src/features/indexing/components/FullTextsProgressChart.tsx
  src/features/indexing/components/TypesList.tsx
Due: prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
