Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Remove unused files
  texts/depositing/cross-repository-check/generic.yml
  texts/tooltips.yml
Due: none

Use api01 directly
  config.js
Due: yarn lint --format

Use correct field
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
Due: yarn lint --format

Bump @oacore/design
  package-lock.json
  package.json
Due: prettier --write

Fix warning label prop is required
  components/application/repository-select.jsx
Due: yarn lint --format

Fix position of arrow down icon
  components/application/repository-select.module.css
Due: prettier --write

Fix date formatting
  templates/issues/cards/harvesting-overview-card.jsx
Due: yarn lint --format

Fix card text
  templates/issues/cards/harvesting-overview-card.jsx
Due: yarn lint --format

Change author and license field
  package.json
Due: prettier --write

Fix image overflows card
  pages/data-providers/[data-provider-id]/plugins/discovery.jsx
  pages/data-providers/[data-provider-id]/plugins/discovery.module.css
Due: yarn lint --format, prettier --write

Hide sidebar on pages which don't require login
  components/application/index.jsx
  components/forms/iframe-form.jsx
  components/layout/container.jsx
  components/layout/main.jsx
  components/layout/styles.module.css
  pages/_app/index.jsx
  pages/invitation.jsx
Due: yarn lint --format, prettier --write

Remove redundant batching
  pages/_app/index.jsx
Due: yarn lint --format

WIP
  components/forms/iframe-form.jsx
Due: yarn lint --format

Hide Rioxx card if we don't have a data for it
  templates/overview/index.jsx
Due: yarn lint --format

Add 404 page
  pages/404.jsx
  pages/404.module.css
Due: yarn lint --format, prettier --write

Fix data provider undefined when accessed from router query
  components/application/activity-select/index.jsx
  components/application/index.jsx
Due: yarn lint --format

Create Settings template
  pages/data-providers/[data-provider-id]/settings.jsx
  store/root.js
  templates/settings/index.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

Fix undefined request function
  store/organisation.js
Due: yarn lint --format

Fix showing result message in invitation form
  components/forms/shell.jsx
Due: yarn lint --format

Widen resource 'fetched' status condition
  store/resource.js
Due: yarn lint --format

Add error handling to the Resource
  store/resource.js
Due: yarn lint --format

Add optional chaining to data provider pages
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
  pages/data-providers/[data-provider-id]/issues.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Enable super-administrator preview any data provider (#469)
  components/application/repository-select.jsx
  pages/_app/index.jsx
  store/data-provider/index.js
  store/errors.js
  store/index.jsx
  store/root.js
  store/user/dashboard.js
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
