Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE-5055: add tab scroll logic
  components/statsCard/statsCard.jsx
  templates/orcid/index.jsx
  templates/orcid/tables/orchideTable.jsx
Due: yarn lint --format

Delete .github/workflows/pull-request-check.yml
  .github/workflows/pull-request-check.yml
Due: none

Create .github
  .github
Due: none

Delete .github
  .github
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

CORE-5055: minor style changes
  components/statsCard/statsCard.jsx
  components/statsCard/styles.module.css
  templates/orcid/index.jsx
  templates/orcid/styles.module.css
Due: yarn lint --format, prettier --write

CORE-5055: responsive table
  templates/orcid/styles.module.css
Due: prettier --write

Update d_azure-test_dashboard-core.yml
  .github/workflows/d_azure-test_dashboard-core.yml
Due: none

ignoring node cache
  .github/workflows/d_azure-test_dashboard-core.yml
Due: none

changed deployment method
  .github/workflows/d_azure-test_dashboard-core.yml
Due: none

CORE-5136: add sw view
  components/application/activities.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/research-software.jsx
  store/activities.js
  templates/research-software/index.jsx
  templates/research-software/styles.module.css
  texts/navigation.yml
  texts/sw/sw.yml
Due: yarn lint --format, prettier --write

USRN on
  texts/navigation.yml
  texts/usrn/status.yml
Due: none

CORE: fix sdg view
  pages/data-providers/[data-provider-id]/sdg.jsx
Due: yarn lint --format

CORE: fix sdg view (#712)
  pages/data-providers/[data-provider-id]/sdg.jsx
Due: yarn lint --format

CORE-5136: update stats card
  components/statsCard/statsCard.jsx
  components/statsCard/styles.module.css
Due: yarn lint --format, prettier --write

USRN on
  components/application/activity-select/index.jsx
  pages/data-providers/[data-provider-id]/usrn.jsx
Due: yarn lint --format

USRN on
  components/application/activity-select/styles.module.css
Due: prettier --write

USRN on (#713)
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  pages/data-providers/[data-provider-id]/usrn.jsx
  texts/navigation.yml
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-5136: add stats cards
  templates/research-software/index.jsx
  templates/research-software/styles.module.css
  texts/sw/sw.yml
Due: yarn lint --format, prettier --write

CORE-5055: remove tab
  package-lock.json
  package.json
  store/data-provider/index.js
  templates/orcid/index.jsx
  templates/orcid/tables/orchideTable.jsx
  templates/orcid/tables/withoutOrcideTableComponent.jsx
  texts/orcid/orcid.yml
Due: yarn lint --format, prettier --write

CORE-5055: lint fix
  templates/orcid/styles.module.css
Due: prettier --write

CORE-5055: fix overflow issue
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  components/statsCard/statsCard.jsx
Due: yarn lint --format, prettier --write

CORE-5055: issue update
  templates/orcid/index.jsx
  templates/orcid/tables/otherOrcidtableComponent.jsx
  templates/orcid/tables/tableComponent.jsx
  texts/orcid/orcid.yml
Due: yarn lint --format

CORE-5055: add active row
  components/dropdownTableCard/styles.module.css
  components/table/row.jsx
  components/tablev2/body.jsx
  components/tablev2/row.jsx
  components/tablev2/styles.module.css
  templates/harvesting/cards/table.module.css
Due: yarn lint --format, prettier --write

add --openssl-legacy-provider to fix building within webapp
  .github/workflows/d_azure-test_dashboard-core.yml
Due: none

CORE: add privacy links
  components/forms/iframe-form.jsx
  components/forms/styles.module.css
Due: yarn lint --format, prettier --write

CORE: add cookies
  pages/login.jsx
Due: yarn lint --format

Core add cookies (#714)
  components/forms/iframe-form.jsx
  components/forms/styles.module.css
  pages/login.jsx
Due: yarn lint --format, prettier --write

CORE: fix value type issue
  templates/deduplication/cards/compareCard.jsx
Due: yarn lint --format

CORE: fix value type issue (#715)
  templates/deduplication/cards/compareCard.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
