Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Pass whole page down to table component
  components/table/TableRow.jsx
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/works.js
Due: yarn lint --format

Fix wrong data shown when search
  components/table/index.jsx
  store/works.js
Due: yarn lint --format

Debounce search in table
  components/table/index.jsx
  utils/debounce.js
Due: yarn lint --format

Rewrite apiRequest to pure promise
  api/index.js
Due: yarn lint --format

Make apiRequest cancellable
  api/index.js
  store/deposit-dates.js
  store/root.js
  store/user.js
  store/works.js
Due: yarn lint --format

Cancel old table requests
  api/index.js
  components/table/TablePage.jsx
  components/table/index.jsx
  store/deposit-dates.js
  store/works.js
Due: yarn lint --format

Add cancelable promise helper
  utils/promise.js
Due: yarn lint --format

Don't update state on unmounted TablePage
  components/table/TablePage.jsx
Due: yarn lint --format

Memoize fetchData callback
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Fix useless rerender
  components/table/index.jsx
  store/deposit-dates.js
Due: yarn lint --format

Reuse existing TablePage component instead of remounting
  components/table/TablePage.jsx
  components/table/index.jsx
Due: yarn lint --format

Update components/published-toggle/index.jsx
  components/published-toggle/index.jsx
Due: yarn lint --format

Disable Take down buttons (#100)
  components/published-toggle/index.css
  components/published-toggle/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Simple logout
  components/application/index.jsx
  components/application/logout.css
  components/application/logout.jsx
  public/login.html
Due: yarn lint --format, prettier --write

Add simple logout (#93)
  components/application/index.jsx
  components/application/logout.css
  components/application/logout.jsx
  public/login.html
Due: yarn lint --format, prettier --write

Table component abort useless requests (#97)
  api/index.js
  components/table/TablePage.jsx
  components/table/TableRow.jsx
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/deposit-dates.js
  store/helpers/page.js
  store/root.js
  store/user.js
  store/works.js
  utils/debounce.js
  utils/promise.js
Due: yarn lint --format

Install sentry
  package-lock.json
  package.json
Due: prettier --write

Integrate sentry
  .eslintrc.yml
  next.config.js
  pages/_app/index.jsx
  utils/sentry.js
Due: yarn lint --format

Set user for better debugging
  pages/_app/index.jsx
Due: yarn lint --format

Create ErrorBoundary component
  components/error-boundary/index.jsx
  pages/_app/index.jsx
Due: yarn lint --format

Create withErrorBoundary HOC
  utils/withErrorBoundary.jsx
Due: yarn lint --format

Wrap Table within ErrorBoundary
  components/table/index.jsx
Due: yarn lint --format

Export sourcemaps
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Use dotenv
  .env.example
  .gitignore
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Make normalizedData calculation async
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Use Map instead of array.filter
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Speedup deposit dates page rendering (#103)
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Sentry integration (#102)
  .env.example
  .eslintrc.yml
  .gitignore
  components/error-boundary/index.jsx
  components/table/index.jsx
  next.config.js
  package-lock.json
  package.json
  pages/_app/index.jsx
  utils/sentry.js
  utils/withErrorBoundary.jsx
Due: yarn lint --format, prettier --write

Show warning message when wrong credentials passed
  public/login.html
Due: none

Show warning message when wrong credentials passed (#104)
  public/login.html
Due: none

Fix click on logo redirect to Overview
  pages/_app/index.jsx
Due: yarn lint --format

Add CORE logo to login page
  public/login.html
Due: none

Simplify Logout look
  components/application/logout.jsx
Due: yarn lint --format

Store lastPage flag
  components/table/index.jsx
  store/deposit-dates.js
  store/helpers/page.js
  store/works.js
Due: yarn lint --format

Review texts
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  texts/depositing/chart.yml
  texts/depositing/compliance-notice.md
  texts/depositing/overview.yml
Due: yarn lint --format

Align center text below the CORE logo to login page
  public/login.html
Due: none

Enable sort for oai & authors
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Add CORE logo to logout page
  public/logout.html
Due: none

Use correct publication date data field
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Table fix (#106)
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  store/deposit-dates.js
  store/helpers/page.js
  store/works.js
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
