Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Improve DOI chart (#360)
  pages/data-providers/[data-provider-id]/doi.jsx
  templates/doi/cards/coverage-card.jsx
  templates/doi/cards/export-card.jsx
  templates/doi/cards/index.js
  templates/doi/cards/table-card.jsx
  templates/doi/index.jsx
  templates/doi/styles.module.css
  texts/doi/coverage.md
Due: yarn lint --format, prettier --write

Restore sidebar size back to 12rem
  components/layout/styles.module.css
Due: prettier --write

Add more options to NumericValue
  components/numeric-value/index.jsx
Due: yarn lint --format

Improve formatNumber()'s default behaviour
  utils/helpers.js
Due: yarn lint --format

Change row count to 5 for DOIs and Deposit dates
  templates/deposit-compliance/cards/table-card.jsx
  templates/doi/cards/table-card.jsx
Due: yarn lint --format

Restore sidebar size back to 12rem (#372)
  components/layout/styles.module.css
Due: prettier --write

Fix double data loading
  components/table/hooks/use-dynamic-data.js
  components/table/hooks/use-table-state.js
Due: yarn lint --format

Exclude AbortedError from page errors
  store/helpers/pages/pages.js
Due: yarn lint --format

Prevent user to redirect back to login
  pages/login.jsx
Due: yarn lint --format

Show logout message always
  pages/_app/index.jsx
  public/secure/login.js
Due: yarn lint --format

Check for /login only at one place
  pages/_app/index.jsx
  pages/login.jsx
Due: yarn lint --format

Fix applying Table.Body callbacks without a reason
  components/table/table.jsx
Due: yarn lint --format

Fix applying Table.Body callbacks without a reason (#374)
  components/table/table.jsx
Due: yarn lint --format

Use @oacore/stylelint-config-base
  .stylelintrc.yml
  package-lock.json
  package.json
  stylelint.config.js
Due: yarn lint --format, prettier --write

Use aliases for React and React-DOM
  next.config.js
Due: yarn lint --format

Bump @oacore/design
  components/application/index.jsx
  components/application/loading-bar.jsx
  components/application/styles.module.css
  design/card/footer.jsx
  design/card/index.js
  design/card/styles.module.css
  design/index.js
  package-lock.json
  package.json
  public/secure/invitation.html
  public/secure/login.html
  public/secure/reset.html
Due: yarn lint --format, prettier --write

Fix password reset
  pages/reset/index.jsx
  store/root.js
  store/user/base.js
Due: yarn lint --format

Fix variable naming
  public/secure/invitation.js
Due: yarn lint --format

Fix placeholder overlays input text
  public/secure/invitation.html
  public/secure/reset.html
Due: none

Apply label class for all labels on /login
  public/secure/login.html
Due: none

Polyfill ResizeObserver
  components/forms/iframe-form.jsx
  package.json
Due: yarn lint --format, prettier --write

Remove unused isExportDisabled
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  store/deposit-dates.js
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

Don't show logout message when /user endpoint is just checked for status
  pages/_app/index.jsx
Due: yarn lint --format

Show more detailed error messages on registration
  public/secure/invitation.js
Due: yarn lint --format

Add export functionality to content tab
  pages/data-providers/[data-provider-id]/content.jsx
  store/works.js
  templates/content/cards/table-card.jsx
  templates/content/index.jsx
  templates/deposit-compliance/cards/table-card.jsx
  texts/content/export.yml
  texts/content/index.js
  texts/index.js
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
