Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Update index.jsx
  templates/sdg/index.jsx
Due: yarn lint --format

Fix sdg email name (#722)
  store/data-provider/index.js
  templates/sdg/index.jsx
Due: yarn lint --format

CORE-5233: add reusable components to docs
  components/upload/assets/tutorialActive.svg
  components/upload/assets/video.svg
  package-lock.json
  package.json
  templates/membership/docs.jsx
  templates/membership/styles.module.css
  texts/memership/membership.yml
Due: yarn lint --format, prettier --write

CORE-5233: add data providers guide
  components/upload/assets/videoGuide.svg
  csp.config.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/documentation.jsx
  templates/membership/docs.jsx
  templates/membership/documentation.jsx
Due: yarn lint --format, prettier --write

CORE-5233: fix lint
  templates/membership/docs.jsx
  templates/membership/styles.module.css
Due: yarn lint --format, prettier --write

CORE-5233: fix lint
  templates/membership/docs.jsx
Due: yarn lint --format

CORE: fix redirect issue
  templates/membership/docs.jsx
  templates/membership/styles.module.css
Due: yarn lint --format, prettier --write

CORE: add indicator
  components/application/activities.js
Due: yarn lint --format

Core 5233 data providers guide (#723)
  components/application/activities.js
  components/upload/assets/tutorialActive.svg
  components/upload/assets/video.svg
  components/upload/assets/videoGuide.svg
  csp.config.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/documentation.jsx
  templates/membership/docs.jsx
  templates/membership/documentation.jsx
  templates/membership/styles.module.css
  texts/memership/membership.yml
Due: yarn lint --format, prettier --write

CORE-5136: remove oa for none uk
  templates/overview/index.jsx
Due: yarn lint --format

CORE-5138: add sdg card on overview
  store/data-provider/index.js
  templates/overview/cards/sdg-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/sdg/sdg.yml
Due: yarn lint --format, prettier --write

CORE: add sdg views
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/overview/cards/sdg-card.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/sdg/sdg.yml
Due: yarn lint --format, prettier --write

CORE-5183: add stats cards
  store/data-provider/index.js
  templates/overview/cards/orcid-card.jsx
  templates/overview/cards/sdg-card.jsx
  templates/overview/cards/statisticsCards.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/das/das.yml
  texts/deduplication/deduplication.yml
  texts/orcid/orcid.yml
  texts/rrs-retention/rrs.yml
  utils/colors.js
Due: yarn lint --format, prettier --write

CORE-5183: add sdg label
  components/performance-chart/index.jsx
  templates/overview/cards/sdg-card.jsx
Due: yarn lint --format

CORE: add enrichment
  templates/overview/cards/orcid-card.jsx
Due: yarn lint --format

Core 5183 update overview tab (#725)
  components/performance-chart/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  store/data-provider/index.js
  templates/overview/cards/orcid-card.jsx
  templates/overview/cards/sdg-card.jsx
  templates/overview/cards/statisticsCards.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  texts/das/das.yml
  texts/deduplication/deduplication.yml
  texts/orcid/orcid.yml
  texts/rrs-retention/rrs.yml
  texts/sdg/sdg.yml
  utils/colors.js
Due: yarn lint --format, prettier --write

CORE: temp disable stats
  components/application/activities.js
  templates/overview/index.jsx
Due: yarn lint --format

CORE: temp disable stats (#726)
  components/application/activities.js
  templates/overview/index.jsx
Due: yarn lint --format

CORE: orcid restrict
  templates/overview/cards/orcid-card.jsx
  templates/overview/cards/sdg-card.jsx
  templates/overview/index.jsx
Due: yarn lint --format

CORE: orcid restrict (#727)
  templates/overview/cards/orcid-card.jsx
  templates/overview/cards/sdg-card.jsx
  templates/overview/index.jsx
Due: yarn lint --format

added temporary message for dashboard downtime
  components/forms/iframe-form.jsx
  components/forms/styles.module.css
Due: yarn lint --format, prettier --write

added temporary message for dashboard downtime (#729)
  components/forms/iframe-form.jsx
  components/forms/styles.module.css
Due: yarn lint --format, prettier --write

remove outdated message
  components/forms/iframe-form.jsx
  components/forms/styles.module.css
Due: yarn lint --format, prettier --write

CORE: fix ui
  templates/research-software/styles.module.css
  templates/research-software/tables/readySwTable.jsx
Due: yarn lint --format, prettier --write

CORE: add action position
  templates/research-software/styles.module.css
Due: prettier --write

CORE: fix settings
  components/dashboard-settings-header/index.jsx
  templates/research-software/index.jsx
  templates/research-software/styles.module.css
Due: yarn lint --format, prettier --write

CORE: lint
  templates/research-software/styles.module.css
Due: prettier --write

CORE: fix sw data
  components/tablev2/body.jsx
  components/tablev2/tablev2.jsx
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format

CORE-5136: add missing spacing
  templates/research-software/index.jsx
Due: yarn lint --format

Core 5136 sw mentions tab (#718)
  components/application/activities.js
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.css
  components/dashboard-settings-header/index.jsx
  components/dashboard-settings-header/styles.module.css
  components/statsCard/statsCard.jsx
  components/tablev2/body.jsx
  components/tablev2/tablev2.jsx
  components/upload/assets/buttonArrow.svg
  components/upload/assets/cog.svg
  pages/data-providers/[data-provider-id]/research-software.jsx
  store/activities.js
  store/data-provider/index.js
  templates/research-software/components/notificationModal.jsx
  templates/research-software/components/settings.jsx
  templates/research-software/components/styles.module.css
  templates/research-software/index.jsx
  templates/research-software/styles.module.css
  templates/research-software/tables/readySwTable.jsx
  templates/research-software/tables/swTables.jsx
  templates/rrs-policy/tables/rrsTable.jsx
  texts/navigation.yml
  texts/orcid/orcid.yml
  texts/sw/sw.yml
Due: yarn lint --format, prettier --write

Update deploy workflow for stage environment
  .github/workflows/deploy.yml
Due: none

Rename deploy.yml to stage-deploy.yml
  .github/workflows/stage-deploy.yml
Due: none

Rename workflow file for production deployment
  .github/workflows/prod-deploy.yml
Due: none

CORE: fix sdg retrive
  templates/sdg/table/sdgTable.jsx
  texts/harvesting/overview.yml
  texts/orcid/orcid.yml
  utils/dates.js
Due: yarn lint --format

CORE: fix sdg retrive (#730)
  templates/sdg/table/sdgTable.jsx
  texts/harvesting/overview.yml
  texts/orcid/orcid.yml
  utils/dates.js
Due: yarn lint --format

CORE-5287: update logo section
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-5287: fix orcid preview
  components/dropdownTableCard/article.jsx
Due: yarn lint --format

Core 5287 update logo section (#731)
  components/dropdownTableCard/article.jsx
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE: fix indexing view
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
  templates/validator/RIoxValidator/RIoxValidator.jsx
Due: yarn lint --format, prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
