Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Connect RepositorySelect with dataProviders substore.
  components/application/index.jsx
  components/application/repository-select.jsx
  store/dataProviders.js
  store/store.js
Due: yarn lint --format

Login
  api/errors.js
  api/index.js
  components/application/repository-select.jsx
  design/select/index.jsx
  package-lock.json
  package.json
  pages/_app/index.jsx
  pages/index.js
  public/login.html
  store/depositDates.js
  store/index.jsx
  store/store.js
  store/user.js
Due: yarn lint --format, prettier --write

Fix dataProvider
  api/index.js
  components/application/index.jsx
  components/application/repository-select.jsx
  design/select/index.jsx
  pages/_app/index.jsx
  pages/index.js
  store/dataProviders.js
  store/depositDates.js
  store/store.js
  store/user.js
Due: yarn lint --format

Remove Content-Type from api requests
  api/index.js
Due: yarn lint --format

Remove Content-Type header for deposit dates request
  store/depositDates.js
Due: yarn lint --format

Improve API
  api/errors.js
  api/index.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Apply application flow 🎉
  components/application/index.jsx
  components/application/repository-select.jsx
  design/select/index.jsx
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/index.js
  pages/index.js
  public/login.html
Due: yarn lint --format

Develop application flow 🔥
  store/activities.js
  store/deposit-dates.js
  store/index.jsx
  store/root.js
  store/statistics.js
  store/store.js
  store/user.js
  store/works.js
Due: yarn lint --format

Fix grid on Overview page
  pages/data-providers/[data-provider-id]/overview.css
Due: prettier --write

Install Mustache
  package-lock.json
  package.json
Due: prettier --write

Develop simple Template interface
  texts/template.js
Due: yarn lint --format

Add overview and depositing texts
  texts/depositing/index.js
  texts/depositing/overview.yml
  texts/overview.js
Due: yarn lint --format

Make TimeLagChart's width and height configurable
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Use time lag chart on Overview page instead pure number
  pages/data-providers/[data-provider-id]/overview.jsx
  texts/depositing/overview.yml
Due: yarn lint --format

Fix GET params, HEAD method
  api/index.js
Due: yarn lint --format

Fix [object Object] in exported deposit dates CSV
  store/deposit-dates.js
Due: yarn lint --format

Fix GET params, HEAD method (#98)
  api/index.js
Due: yarn lint --format

Fix [object Object] in exported deposit dates CSV (#99)
  store/deposit-dates.js
Due: yarn lint --format

Use real data for deposit time lag chart
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  store/data.jsx
  store/deposit-dates.js
  texts/depositing/index.js
  texts/depositing/overview.yml
Due: yarn lint --format

Use null for statistics initial state
  store/root.js
Due: yarn lint --format

Disable Take down buttons
  components/published-toggle/index.css
  components/published-toggle/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Add depositing texts
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  texts/depositing/chart.yml
  texts/depositing/compliance-notice.md
  texts/depositing/export.yml
  texts/depositing/index.js
Due: yarn lint --format

Add more ticks to TimeLagChart
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Add automatic retrieving of deposit dates count
  store/deposit-dates.js
Due: yarn lint --format

Improve cards height on Overview
  pages/data-providers/[data-provider-id]/overview.css
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format, prettier --write

Store searchTerm and order in Page
  store/deposit-dates.js
  store/helpers/page.js
  store/works.js
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
