Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

CORE-4391: add feature placeholder for non sustaining members
  components/upload/assets/introMembership.svg
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4391: add feature placeholder for non sustaining members (#597)
  components/upload/assets/introMembership.svg
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

[Bugfix] - TC
  components/application/terms-condition.jsx
Due: yarn lint --format

HOTFIX, restore statistics loading
  store/data-provider/index.js
Due: yarn lint --format

the linting gods punished me
  store/data-provider/index.js
Due: yarn lint --format

feat: CORE-4430 add dashboard tutorial
  components/application/index.jsx
  components/application/styles.module.css
  components/dashboard-tutorial/dashboard-tutorial.store.js
  components/dashboard-tutorial/dashboardGuide.jsx
  components/dashboard-tutorial/dashboardGuideContent.jsx
  components/dashboard-tutorial/styles.module.css
  components/upload/assets/ArrowLeft.svg
  components/upload/assets/ArrowRight.svg
  components/upload/assets/imagePlaceholder.svg
  components/upload/assets/images/stepFirst.png
  components/upload/assets/images/stepFour.png
  components/upload/assets/images/stepThree.png
  components/upload/assets/images/stepTwo.png
  components/upload/assets/modalArrow.svg
  package-lock.json
  package.json
  pages/_app/hooks.js
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/overview/index.jsx
  templates/settings/index.jsx
  texts/depositing/dashboard-guide.yml
  texts/depositing/index.js
  utils/hooks/use-clickoutside.js
Due: yarn lint --format, prettier --write

update styles
  components/dashboard-tutorial/styles.module.css
  package-lock.json
Due: prettier --write

fix error issues
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

Update actions
  .github/workflows/pull-request-check.yml
Due: none

Update actions #2
  .github/workflows/pull-request-check.yml
Due: none

Update actions #3
  .github/workflows/pull-request-check.yml
Due: none

update version
  package-lock.json
  package.json
Due: prettier --write

Update actions #4
  .github/workflows/pull-request-check.yml
Due: none

Add babel plugin
  babel.config.js
Due: yarn lint --format

Add babel plugin
  babel.config.js
  package-lock.json
Due: yarn lint --format, prettier --write

Add babel plugin
  package-lock.json
Due: prettier --write

Fix babel config
  .github/workflows/pull-request-check.yml
  babel.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

[CORE-4431] Implement content repo
  .gitignore
  babel.config.js
  content/index.js
  netlify-cms.admin.html
  netlify-cms.config.yml
  next.config.js
  package-lock.json
  package.json
  pages/documentation/index.jsx
  templates/documentation/membership/index.jsx
Due: yarn lint --format, prettier --write

[CORE-4431] Implement content repo#2
  pages/documentation/index.jsx
Due: yarn lint --format

[CORE-4431] Implement content repo#2
  pages/documentation/index.jsx
  templates/documentation/membership/index.jsx
Due: yarn lint --format

fixes popup logic
  components/application/terms-condition.jsx
  store/root.js
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

fixes popup logic (#601)
  components/application/terms-condition.jsx
  store/root.js
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

CORE-4442 validation tab view
  components/application/activities.js
  components/upload/assets/menu.svg
  components/upload/assets/metadata.svg
  components/upload/assets/moreInfo.svg
  pages/data-providers/[data-provider-id]/validator.jsx
  store/activities.js
  templates/validator/cards/complianceCard.jsx
  templates/validator/cards/issueCard.jsx
  templates/validator/cards/validateCard.jsx
  templates/validator/index.jsx
  templates/validator/styles.module.css
  texts/navigation.yml
  texts/validator/index.js
  texts/validator/validator.yml
Due: yarn lint --format, prettier --write

CORE-4442
  components/forms/change-password/index.jsx
Due: yarn lint --format

HOTFIX typo in placeholder for starting
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

HOTFIX: pick the right organisation status
  pages/data-providers/[data-provider-id]/membership.jsx
  store/root.js
  templates/membership/index.jsx
Due: yarn lint --format

CORE-4430 update mobx store actions
  components/application/index.jsx
  components/dashboard-tutorial/dashboardGuide.jsx
  components/forms/change-password/index.jsx
  package-lock.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  store/root.js
  templates/overview/index.jsx
Due: yarn lint --format, prettier --write

hotfix: check the right billingplan for access
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

[CORE-4431] asyncAwait
  content/index.js
  pages/documentation/index.jsx
  templates/documentation/membership/index.jsx
Due: yarn lint --format

[CORE-4431] asyncAwait
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

CORE-4430 redirect to tutorial
  components/application/index.jsx
  components/application/styles.module.css
  components/upload/assets/restart.svg
Due: yarn lint --format, prettier --write

update font style
  templates/deposit-compliance/styles.module.css
Due: prettier --write

update wording
  texts/settings/settings.yml
Due: none

update node version
  .github/workflows/pull-request-check.yml
Due: none

update mobx version
  package-lock.json
  package.json
Due: prettier --write

[CORE-4431] fix asyncAwait
  csp.config.js
  netlify-cms.config.yml
  package-lock.json
  package.json
  pages/documentation/index.jsx
  templates/documentation/membership/index.jsx
Due: yarn lint --format, prettier --write

[CORE-4431] eslint loadAll
  content/index.js
Due: yarn lint --format

add visual feedback to "show more" button
  components/table/footer.jsx
Due: yarn lint --format

[CORE-4431] Header update
  templates/documentation/membership/index.jsx
Due: yarn lint --format

[CORE-4431] Add styles
  netlify-cms.admin.html
  netlify-cms.config.yml
  package-lock.json
  package.json
  pages/documentation/index.jsx
  templates/documentation/membership/index.jsx
  templates/documentation/membership/styles.module.css
Due: yarn lint --format, prettier --write
