Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

update count (#638)
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
Due: yarn lint --format

carousel item sticky
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/styles.module.css
Due: yarn lint --format, prettier --write

update access text
  texts/depositing/intro.md
Due: none

update access text (#639)
  texts/depositing/intro.md
Due: none

update docs scroll issue
  templates/membershipDocumentationNav/index.jsx
  texts/memership/membership.yml
Due: yarn lint --format

update docs scroll issue (#640)
  templates/membershipDocumentationNav/index.jsx
  texts/memership/membership.yml
Due: yarn lint --format

Core 449 notifications (#629)
  components/application/index.jsx
  components/application/styles.module.css
  components/application/useNotification.js
  components/upload/assets/faillHarvesting.svg
  components/upload/assets/successHarvesting.svg
  pages/_app/index.jsx
  store/root.js
  templates/settings/assets/bell.svg
  templates/settings/assets/complete.svg
  templates/settings/assets/issue.svg
  templates/settings/assets/notification.svg
  templates/settings/cards/notification.jsx
  templates/settings/cards/notificationPopUp.jsx
  templates/settings/index.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

update placement
  components/application/index.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

update placement (#641)
  components/application/index.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

update placement (#642)
  components/application/index.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

core notifications empty view
  components/application/index.jsx
  components/upload/assets/greenArrowBig.svg
  templates/settings/cards/notificationPopUp.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

core notifications empty view (#643)
  components/application/index.jsx
  components/upload/assets/greenArrowBig.svg
  templates/settings/cards/notificationPopUp.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4628: update settings and implement rorId
  components/application/activities.js
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  components/application/index.jsx
  components/dashboard-tutorial/dashboardGuide.jsx
  components/forms/change-password/index.jsx
  components/forms/change-password/styles.module.css
  components/input-select/input-select.jsx
  components/input-select/styles.module.css
  components/layout/styles.module.css
  components/upload/assets/infoGreen.svg
  components/upload/assets/navArrow.svg
  csp.config.js
  modules/billing/payment-required/data.js
  pages/data-providers/[data-provider-id]/badges.jsx
  pages/data-providers/[data-provider-id]/general.jsx
  pages/data-providers/[data-provider-id]/notifications.jsx
  pages/data-providers/[data-provider-id]/repository.jsx
  store/data-provider/index.js
  store/index.jsx
  store/root.js
  templates/settings/assets/warning.svg
  templates/settings/badges.jsx
  templates/settings/cards/notification.jsx
  templates/settings/confirmation.jsx
  templates/settings/general.jsx
  templates/settings/index.jsx
  templates/settings/notifications.jsx
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

update render logic
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

update render logic (#645)
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

update issues
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  components/application/index.jsx
  templates/settings/general.jsx
  templates/settings/repository.jsx
Due: yarn lint --format, prettier --write

CORE-4694 update wording
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

CORE-4694 update wording (#646)
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

Update env.config.js
  env.config.js
Due: yarn lint --format

add harvesting status
  components/upload/assets/done.svg
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/cards/harvesting-status-card.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
  texts/issues/issues.yml
Due: yarn lint --format, prettier --write

sub menu update
  components/application/activities.js
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  components/application/index.jsx
  components/dashboard-tutorial/dashboardGuide.jsx
  pages/data-providers/[data-provider-id]/badges.jsx
  pages/data-providers/[data-provider-id]/documentation.jsx
  pages/data-providers/[data-provider-id]/membership-type.jsx
  pages/data-providers/[data-provider-id]/organisational.jsx
  templates/membership/badges.jsx
  templates/membership/docs-styles.module.css
  templates/membership/documentation.jsx
  templates/membership/membershipType.jsx
  templates/settings/general.jsx
  templates/settings/repository.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

update title
  texts/settings/settings.yml
Due: none

CORE-4628: update settings and implement rorId (#644)
  components/application/activities.js
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.module.css
  components/application/index.jsx
  components/dashboard-tutorial/dashboardGuide.jsx
  components/forms/change-password/index.jsx
  components/forms/change-password/styles.module.css
  components/input-select/input-select.jsx
  components/input-select/styles.module.css
  components/layout/styles.module.css
  components/upload/assets/infoGreen.svg
  components/upload/assets/navArrow.svg
  csp.config.js
  modules/billing/payment-required/data.js
  pages/data-providers/[data-provider-id]/badges.jsx
  pages/data-providers/[data-provider-id]/documentation.jsx
  pages/data-providers/[data-provider-id]/membership-type.jsx
  pages/data-providers/[data-provider-id]/notifications.jsx
  pages/data-providers/[data-provider-id]/organisational.jsx
  pages/data-providers/[data-provider-id]/repository.jsx
  store/data-provider/index.js
  store/index.jsx
  store/root.js
  templates/membership/badges.jsx
  templates/membership/docs-styles.module.css
  templates/membership/documentation.jsx
  templates/membership/membershipType.jsx
  templates/settings/assets/warning.svg
  templates/settings/cards/notification.jsx
  templates/settings/confirmation.jsx
  templates/settings/general.jsx
  templates/settings/index.jsx
  templates/settings/notifications.jsx
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4661: add notificactin section
  components/application/activities.js
  components/checkbox/animated.jsx
  components/checkbox/index.js
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.css
  components/upload/images/harvestingStatus.png
  templates/settings/cards/notification.jsx
  templates/settings/notifications.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

Update data-statictics-card.jsx
  templates/overview/cards/data-statictics-card.jsx
Due: yarn lint --format

update step logic
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
Due: yarn lint --format, prettier --write

update chart
  templates/overview/cards/data-statictics-card.jsx
  utils/dates.js
Due: yarn lint --format

update chart (#647)
  templates/overview/cards/data-statictics-card.jsx
  utils/dates.js
Due: yarn lint --format

add post
  pages/data-providers/[data-provider-id]/harvesting.jsx
  store/root.js
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
  texts/issues/issues.yml
Due: yarn lint --format, prettier --write

CORE-4709: add request states
  components/upload/assets/failed.svg
  components/upload/assets/loading.svg
  store/root.js
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/styles.module.css
  texts/issues/issues.yml
Due: yarn lint --format, prettier --write

CORE-4709: style issues
  templates/harvesting/styles.module.css
Due: prettier --write

other views
  store/root.js
Due: yarn lint --format

CORE-4661: notification actions
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.css
  components/upload/images/harvestingStatus.png
  pages/data-providers/[data-provider-id]/notifications.jsx
  store/root.js
  templates/settings/cards/dedupliactionNotifications.jsx
  templates/settings/cards/harvestingNotification.jsx
  templates/settings/cards/notification.jsx
  templates/settings/notifications.jsx
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

guide modal
  components/upload/assets/notificationGuide.svg
  pages/data-providers/[data-provider-id]/overview.jsx
  store/root.js
  templates/overview/index.jsx
  templates/settings/cards/notificationGuide.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4661: default first option
  components/checkbox/radiobutton.jsx
  templates/settings/assets/notification.svg
  templates/settings/assets/notificationsOffs.svg
  templates/settings/notifications.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

resend issue
  components/checkbox/radiobutton.jsx
  components/upload/images/deduplicationStatus.svg
  components/upload/images/harvestingStatus.png
  components/upload/images/harvestingStatus.svg
  templates/settings/cards/dedupliactionNotifications.jsx
  templates/settings/cards/harvestingNotification.jsx
  templates/settings/notifications.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4661: update request type
  components/checkbox/radiobutton.jsx
  store/root.js
  templates/settings/cards/dedupliactionNotifications.jsx
  templates/settings/cards/harvestingNotification.jsx
  templates/settings/notifications.jsx
Due: yarn lint --format

CORE-4621 users ui
  store/Test.http
  templates/settings/accessUsers.jsx
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4661: fix api issue
  components/checkbox/radiobutton.jsx
  store/root.js
  templates/settings/cards/harvestingNotification.jsx
  templates/settings/notifications.jsx
  texts/settings/settings.yml
Due: yarn lint --format
