Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Align card buttons to bottom, charts to centre
  pages/data-providers/[data-provider-id]/overview.css
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format, prettier --write

Remove unused code
  design/alert/index.css
  design/alert/index.jsx
  design/avatar/index.css
  design/avatar/index.jsx
  design/index.js
Due: yarn lint --format, prettier --write

Remove LinkedList
  store/helpers/pages/page.js
  store/helpers/pages/pages.js
  store/works.js
  utils/linkedList/index.js
  utils/linkedList/linkedList.js
  utils/linkedList/linkedListNode.js
Due: yarn lint --format

Make all properties in Pages public
  store/helpers/pages/pages.js
Due: yarn lint --format

Add Chart.js
  package-lock.json
  package.json
Due: prettier --write

WIP: Rewrite TimeLagChart on Chart.js
  components/time-lag-chart/index.jsx
Due: yarn lint --format

WIP: Charts library, CSS variables
  charts/bar-chart.jsx
  charts/chart.jsx
  charts/index.js
  charts/styles.css
  charts/time-lag-chart.jsx
  components/time-lag-chart/index.jsx
Due: yarn lint --format, prettier --write

Better chart styles, passing refs
  charts/bar-chart.jsx
  charts/chart.jsx
  charts/styles.css
  charts/time-lag-chart.jsx
Due: yarn lint --format, prettier --write

Move DOI overview description to `texts`, fix typos
  pages/data-providers/[data-provider-id]/overview.jsx
  texts/depositing/compliance-notice.md
  texts/doi/index.js
  texts/doi/overview.yml
Due: yarn lint --format

Improve DOI overview description
  texts/doi/overview.yml
Due: none

Bump @oacore/design
  package-lock.json
  package.json
Due: prettier --write

Use Card from @oacore/design
  design/card/index.css
  design/card/index.jsx
  design/index.js
Due: yarn lint --format, prettier --write

Use DetailList from @oacore/design
  components/table/TableRow.jsx
  design/app-bar/toggle.jsx
  design/detail-list/index.jsx
  design/detail-list/styles.css
  design/index.js
Due: yarn lint --format, prettier --write

Use elements from @oacore/design (#255)
  components/table/TableRow.jsx
  design/app-bar/toggle.jsx
  design/card/index.css
  design/card/index.jsx
  design/detail-list/index.jsx
  design/detail-list/styles.css
  design/index.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Move login to /login
  components/application/activity-select/index.jsx
  components/application/logout.jsx
  components/application/repository-select.jsx
  pages/_app/index.css
  pages/_app/index.jsx
  pages/index.js
  pages/login.css
  pages/login.jsx
  store/root.js
Due: yarn lint --format, prettier --write

Move plain login to subfolder
  pages/login.jsx
  public/secure/login.css
  public/secure/login.html
  public/secure/login.js
Due: yarn lint --format, prettier --write

Remove loading param
  public/secure/login.js
Due: yarn lint --format

Fix links
  pages/data-providers/[data-provider-id]/overview.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
Due: yarn lint --format

Move login to /login (#259)
  components/application/activity-select/index.jsx
  components/application/logout.jsx
  components/application/repository-select.jsx
  pages/_app/index.css
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  pages/index.js
  pages/login.css
  pages/login.jsx
  public/secure/login.css
  public/secure/login.html
  public/secure/login.js
  store/root.js
Due: yarn lint --format, prettier --write

Bump design
  package-lock.json
  package.json
Due: prettier --write

Redirect if user is not authenticated
  pages/_app/index.jsx
Due: yarn lint --format

next/link requires functional components to be wrapped withing React.forwardRef
  design/drawer/item.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Bug fixes (#261)
  design/drawer/item.jsx
  package-lock.json
  package.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format, prettier --write

Handle login in iframe only
  pages/_app/index.jsx
  pages/login.jsx
  public/secure/login.js
Due: yarn lint --format

Rename TableRow -> Row
  components/table/Row.jsx
  components/table/index.jsx
Due: yarn lint --format

lower case all table files
  components/table/column.jsx
  components/table/index.jsx
  components/table/load-more-row.jsx
  components/table/no-data-found-row.jsx
  components/table/row.jsx
  components/table/sidebar.jsx
Due: yarn lint --format

Export table and all its components in separate file
  components/table/index.js
  components/table/table.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format

Rename index.css -> styles.css
  components/table/index.jsx
  components/table/row.jsx
  components/table/sidebar.jsx
  components/table/styles.css
Due: yarn lint --format, prettier --write

Remove hoist-non-react-statics
  package-lock.json
  package.json
  utils/withErrorBoundary.jsx
Due: yarn lint --format, prettier --write

Unify table with the rest of codebase (#267)
  components/table/column.jsx
  components/table/index.js
  components/table/load-more-row.jsx
  components/table/no-data-found-row.jsx
  components/table/row.jsx
  components/table/sidebar.jsx
  components/table/styles.css
  components/table/table.jsx
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/doi.jsx
  utils/withErrorBoundary.jsx
Due: yarn lint --format, prettier --write

Handle login in iframe only (#262)
  pages/_app/index.jsx
  pages/login.jsx
  public/secure/login.js
Due: yarn lint --format

Use css from design in login
  pages/login.css
  pages/login.jsx
  public/secure/login.css
  public/secure/login.html
Due: yarn lint --format, prettier --write

Move iframe resize to separate component
  form/iframe-form.jsx
  pages/login.jsx
Due: yarn lint --format

Use css from design in login iframe (#266)
  form/iframe-form.jsx
  pages/login.css
  pages/login.jsx
  public/secure/login.css
  public/secure/login.html
Due: yarn lint --format, prettier --write

Change password in settings
  components/forms/change-password/index.jsx
  components/forms/change-password/styles.css
  components/forms/index.js
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/settings.css
  pages/data-providers/[data-provider-id]/settings.jsx
  public/secure/reset.css
  public/secure/reset.html
  public/secure/reset.js
Due: yarn lint --format, prettier --write
