Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Add engines for Now
  package.json
Due: prettier --write

Pass NODE_ENV to Now
  now.json
Due: prettier --write

Improve Avatar component look and interface
  design/avatar/index.css
  design/avatar/index.jsx
Due: yarn lint --format, prettier --write

Bump @oacore/design to 0.0.5
  package-lock.json
  package.json
Due: prettier --write

Setup postcss-preset-env
  package.json
  postcss.config.js
Due: yarn lint --format, prettier --write

Improve layout, use @oacore/design
  components/header/index.css
  components/header/index.jsx
  components/header/toggle.css
  components/header/toggle.jsx
  components/layout/index.css
  components/layout/index.jsx
  components/layout/media-queries.css
  components/searchbar/index.jsx
  components/sidebar/index.css
  components/sidebar/index.jsx
  pages/_app.jsx
  pages/index.css
Due: yarn lint --format, prettier --write

Improve Logo component
  design/logo/index.css
  design/logo/index.jsx
Due: yarn lint --format, prettier --write

Add simple table
  components/table/LoadingRow.jsx
  components/table/TablePage.jsx
  components/table/index.css
  components/table/index.jsx
  utils/helpers.js
Due: yarn lint --format, prettier --write

Display some demo data
  pages/data.css
  pages/data.jsx
Due: yarn lint --format, prettier --write

Use component for Table from @oacore/design
  components/table/LoadingRow.jsx
  components/table/TablePage.jsx
  components/table/index.jsx
Due: yarn lint --format

Add column renderers
  components/table/TablePage.jsx
  components/table/index.jsx
  pages/data.css
  pages/data.jsx
Due: yarn lint --format, prettier --write

Allow to select rows
  components/table/LoadingRow.jsx
  components/table/TablePage.jsx
  components/table/index.css
  components/table/index.jsx
  pages/data.jsx
Due: yarn lint --format, prettier --write

Move search bar to table component
  components/searchbar/index.jsx
  components/table/LoadingRow.jsx
  components/table/TablePage.jsx
  components/table/index.jsx
  pages/data.jsx
Due: yarn lint --format

Add sortable option to columns config
  components/table/index.jsx
  pages/data.jsx
Due: yarn lint --format

Move render prop to columns config
  components/table/TablePage.jsx
  components/table/index.jsx
  pages/data.jsx
Due: yarn lint --format

Expandable rows
  components/table/LoadingRow.jsx
  components/table/TablePage.jsx
  components/table/TableRow.jsx
  components/table/TableRowExpanded.jsx
  components/table/index.css
  components/table/index.jsx
  pages/data.css
  pages/data.jsx
Due: yarn lint --format, prettier --write

Rebase fixes
  components/layout/index.css
Due: prettier --write

Remove unused code
  components/layout/index.css
  design/header/index.css
  design/header/index.jsx
Due: yarn lint --format, prettier --write

Data tab (#20)
  components/layout/index.css
  components/searchbar/index.jsx
  components/table/LoadingRow.jsx
  components/table/TablePage.jsx
  components/table/TableRow.jsx
  components/table/TableRowExpanded.jsx
  components/table/index.css
  components/table/index.jsx
  design/header/index.css
  design/header/index.jsx
  pages/data.css
  pages/data.jsx
  utils/helpers.js
Due: yarn lint --format, prettier --write

Alias `design` directory
  next.config.js
Due: yarn lint --format

Tolerate Node version
  package.json
Due: prettier --write

Add default export support
  babel.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Add AppBarToggle, CloseIcon, index.js to design
  design/app-bar/toggle.css
  design/app-bar/toggle.jsx
  design/close-icon/index.css
  design/close-icon/index.jsx
  design/index.js
Due: yarn lint --format, prettier --write

Split up Layout presentation and business logic
  components/application/activity-select.css
  components/application/activity-select.jsx
  components/application/index.jsx
  components/application/repository-select.css
  components/application/repository-select.jsx
  components/header/index.css
  components/header/index.jsx
  components/header/toggle.css
  components/header/toggle.jsx
  components/layout/app-bar.jsx
  components/layout/container.jsx
  components/layout/context.js
  components/layout/index.css
  components/layout/index.js
  components/layout/index.jsx
  components/layout/main.jsx
  components/layout/side-bar.jsx
  components/layout/styles.css
  components/searchbar/index.css
  components/searchbar/index.jsx
  components/sidebar/index.css
  components/sidebar/index.jsx
  pages/_app.jsx
Due: yarn lint --format, prettier --write

Fix Head component
  components/application/head.jsx
  components/application/index.jsx
  components/layout/styles.css
Due: yarn lint --format, prettier --write

Fix Head component (#37)
  components/application/head.jsx
  components/application/index.jsx
  components/layout/styles.css
Due: yarn lint --format, prettier --write

Fix layout internal spacing
  components/layout/styles.css
Due: prettier --write

Add a navigation drawer component
  design/drawer/index.js
  design/drawer/item.jsx
  design/drawer/list.jsx
  design/drawer/styles.css
  design/index.js
Due: yarn lint --format, prettier --write

Add helper classes
  design/class-name-helpers.css
  design/index.js
Due: yarn lint --format, prettier --write

Integrate Drawer into ActivitySelector
  components/application/activity-select.css
  components/application/activity-select.jsx
Due: yarn lint --format, prettier --write

Fix sidebar tag name and heading for screen readers
  components/application/index.jsx
Due: yarn lint --format

Publish toggle
  components/published-toggle/index.css
  components/published-toggle/index.jsx
  components/published-toggle/published.svg
  components/published-toggle/unpublished.svg
  pages/data.jsx
Due: yarn lint --format, prettier --write

Remove unused variable
  components/published-toggle/index.css
Due: prettier --write

Publish toggle (#30)
  components/published-toggle/index.css
  components/published-toggle/index.jsx
  components/published-toggle/published.svg
  components/published-toggle/unpublished.svg
  pages/data.jsx
Due: yarn lint --format, prettier --write

Add basic Card component
  design/card/index.css
  design/card/index.jsx
  design/index.js
Due: yarn lint --format, prettier --write

Make expandable optional
  components/table/TablePage.jsx
  components/table/index.jsx
  pages/data.jsx
Due: yarn lint --format

Create /deposit-dates page
  components/application/activity-select.jsx
  pages/deposit-dates.jsx
Due: yarn lint --format

Don't assign onClick handler when table is not expandable
  components/table/TablePage.jsx
  components/table/TableRow.jsx
  components/table/index.jsx
  pages/data.css
  pages/deposit-dates.css
  pages/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
