Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

update view for sustaining members
  components/access-placeholder/AccessPlaceholder.jsx
  components/access-placeholder/styles.module.css
  pages/data-providers/[data-provider-id]/deduplication.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
  templates/deduplication/tables/innerTableHeader.jsx
  templates/deposit-compliance/index.jsx
  templates/doi/index.jsx
Due: yarn lint --format, prettier --write

notification pop up
  components/application/index.jsx
  components/application/styles.module.css
  components/upload/assets/faillHarvesting.svg
  components/upload/assets/successHarvesting.svg
  pages/_app/index.jsx
  store/root.js
  templates/settings/cards/notificationPopUp.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

Change config to API02
  env.config.js
Due: yarn lint --format

Update env.config.js
  env.config.js
Due: yarn lint --format

update notifications
  components/application/index.jsx
  components/application/useNotification.js
  pages/_app/index.jsx
  store/root.js
  templates/settings/cards/notificationPopUp.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

notifications in settings
  templates/settings/index.jsx
Due: yarn lint --format

Hotfix: change reset message
  pages/reset/index.jsx
Due: yarn lint --format

Percent fix
  pages/reset/index.jsx
  templates/overview/cards/doi-card.jsx
  utils/helpers.js
Due: yarn lint --format

Percent fix (#630)
  pages/reset/index.jsx
  templates/overview/cards/doi-card.jsx
  utils/helpers.js
Due: yarn lint --format

refactor deduplication
  components/toggle-panel/styles.module.css
  components/toggle-panel/togglePanel.jsx
  components/upload/assets/carouselArrowLeft.svg
  components/upload/assets/carouselArrowRight.svg
  components/upload/assets/redirect.svg
  components/upload/assets/togglerArrow.svg
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/deduplication.jsx
  store/data-provider/index.js
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/guideCard.jsx
  templates/deduplication/cards/tableActionModal.jsx
  templates/deduplication/cards/warningCard.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/innerTable.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

add info in sidebar
  components/application/index.jsx
  components/application/styles.module.css
  components/upload/assets/repositoryIcon.svg
  store/data-provider/index.js
  templates/overview/index.jsx
  templates/settings/index.jsx
Due: yarn lint --format, prettier --write

add info in sidebar (#631)
  components/application/index.jsx
  components/application/styles.module.css
  components/upload/assets/repositoryIcon.svg
  store/data-provider/index.js
  templates/overview/index.jsx
  templates/settings/index.jsx
Due: yarn lint --format, prettier --write

update dashboard
  components/application/index.jsx
  components/application/styles.module.css
  components/dashboard-tutorial/dashboardGuide.jsx
  components/dashboard-tutorial/styles.module.css
  texts/depositing/dashboard-guide.yml
Due: yarn lint --format, prettier --write

update version
  package-lock.json
Due: prettier --write

fix tutorial
  components/application/index.jsx
  components/application/styles.module.css
  components/dashboard-tutorial/styles.module.css
Due: yarn lint --format, prettier --write

Core 4587 dashboard fixes (#632)
  components/application/index.jsx
  components/application/styles.module.css
  components/dashboard-tutorial/dashboardGuide.jsx
  components/dashboard-tutorial/styles.module.css
  package-lock.json
  texts/depositing/dashboard-guide.yml
Due: yarn lint --format, prettier --write

update steps placement on bottom line
  components/application/activity-select/styles.module.css
  components/dashboard-tutorial/dashboardGuide.jsx
  components/dashboard-tutorial/styles.module.css
Due: yarn lint --format, prettier --write

update steps placement on bottom line (#633)
  components/application/activity-select/styles.module.css
  components/dashboard-tutorial/dashboardGuide.jsx
  components/dashboard-tutorial/styles.module.css
Due: yarn lint --format, prettier --write

update deduplication
  components/showMore/index.jsx
  components/showMore/styles.module.css
  components/toggle-panel/styles.module.css
  components/toggle-panel/togglePanel.jsx
  components/upload/assets/check.svg
  package-lock.json
  store/data-provider/index.js
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/warningCard.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

remove extra data
  templates/deduplication/cards/compareCard.jsx
Due: yarn lint --format

fix small visual issues
  components/toggle-panel/togglePanel.jsx
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/styles.module.css
Due: yarn lint --format, prettier --write

update id
  templates/deduplication/cards/compareCard.jsx
Due: yarn lint --format

update id (#635)
  templates/deduplication/cards/compareCard.jsx
Due: yarn lint --format

fix deduplication visual issues
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deposit-compliance/cards/cross-repository-check-redirect-card.jsx
  templates/doi/cards/coverage-card.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

temp changes
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/styles.module.css
Due: yarn lint --format, prettier --write

fix text copy issue
  templates/deduplication/styles.module.css
Due: prettier --write

oai pop up
  components/toggle-panel/togglePanel.jsx
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/innerTable.jsx
Due: yarn lint --format, prettier --write

Core 4563 - update deduplication (#634)
  components/showMore/index.jsx
  components/showMore/styles.module.css
  components/toggle-panel/styles.module.css
  components/toggle-panel/togglePanel.jsx
  components/upload/assets/carouselArrowLeft.svg
  components/upload/assets/carouselArrowRight.svg
  components/upload/assets/check.svg
  components/upload/assets/redirect.svg
  components/upload/assets/togglerArrow.svg
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/deduplication.jsx
  store/data-provider/index.js
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/cards/guideCard.jsx
  templates/deduplication/cards/tableActionModal.jsx
  templates/deduplication/cards/warningCard.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/deposit-compliance/cards/cross-repository-check-redirect-card.jsx
  templates/doi/cards/coverage-card.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

update matching logic
  templates/deduplication/cards/compareCard.jsx
  utils/helpers.js
Due: yarn lint --format

update matching logic (#636)
  templates/deduplication/cards/compareCard.jsx
  utils/helpers.js
Due: yarn lint --format

update nav
  texts/memership/membership.yml
Due: none

update nav (#637)
  texts/memership/membership.yml
Due: none

minor changes
  components/application/index.jsx
  components/application/styles.module.css
  components/application/useNotification.js
Due: yarn lint --format, prettier --write

redirect
  components/application/index.jsx
  components/application/styles.module.css
  templates/settings/cards/notificationPopUp.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

update count
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
