Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

CORE-4509 fetch data issue
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
Due: yarn lint --format

deleted old workflow
  .github/workflows/d_azure-test_core-dashboard-test.yml
Due: none

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/d_azure-test_core-dashboard.yml
Due: none

added script
  .deployment
  deploy.sh
Due: none

added script
  .github/workflows/d_azure-test_core-dashboard.yml
Due: none

default script test
  deploy.sh
Due: none

CORE-4509 add pagination
  components/showMore/index.jsx
  components/showMore/styles.module.css
  components/table/footer.jsx
  components/table/table.jsx
  components/upload/assets/greenTick.svg
  pages/data-providers/[data-provider-id]/deduplication.jsx
  store/data-provider/index.js
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/cards/tableActionModal.jsx
  templates/deduplication/cards/tableActions.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/deduplication/tables/innerTableHeader.jsx
  texts/deduplication/deduplication.yml
  texts/deduplication/index.js
Due: yarn lint --format, prettier --write

fix: CORE-4509 fix rerender issue and rowClick issue
  components/upload/assets/kebabMenu.svg
  pages/data-providers/[data-provider-id]/deduplication.jsx
  store/data-provider/index.js
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/tableActionModal.jsx
  templates/deduplication/cards/tableActions.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/deduplication/tables/innerTableHeader.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

CORE-4509 fix type issue
  components/showMore/index.jsx
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/innerTable.jsx
Due: yarn lint --format, prettier --write

CORE-4509 add header info and style types
  components/actions/index.jsx
  components/upload/assets/questionInfo.svg
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/cards/tableActionModal.jsx
  templates/deduplication/cards/tableActions.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/innerTable.jsx
Due: yarn lint --format, prettier --write

CORE-4509 fix row click issue
  components/table/body.jsx
  components/table/table.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format

update deduplication icon
  components/application/activities.js
  package-lock.json
  package.json
  store/activities.js
Due: yarn lint --format, prettier --write

update url names
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/deduplication/tables/innerTableHeader.jsx
Due: yarn lint --format

add last deduplication date
  pages/data-providers/[data-provider-id]/deduplication.jsx
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/index.jsx
  templates/deduplication/tables/innerTableHeader.jsx
Due: yarn lint --format

fix style issue
  templates/deduplication/styles.module.css
Due: prettier --write

CORE-4509 add show more and info tooltip
  components/showMore/index.jsx
  components/showMore/styles.module.css
  components/table/table.jsx
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/deduplication/tables/innerTableHeader.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

CORE-4509 add cards
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

[bugfix] CORS fix
  api/index.js
Due: yarn lint --format

Bugfix/headers cors (#624)
  api/index.js
Due: yarn lint --format

Rollback CORS
  api/index.js
Due: yarn lint --format

api02 tp api
  env.config.js
Due: yarn lint --format

Bugfix/headers cors (#626)
  env.config.js
Due: yarn lint --format

CORE-4509 update deduplication
  store/data-provider/index.js
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/warningCard.jsx
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/deduplication/tables/innerTableHeader.jsx
  texts/deduplication/deduplication.yml
  texts/navigation.yml
  utils/helpers.js
Due: yarn lint --format, prettier --write

CORE-4509 update nav size
  components/application/activity-select/styles.module.css
Due: prettier --write

Set api02
  env.config.js
Due: yarn lint --format

Rollback to api common
  env.config.js
Due: yarn lint --format

GA4 Init
  package-lock.json
  package.json
  utils/analytics.js
Due: yarn lint --format, prettier --write

fix package.lock
  package-lock.json
Due: prettier --write

fix package.lock #3
  package-lock.json
Due: prettier --write

Fix style
  utils/analytics.js
Due: yarn lint --format

pack.lock rebuild
  package-lock.json
  package.json
Due: prettier --write

Upd title
  utils/analytics.js
Due: yarn lint --format

GA4 Init (#627)
  package-lock.json
  package.json
  utils/analytics.js
Due: yarn lint --format, prettier --write

SCP upd
  csp.config.js
Due: yarn lint --format

SCP upd (#628)
  csp.config.js
Due: yarn lint --format

CORE-4509 update deduplication visually
  components/upload/assets/gamepad.svg
  components/upload/assets/oai.svg
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/tableActions.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
  templates/deduplication/tables/innerTableHeader.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

add guide modal
  components/showMore/index.jsx
  components/upload/assets/compareGuide.svg
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/guideCard.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/innerTable.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

HOTFIX: remove old code for CORS issue
  api/index.js
Due: yarn lint --format
