Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Add export functionality to content tab
  pages/data-providers/[data-provider-id]/content.jsx
  store/works.js
  templates/content/cards/table-card.jsx
  templates/content/index.jsx
  templates/deposit-compliance/cards/table-card.jsx
  texts/content/export.yml
  texts/content/index.js
  texts/index.js
Due: yarn lint --format

Migrate Organisation to Resource
  store/issues.js
  store/organisation.js
  store/resource.js
  store/root.js
Due: yarn lint --format

Retrieve dataProviders from '/user/id/data-providers'
  store/resource.js
  store/root.js
  store/user/dashboard.js
  templates/overview/cards/rioxx-card.jsx
Due: yarn lint --format

Check access rights in setter
  store/root.js
  store/user/dashboard.js
Due: yarn lint --format

Check for null in dataProvider
  store/root.js
Due: yarn lint --format

Fix dataProvider can be undefined
  store/root.js
Due: yarn lint --format

Redirect to the first available data provider if AccessError occurs
  pages/_app/index.jsx
  store/root.js
Due: yarn lint --format

Show general error message when update organisation fails
  components/forms/shell.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  store/root.js
Due: yarn lint --format

Remove duplicate styles
  components/application/head.jsx
Due: yarn lint --format

Resolve Favicons from core.ac.uk
  components/application/head.jsx
  public/favicon/favicon-128px.png
  public/favicon/favicon-256px.png
  public/favicon/favicon-32px.png
  public/favicon/favicon-512px.png
  public/favicon/favicon-64px.png
  public/favicon/favicon.svg
Due: yarn lint --format

Resolve Favicons from core.ac.uk (#389)
  components/application/head.jsx
  public/favicon/favicon-128px.png
  public/favicon/favicon-256px.png
  public/favicon/favicon-32px.png
  public/favicon/favicon-512px.png
  public/favicon/favicon-64px.png
  public/favicon/favicon.svg
Due: yarn lint --format

Fix wrong param for URLSearch constructor
  public/secure/login.js
Due: yarn lint --format

Bump CoreJS
  babel.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Cover more browsers
  .browserslistrc
Due: none

Fix infinite loading of data in table
  store/helpers/pages/pages.js
Due: yarn lint --format

Fix infinite loading of data in table (#394)
  store/helpers/pages/pages.js
Due: yarn lint --format

Bump @oacore/design
  package-lock.json
  package.json
Due: prettier --write

Use Logo component from design
  components/layout/app-bar.jsx
  components/layout/side-bar.jsx
  design/index.js
  design/logo/index.jsx
  design/logo/index.module.css
  public/core-symbol.svg
Due: yarn lint --format, prettier --write

Remove unused asset
  public/avatar.png
Due: none

Use messages from @oacore/design
  public/secure/invitation.css
  public/secure/invitation.html
  public/secure/invitation.js
  public/secure/login.css
  public/secure/login.html
  public/secure/login.js
  public/secure/reset.css
  public/secure/reset.html
  public/secure/reset.js
Due: yarn lint --format, prettier --write

Migrate raw inputs
  public/secure/invitation.html
  public/secure/login.html
  public/secure/reset.html
Due: none

Remove duplicated AppBar styles
  components/layout/styles.module.css
Due: prettier --write

Fix clipped label on change password form in /settings
  public/secure/reset.css
  public/secure/reset.html
Due: prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
