Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Upgrade next
  package-lock.json
  package.json
  pages/_app/index.jsx
Due: yarn lint --format, prettier --write

Create store for org
  store/organisation.js
  store/root.js
Due: yarn lint --format

Use FormShell in settings
  components/forms/index.js
  pages/data-providers/[data-provider-id]/settings.jsx
Due: yarn lint --format

Add invitation section with form to settings
  components/forms/shell.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/data-providers/[data-provider-id]/settings.module.css
  store/organisation.js
  store/root.js
  store/user.js
Due: yarn lint --format, prettier --write

Move form wrapper to it's own file
  components/forms/shell.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
Due: yarn lint --format

Register new user form
  components/forms/index.js
  components/forms/invitation-register/index.jsx
  components/forms/invitation-register/styles.module.css
  pages/_app/index.jsx
  pages/invitation.jsx
  pages/invitation.module.css
  pages/login.jsx
  public/secure/invitation.css
  public/secure/invitation.html
  public/secure/invitation.js
  public/secure/login.js
Due: yarn lint --format, prettier --write

Show message when email has already been invited
  api/errors.js
  components/forms/shell.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/data-providers/[data-provider-id]/settings.module.css
  store/organisation.js
Due: yarn lint --format, prettier --write

Hide invitation code if supplied
  public/secure/invitation.js
Due: yarn lint --format

Add password reset forms
  components/forms/change-password/index.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/reset/[token].jsx
  pages/reset/index.jsx
  pages/reset/styles.module.css
  public/secure/login.css
  public/secure/login.html
  public/secure/reset.js
  store/user.js
Due: yarn lint --format, prettier --write

Add new data overview card
  components/numeric-value/index.jsx
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/deposit-compliance.module.css
  pages/data-providers/[data-provider-id]/doi.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  store/activities.js
  store/deposit-dates.js
  texts/depositing/compliance-notice.md
  texts/depositing/data-overview.md
  texts/depositing/index.js
  texts/navigation.yml
  utils/helpers.js
Due: yarn lint --format, prettier --write

Listen on routeChangeStart after user is fetched
  pages/_app/index.jsx
  store/root.js
Due: yarn lint --format

Replace css hamburger with icon
  design.config.js
  design/app-bar/toggle.jsx
  design/app-bar/toggle.module.css
Due: yarn lint --format, prettier --write

Replace css close icon with svg icon
  components/layout/side-bar.jsx
  design/close-icon/index.jsx
  design/close-icon/index.module.css
  design/index.js
Due: yarn lint --format, prettier --write

Replace CloseIcon with svg & move sidebar footer to the bottom
  components/table/sidebar.jsx
  components/table/styles.module.css
Due: yarn lint --format, prettier --write

Hide token field always in password reset
  pages/data-providers/[data-provider-id]/settings.jsx
  public/secure/reset.js
Due: yarn lint --format

WIP: Store refactoring
  store/api.js
  store/data-provider.js
  store/resource.js
  store/user/base.js
  store/user/dashboard.js
  store/user/index.js
Due: yarn lint --format

Add Resource#extend method
  store/resource.js
Due: yarn lint --format

Use real non compliant percentage
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Observer iframe after ref is assigned
  components/forms/iframe-form.jsx
Due: yarn lint --format

Temporary fix now.sh deployment
  package.json
Due: prettier --write

Observe iframe body after is loaded
  components/forms/iframe-form.jsx
Due: yarn lint --format

Replace mobx-react with lite version
  components/table/column.jsx
  components/table/row.jsx
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/content.jsx
  store/index.jsx
Due: yarn lint --format, prettier --write

Fix wording
  components/forms/change-password/index.jsx
  public/secure/reset.html
  texts/depositing/cross-repository-check.md
Due: yarn lint --format

Use correct number of new DOIs records
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format
