Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

text update (#658)
  .gitignore
  components/upload/images/harvestingStatus.svg
  texts/settings/settings.yml
Due: none

CORE-4821: make input data visible
  public/secure/login.css
  public/secure/login.html
Due: prettier --write

CORE-4821: style order
  public/secure/login.css
Due: prettier --write

CORE-4821: make input data visible (#659)
  public/secure/login.css
  public/secure/login.html
Due: prettier --write

CORE: tc version update
  components/application/terms-condition.jsx
Due: yarn lint --format

CORE: tc version update (#660)
  components/application/terms-condition.jsx
Due: yarn lint --format

CORE-4830: reusable header component
  components/dashboard-header/index.jsx
  components/dashboard-header/styles.module.css
  components/showMore/index.jsx
  components/showMore/styles.module.css
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  templates/membership/membershipType.jsx
  templates/settings/styles.module.css
  templates/validator/index.jsx
  templates/validator/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4830: reusable header component (#661)
  components/dashboard-header/index.jsx
  components/dashboard-header/styles.module.css
  components/showMore/index.jsx
  components/showMore/styles.module.css
  templates/deduplication/index.jsx
  templates/deduplication/styles.module.css
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  templates/membership/membershipType.jsx
  templates/settings/styles.module.css
  templates/validator/index.jsx
  templates/validator/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4805: rrs layout
  components/application/activities.js
  env.config.js
  pages/data-providers/[data-provider-id]/policy.jsx
  store/activities.js
  templates/rrs-policy/cards/rrsCheckerCard.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/cards/warningCard.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  templates/settings/notifications.jsx
  texts/navigation.yml
  texts/rrs-retention/index.js
  texts/rrs-retention/rrs.yml
Due: yarn lint --format, prettier --write

CORE: refactor message tip
  components/dashboard-tip-message/index.jsx
  components/dashboard-tip-message/styles.module.css
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
Due: yarn lint --format, prettier --write

CORE: refactor message tip (#662)
  components/dashboard-tip-message/index.jsx
  components/dashboard-tip-message/styles.module.css
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/innerTable.jsx
Due: yarn lint --format, prettier --write

CORE-4666: create reindexing modal
  env.config.js
  templates/harvesting/cards/harvesting-modal.jsx
  templates/harvesting/cards/harvesting-progress.jsx
  templates/harvesting/styles.module.css
  texts/issues/issues.yml
Due: yarn lint --format, prettier --write

add types
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format, prettier --write

CORE: add status columns
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/settings/notifications.jsx
Due: yarn lint --format, prettier --write

CORE-4835: fix layout issue
  templates/harvesting/cards/type-card.jsx
Due: yarn lint --format

CORE-4835: fix layout issue (#663)
  templates/harvesting/cards/type-card.jsx
Due: yarn lint --format

CORE-4789: render data issue
  store/data-provider/index.js
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format

CORE-4789: render data issue (#664)
  store/data-provider/index.js
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format

CORE-4842: add columns
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
Due: yarn lint --format, prettier --write

CORE-4805: highlite status
  templates/deduplication/styles.module.css
Due: prettier --write

Core deduplication changes (#665)
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/settings/notifications.jsx
Due: yarn lint --format, prettier --write

CORE-4808: oai pmh
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4844: add unset type logic
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/tableActionModal.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format

CORE-4844 remove oai
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4842: add sort
  components/dashboard-cached-message/index.jsx
  components/dashboard-cached-message/styles.module.css
  components/table/header.jsx
  components/table/styles.module.css
  components/table/table.jsx
  components/upload/assets/infoLight.svg
  components/upload/assets/sort.svg
  store/data-provider/index.js
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/compareDuplicates.jsx
  templates/deduplication/cards/tableActionModal.jsx
  templates/deduplication/index.jsx
  templates/deduplication/tables/comparisonTable.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deduplication/tables/deduplicationTables.jsx
  templates/deduplication/tables/innerTable.jsx
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

CORE-4844: add different type
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/styles.module.css
  texts/deduplication/deduplication.yml
Due: yarn lint --format, prettier --write

CORE-4844: lint
  components/dashboard-cached-message/styles.module.css
Due: prettier --write

CORE-4844: add action row
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4848: fix enrichment value
  templates/overview/cards/doi-card.jsx
Due: yarn lint --format

CORE-4848: fix enrichment value (#666)
  templates/overview/cards/doi-card.jsx
Due: yarn lint --format

CORE-4805 dashboard actions
  components/table/header.jsx
  components/table/hooks/use-table-state.js
  components/table/styles.module.css
  components/table/table.jsx
  components/upload/assets/accept.svg
  components/upload/assets/acceptLight.svg
  components/upload/assets/deny.svg
  components/upload/assets/denyLight.svg
  components/upload/assets/issue.svg
  components/upload/assets/sort.svg
  components/upload/assets/successSvg.svg
  components/upload/assets/unknown.svg
  components/upload/assets/upload.svg
  components/upload/assets/urlRedirect.svg
  pages/data-providers/[data-provider-id]/policy.jsx
  store/data-provider/index.js
  templates/rrs-policy/cards/article.jsx
  templates/rrs-policy/cards/defaultUpload.jsx
  templates/rrs-policy/cards/formatUploadIssue.jsx
  templates/rrs-policy/cards/rrsCheckerCard.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/cards/sizeUploadIssue.jsx
  templates/rrs-policy/cards/statusCard.jsx
  templates/rrs-policy/cards/styles.module.css
  templates/rrs-policy/cards/uploadSuccess.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  texts/rrs-retention/index.js
  texts/rrs-retention/rrs.yml
Due: yarn lint --format, prettier --write

CORE-4805 Fix upload file
  store/data-provider/index.js
Due: yarn lint --format

Add variable to rrs upload
  store/data-provider/index.js
Due: yarn lint --format

CORE-4805 upload file fix
  store/data-provider/index.js
Due: yarn lint --format

CORE-4805: render pdf views
  components/application/activities.js
  components/table/body.jsx
  components/table/table.jsx
  env.config.js
  pages/data-providers/[data-provider-id]/rights-retention-strategy.jsx
  store/activities.js
  store/data-provider/index.js
  templates/rrs-policy/cards/article.jsx
  templates/rrs-policy/cards/defaultUpload.jsx
  templates/rrs-policy/cards/formatUploadIssue.jsx
  templates/rrs-policy/cards/rrsCheckerCard.jsx
  templates/rrs-policy/cards/statusCard.jsx
  templates/rrs-policy/cards/styles.module.css
  templates/rrs-policy/cards/uploadFail.jsx
  templates/rrs-policy/cards/uploadSuccess.jsx
  templates/rrs-policy/index.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  texts/navigation.yml
Due: yarn lint --format, prettier --write

CORE-4805 Fix location bug
  pages/data-providers/[data-provider-id]/rights-retention-strategy.jsx
  templates/rrs-policy/cards/rrsCheckerCard.jsx
Due: yarn lint --format

CORE-4805 Add icon
  components/application/activities.js
  package-lock.json
  store/activities.js
Due: yarn lint --format, prettier --write

CORE-4805 Add icon #2
  package-lock.json
  package.json
Due: prettier --write

CORE-4805: fix paginagtion issue
  components/upload/assets/questionMarkLight.svg
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format

CORE-4805: add status update state
  templates/rrs-policy/cards/statusCard.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format, prettier --write
