Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Repository select search
  components/application/repository-select.jsx
  store/user.js
Due: yarn lint --format

Repository select search (#109)
  components/application/repository-select.jsx
  store/user.js
Due: yarn lint --format

Remove node-sass
  package-lock.json
  package.json
Due: prettier --write

Fix repository select for Firefox and Safari
  design/select/index.jsx
Due: yarn lint --format

Fix repository select for Firefox and Safari (#120)
  design/select/index.jsx
Due: yarn lint --format

Make overview depositing chart relative
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Update data overview card title
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Fix text cut in expanded rows
  components/table/TableRowExpanded.jsx
  components/table/index.css
Due: yarn lint --format, prettier --write

Allow to open full texts from Content page
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Fix no compliance data reporting
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  texts/depositing/chart.yml
  texts/depositing/index.js
  texts/depositing/no-data.md
Due: yarn lint --format

Allow to open full texts from Content page (#124)
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Fix no compliance data reporting (#125)
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  texts/depositing/chart.yml
  texts/depositing/index.js
  texts/depositing/no-data.md
Due: yarn lint --format

Customise Markdown component
  components/markdown.jsx
Due: yarn lint --format

Use custom Markdown component
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/plugins.jsx
Due: yarn lint --format

Revert "Bump core-js from 3.4.2 to 3.6.4 (#110)"
  package-lock.json
  package.json
Due: prettier --write

Introduce profiles
  profiles.js
Due: yarn lint --format

Load profile data to store
  .eslintrc.yml
  api/index.js
  next.config.js
  profiles.js
  store/root.js
  store/user.js
Due: yarn lint --format

Create sessionStorageWrapper wrapper
  utils/sessionStorageWrapper.js
Due: yarn lint --format

Allow to change profile
  store/root.js
Due: yarn lint --format

Login based on hostname and sessionStorage value
  public/login.html
Due: none

Profile switching functionality
  components/admin-settings/index.jsx
  components/admin-settings/styles.css
  components/application/index.jsx
  components/layout/side-bar.jsx
  profiles.js
Due: yarn lint --format, prettier --write

Use dev version for now.sh
  next.config.js
  now.json
Due: yarn lint --format, prettier --write

Remove dev param from apiRequest
  next.config.js
  store/deposit-dates.js
  store/root.js
  store/user.js
  store/works.js
Due: yarn lint --format

Add google analytics tracking
  .env.example
  .eslintrc.yml
  next.config.js
  package-lock.json
  package.json
  pages/_app/index.jsx
  utils/analytics.js
Due: yarn lint --format, prettier --write

Add google analytics tracking (#130)
  .env.example
  .eslintrc.yml
  next.config.js
  package-lock.json
  package.json
  pages/_app/index.jsx
  utils/analytics.js
Due: yarn lint --format, prettier --write

Fix firefox layout
  pages/data-providers/[data-provider-id]/overview.css
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format, prettier --write

Replace rgb -> rgba
  design/overlay/index.css
Due: prettier --write

Fallback when backdrop-filter is not supported
  design/overlay/index.css
Due: prettier --write

Fix firefox layout (#121)
  design/overlay/index.css
  pages/data-providers/[data-provider-id]/overview.css
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format, prettier --write

Bidirectional render
  components/table/TablePage.jsx
  components/table/index.jsx
Due: yarn lint --format

Decrease page size for smoother scrolling experience
  store/deposit-dates.js
  store/works.js
Due: yarn lint --format

Bidirectional table render (#131)
  components/table/TablePage.jsx
  components/table/index.jsx
  store/deposit-dates.js
  store/works.js
Due: yarn lint --format

Force using production API if NODE_ENV is production
  api/index.js
  public/login.html
Due: yarn lint --format

Add depositing data explanation text
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  texts/depositing/chart.md
  texts/depositing/chart.yml
  texts/depositing/index.js
Due: yarn lint --format
