Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE-4808: update oai property
  templates/settings/repository.jsx
Due: yarn lint --format

add error messages
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

remove save
  templates/settings/repository.jsx
Due: yarn lint --format

Core 4808 oai pmh vol2 (#707)
  store/root.js
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4993: add sdg request view
  components/upload/assets/sdgLoad.svg
  components/video/video.jsx
  csp.config.js
  templates/sdg/index.jsx
  templates/sdg/styles.module.css
  texts/sdg/sdg.yml
Due: yarn lint --format, prettier --write

update issues to support dashboard settings oai-pmh update
  texts/issues/messages.yml
Due: none

CORE-4993: add request view
  components/application/activity-select/index.jsx
  components/upload/assets/sdgLoad.svg
  pages/data-providers/[data-provider-id]/sdg.jsx
  store/data-provider/index.js
  templates/sdg/index.jsx
  templates/sdg/styles.module.css
  texts/sdg/sdg.yml
Due: yarn lint --format, prettier --write

CORE-4993: fix lint
  templates/sdg/styles.module.css
Due: prettier --write

CORE-4993: merge master
  store/data-provider/index.js
Due: yarn lint --format

CORE-4993: update text
  texts/navigation.yml
  texts/sdg/sdg.yml
Due: none

CORE-4987: merge dev
  yarn-error.log
Due: none

CORE-4975: add date filter
  components/oaDatePicker/odDatePicker.jsx
  components/oaDatePicker/styles.module.css
  components/stacked-vertical-bar-chart/index.jsx
  components/stacked-vertical-bar-chart/styles.module.css
  store/data-provider/deposit-dates.js
  templates/deposit-compliance/cards/compliance-option.jsx
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
  templates/deposit-compliance/cards/publications-dates-card.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  texts/depositing/compliance.yml
  texts/depositing/publication-dates.yml
Due: yarn lint --format, prettier --write

CORE-4975: call table data
  store/data-provider/deposit-dates.js
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

CORE-4975: table data update on date change
  components/table/hooks/use-dynamic-data.js
  templates/deposit-compliance/cards/table-card.jsx
Due: yarn lint --format

CORE-4975: add order by property by default
  store/data-provider/deposit-dates.js
Due: yarn lint --format

CORE-4975: render components for oa
  components/oaDatePicker/odDatePicker.jsx
  components/oaDatePicker/styles.module.css
  components/stacked-vertical-bar-chart/index.jsx
  components/stacked-vertical-bar-chart/styles.module.css
  components/upload/assets/add.svg
  templates/deposit-compliance/cards/compliance-option.jsx
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
  templates/deposit-compliance/cards/publications-dates-card.jsx
  templates/deposit-compliance/styles.module.css
  texts/depositing/compliance.yml
  texts/depositing/publication-dates.yml
Due: yarn lint --format, prettier --write

CORE-4975: add sidebar to oa onclick
  components/tablev2/body.jsx
  components/tablev2/tablev2.jsx
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  store/data-provider/deposit-dates.js
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4975: update sort funct
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4975: data fetch by date in table
  components/oaDatePicker/odDatePicker.jsx
  store/data-provider/deposit-dates.js
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

CORE-4975: date change for oai other apis
  store/data-provider/deposit-dates.js
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

CORE-4975: fix missing prop issue
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

CORE-4975: add loading
  components/oaDatePicker/odDatePicker.jsx
  templates/deposit-compliance/cards/compliance-option.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4975: fix chart
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
Due: yarn lint --format

CORE-4975: add dates to csv
  store/data-provider/deposit-dates.js
Due: yarn lint --format

CORE-4975: add default dates
  components/oaDatePicker/odDatePicker.jsx
  store/data-provider/deposit-dates.js
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4975: update button urls
  store/data-provider/deposit-dates.js
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

CORE-4975: clean up
  templates/deposit-compliance/cards/table-card.jsx
Due: yarn lint --format

CORE-4975: visual updates
  components/oaDatePicker/odDatePicker.jsx
  components/oaDatePicker/styles.module.css
  templates/deposit-compliance/cards/compliance-option.jsx
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  texts/depositing/compliance.yml
Due: yarn lint --format, prettier --write

CORE-4975: render message based on view
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

fix: button url
  components/statsCard/statsCard.jsx
Due: yarn lint --format

CORE-4975: oa picker fix
  templates/deposit-compliance/styles.module.css
Due: prettier --write

CORE-5055: add orcid apis
  store/data-provider/index.js
Due: yarn lint --format

CORE-4975: update csv values
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
Due: yarn lint --format

CORE-4975: update icons
  components/upload/assets/infoAction.svg
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deposit-compliance/cards/compliance-option.jsx
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
  templates/deposit-compliance/cards/publications-dates-card.jsx
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/overview-card.jsx
  templates/rrs-policy/cards/rrsCheckerCard.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/validator/MyReposiyory/myRepository.jsx
  templates/validator/RIoxValidator/RIoxValidator.jsx
Due: yarn lint --format

fix num
  templates/deposit-compliance/index.jsx
Due: yarn lint --format

CORE-4975: fix formating
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
Due: yarn lint --format

CORE-5055: orcid first tab
  components/tablev2/body.jsx
  components/tablev2/tablev2.jsx
  components/upload/assets/id.svg
  store/data-provider/index.js
  templates/orcid/index.jsx
  templates/orcid/styles.module.css
  templates/orcid/tables/orchideTable.jsx
  templates/orcid/tables/rrsTable.jsx
  texts/orcid/orcid.yml
Due: yarn lint --format, prettier --write

CORE-5107: add page
  components/application/activities.js
  store/activities.js
  texts/navigation.yml
Due: yarn lint --format

Core 4975 oa table update (#708)
  components/oaDatePicker/odDatePicker.jsx
  components/oaDatePicker/styles.module.css
  components/stacked-vertical-bar-chart/index.jsx
  components/stacked-vertical-bar-chart/styles.module.css
  components/tablev2/body.jsx
  components/tablev2/tablev2.jsx
  components/upload/assets/add.svg
  components/upload/assets/infoAction.svg
  pages/data-providers/[data-provider-id]/deposit-compliance.jsx
  store/data-provider/deposit-dates.js
  templates/deduplication/cards/compareCard.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deposit-compliance/cards/compliance-option.jsx
  templates/deposit-compliance/cards/cross-repository-check-card.jsx
  templates/deposit-compliance/cards/publications-dates-card.jsx
  templates/deposit-compliance/cards/table-card.jsx
  templates/deposit-compliance/index.jsx
  templates/deposit-compliance/styles.module.css
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/overview-card.jsx
  templates/rrs-policy/cards/rrsCheckerCard.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/validator/MyReposiyory/myRepository.jsx
  templates/validator/RIoxValidator/RIoxValidator.jsx
  texts/depositing/compliance.yml
  texts/depositing/publication-dates.yml
Due: yarn lint --format, prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
