Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Add generic Resource
  store/resource.js
Due: yarn lint --format

Show correct non-compliant count
  store/deposit-dates.js
  templates/deposit-compliance/cards/data-overview-card.jsx
Due: yarn lint --format

Show correct non-compliant count (#327)
  store/deposit-dates.js
  templates/deposit-compliance/cards/data-overview-card.jsx
Due: yarn lint --format

Move global CSS to as subdirectory
  package.json
  public/secure/invitation.html
  public/secure/login.html
  public/secure/reset.html
Due: prettier --write

Move global CSS to a subdirectory (#328)
  package.json
  public/secure/invitation.html
  public/secure/login.html
  public/secure/reset.html
Due: prettier --write

Cut data overview buttons text
  templates/overview/cards/data-statictics-card.jsx
Due: yarn lint --format

Widen 'view' record column on Issues
  templates/issues/styles.module.css
Due: prettier --write

Cut data overview buttons text (#329)
  templates/overview/cards/data-statictics-card.jsx
Due: yarn lint --format

Widen Record column on Issues table (#330)
  templates/issues/styles.module.css
Due: prettier --write

Change publication date calculation description
  texts/depositing/chart.md
Due: none

Change deposit dates card title, add description
  templates/deposit-compliance/cards/table-card.jsx
Due: yarn lint --format

Change publication date calculation description (#332)
  texts/depositing/chart.md
Due: none

Change deposit dates card title, add description (#331)
  templates/deposit-compliance/cards/table-card.jsx
Due: yarn lint --format

Fix complianceLevel calculation
  store/deposit-dates.js
Due: yarn lint --format

Fix deposit compliance overview card loading (#333)
  templates/overview/cards/depositing-card.jsx
  templates/overview/index.jsx
Due: yarn lint --format

Redirect to the previous page after logging in (#299)
  pages/_app/index.jsx
  pages/login.jsx
  public/secure/login.js
Due: yarn lint --format

WIP
  components/time-lag-chart/data.js
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Scroll near to 0 at chart render
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Add aggregation test
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Disable aggregation in time lag chart
  components/time-lag-chart/index.jsx
  components/time-lag-chart/tooltip.jsx
Due: yarn lint --format

Add custom sqrt scale and ticks
  components/time-lag-chart/index.jsx
  components/time-lag-chart/index.module.css
  components/time-lag-chart/styles.module.css
  components/time-lag-chart/tooltip.jsx
Due: yarn lint --format, prettier --write

This finally works!
  components/time-lag-chart/data.js
  components/time-lag-chart/index.jsx
  components/time-lag-chart/styles.module.css
  components/time-lag-chart/tooltip.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

WIP: Aggregation
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Restructure the component
  components/time-lag-chart/chart.jsx
  components/time-lag-chart/data.js
  components/time-lag-chart/index.jsx
  components/time-lag-chart/use-boundary.js
Due: yarn lint --format

Fix gutter width
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Add nivo charting library
  package-lock.json
  package.json
Due: prettier --write

Try Nivo
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Fix options passing DOI's Pages
  store/doi.js
Due: yarn lint --format

Make Store always call request from options
  store/store.js
Due: yarn lint --format

Fix 402 to error conversion in API
  api/errors.js
Due: yarn lint --format

Replace API error with Store ones
  store/errors.js
  store/root.js
Due: yarn lint --format

Improve API errors interface
  api/errors.js
  api/index.js
Due: yarn lint --format

Fix options passing from Root to child stores
  store/root.js
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
