Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Implement scheduled PROD deployment and branch freeze
  .github/workflows/prod-stg-deploy.yml
Due: none

Update prod-stg-deploy.yml
  .github/workflows/prod-stg-deploy.yml
Due: none

CORE: fix redirect id
  templates/deposit-compliance/cards/table-card.jsx
Due: yarn lint --format

CORE: fix redirect id (#747)
  templates/deposit-compliance/cards/table-card.jsx
Due: yarn lint --format

hf/reset-password-page-request
  public/secure/reset.js
Due: yarn lint --format

Enhance Dockerfile to support conditional development builds and update deployment workflow
  .github/workflows/prod-stg-deploy.yml
  Dockerfile
Due: none

Fix NODE_ENV export in Dockerfile and deployment script for proper environment handling
  .github/workflows/prod-stg-deploy.yml
  Dockerfile
Due: none

Refactor Dockerfile to streamline NODE_ENV handling during build process
  .github/workflows/prod-stg-deploy.yml
  Dockerfile
Due: none

Fix NODE_ENV value in Dockerfile and deployment workflow for accurate environment setup
  .github/workflows/prod-stg-deploy.yml
  Dockerfile
Due: none

Refactor Dockerfile and deployment workflow to improve NODE_ENV handling and streamline build process
  .github/workflows/prod-stg-deploy.yml
  Dockerfile
Due: none

Refactor Dockerfile to improve package installation process and enhance build command
  Dockerfile
Due: none

Refactor Dockerfile to simplify npm installation process and remove unnecessary checks
  Dockerfile
Due: none

Update deployment workflow to conditionally set TAG based on environment
  .github/workflows/prod-stg-deploy.yml
Due: none

Remove NODE_ENV build argument from Docker build step in deployment workflow
  .github/workflows/prod-stg-deploy.yml
Due: none

hf/reset-password-page-request added console log
  public/secure/reset.js
Due: yarn lint --format

ensuring new revisions match selected branch SHA
  .github/workflows/prod-stg-deploy.yml
Due: none

Update deployment workflow to deploy by unique tag for new revisions
  .github/workflows/prod-stg-deploy.yml
Due: none

Fix container name parameter in deployment script
  .github/workflows/prod-stg-deploy.yml
Due: none

test/workflow-helloworld
  public/secure/reset.js
Due: yarn lint --format

hf/reset-password-page-request (#748)
  public/secure/reset.js
Due: yarn lint --format

reset password changes
  public/secure/reset.js
Due: yarn lint --format

Hf/reset password page request (#749)
  public/secure/reset.js
Due: yarn lint --format

hf/ csp cloudflare update
  csp.config.js
Due: yarn lint --format

CORE: updated not harvested view
  components/application/activity-select/index.jsx
  components/application/index.jsx
  components/application/styles.module.css
  public/secure/reset.js
  store/data-provider/index.js
  store/root.js
  templates/deduplication/index.jsx
  templates/overview/index.jsx
Due: yarn lint --format, prettier --write

CORE: lint
  csp.config.js
Due: yarn lint --format

Core fix not harvested view (#750)
  components/application/activity-select/index.jsx
  components/application/index.jsx
  components/application/styles.module.css
  csp.config.js
  public/secure/reset.js
  store/data-provider/index.js
  store/root.js
  templates/deduplication/index.jsx
  templates/overview/index.jsx
Due: yarn lint --format, prettier --write

CORE: update ref url
  templates/deposit-compliance/index.jsx
  texts/depositing/overview.yml
Due: yarn lint --format

CORE: update ref url (#751)
  templates/deposit-compliance/index.jsx
  texts/depositing/overview.yml
Due: yarn lint --format

CORE: update docs data
  templates/membership/docs.jsx
Due: yarn lint --format

CORE: update docs icon
  templates/membership/docs.jsx
Due: yarn lint --format

CORE: update docs data (#752)
  templates/membership/docs.jsx
Due: yarn lint --format

CORE: package update
  package-lock.json
Due: prettier --write

chore: ignore legacy .next and public/design
  .gitignore
Due: none

text doc build
  .dockerignore
  Dockerfile
Due: none

remove default input
  src/features/Authorization/Login.tsx
Due: none

test doc update
  .dockerignore
  Dockerfile
Due: none

test doc key update
  Dockerfile
Due: none
