Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Add depositing data explanation text
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  texts/depositing/chart.md
  texts/depositing/chart.yml
  texts/depositing/index.js
Due: yarn lint --format

Move global URL environment configuration
  api/index.js
  config.js
  pages/_app/index.jsx
Due: yarn lint --format

Remove ordering by publicReleaseDate
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Create a development area
  config.js
Due: yarn lint --format

Fix activity detecting from the URL
  components/application/route.js
Due: yarn lint --format

Add CORE Discovery repository plugin documentation to Plugins card
  pages/data-providers/[data-provider-id]/plugins.jsx
  pages/data-providers/[data-provider-id]/plugins/discovery.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  pages/data-providers/[data-provider-id]/plugins/plugins.css
  pages/data-providers/[data-provider-id]/plugins/recommender.jsx
  texts/plugins/discovery.md
  texts/plugins/index.js
  texts/plugins/recommender.md
Due: yarn lint --format, prettier --write

Style chart tooltip
  components/time-lag-chart/index.css
  components/time-lag-chart/tooltip.jsx
Due: yarn lint --format, prettier --write

Fix routes according to new updates on master branch
  components/application/index.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  store/activities.js
Due: yarn lint --format

Update components/time-lag-chart/index.css
  components/time-lag-chart/index.css
Due: prettier --write

Style chart tooltip (#137)
  components/time-lag-chart/index.css
  components/time-lag-chart/tooltip.jsx
Due: yarn lint --format, prettier --write

Improve texts
  pages/data-providers/[data-provider-id]/plugins/discovery.jsx
  pages/data-providers/[data-provider-id]/plugins/recommender.jsx
  texts/plugins/discovery.md
  texts/plugins/index.js
  texts/plugins/recommender.md
Due: yarn lint --format

Fix code snippet in text
  texts/plugins/recommender.md
Due: none

Display discovery and recommender keys
  pages/data-providers/[data-provider-id]/plugins/discovery.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  pages/data-providers/[data-provider-id]/plugins/recommender.jsx
  store/root.js
Due: yarn lint --format

Apply CSP on login page
  public/login.css
  public/login.html
  public/login.js
  public/sanitize.css
Due: yarn lint --format, prettier --write

Disable stylelint for minified css
  public/sanitize.css
Due: prettier --write

Use the same CSP for logout.html
  public/logout.css
  public/logout.html
Due: prettier --write

Consider everything from *.core.ac.uk as safe
  public/login.html
  public/logout.html
Due: none

Be more strict and don't allow *.core.ac.uk on login & logout
  public/login.html
  public/logout.html
Due: none

CSP for nextjs pages
  pages/_app/index.jsx
Due: yarn lint --format

Review fixes
  pages/_app/index.jsx
  public/login.js
Due: yarn lint --format

Remove action from html
  public/login.html
Due: none

Unminified sanitize.css
  public/sanitize.css
Due: prettier --write

Force new line between blocks
  .stylelintrc.yml
  components/published-toggle/index.css
  public/login.css
  public/logout.css
  public/sanitize.css
Due: prettier --write

CSP (#140)
  .stylelintrc.yml
  components/published-toggle/index.css
  pages/_app/index.jsx
  public/login.css
  public/login.html
  public/login.js
  public/logout.css
  public/logout.html
  public/sanitize.css
Due: yarn lint --format, prettier --write

Remove unused props
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Remove top intersection observer
  components/table/index.jsx
Due: yarn lint --format

Remove TablePage component
  components/table/TablePage.jsx
  components/table/index.jsx
Due: yarn lint --format

prev/next events
  components/table/LoadMoreRow.jsx
  components/table/NoDataFoundRow.jsx
  components/table/TableRow.jsx
  components/table/TableRowExpanded.jsx
  components/table/index.jsx
  store/deposit-dates.js
  store/works.js
Due: yarn lint --format

Cancel useless requests
  api/index.js
  components/table/index.jsx
  store/deposit-dates.js
  store/works.js
  utils/promise.js
Due: yarn lint --format

Remove cache
  store/deposit-dates.js
  store/works.js
Due: yarn lint --format

Extract common code into decorator
  api/index.js
  components/table/index.jsx
  store/deposit-dates.js
  store/helpers/invalidatePreviousRequests.js
  store/works.js
  utils/promise.js
Due: yarn lint --format

Table refactor (#139)
  api/index.js
  components/table/LoadMoreRow.jsx
  components/table/NoDataFoundRow.jsx
  components/table/TablePage.jsx
  components/table/TableRow.jsx
  components/table/TableRowExpanded.jsx
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/deposit-dates.js
  store/helpers/invalidatePreviousRequests.js
  store/works.js
  utils/promise.js
Due: yarn lint --format

Ignore copy event
  components/table/index.jsx
Due: yarn lint --format

Ignore double click event
  components/table/index.jsx
Due: yarn lint --format

Fix development user up
  store/user.js
Due: yarn lint --format

Remove 'git add' from lint-staged config
  .lintstagedrc
Due: none

Disable Content-Security-Policy in development env
  pages/_app/index.jsx
Due: yarn lint --format

Remove dotenv
  .env.example
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Fix CSP rules
  pages/_app/index.jsx
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
