Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Create AppShell
  pages/_app/index.jsx
Due: yarn lint --format

Move iframe form to correct location
  components/forms/iframe-form.jsx
  pages/login.jsx
Due: yarn lint --format

Use IframeForm in ChangePassword
  components/forms/change-password/index.jsx
  components/forms/change-password/styles.css
  components/forms/iframe-form.jsx
  components/forms/index.js
  components/forms/styles.css
  pages/login.jsx
Due: yarn lint --format, prettier --write

Change password in settings
  components/forms/change-password/index.jsx
  components/forms/change-password/styles.css
  components/forms/index.js
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/settings.css
  pages/data-providers/[data-provider-id]/settings.jsx
  public/secure/reset.css
  public/secure/reset.html
  public/secure/reset.js
Due: yarn lint --format, prettier --write

Accept default search params from URL in API request
  api/index.js
  store/deposit-dates.js
Due: yarn lint --format

Remove unused select all feature
  components/table/styles.css
  components/table/table.jsx
Due: yarn lint --format, prettier --write

Remove auto load
  components/table/load-more-row.jsx
  components/table/table.jsx
Due: yarn lint --format

Add manual loading
  components/table/styles.css
  components/table/table.jsx
  pages/data-providers/[data-provider-id]/content.css
  store/helpers/pages/pages.js
Due: yarn lint --format, prettier --write

Allow to specify default number of rows in table
  components/table/table.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/helpers/pages/pages.js
Due: yarn lint --format

Add export option to deposit dates tab
  components/table/action.jsx
  components/table/index.js
  components/table/table.jsx
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  texts/depositing/export.yml
Due: yarn lint --format, prettier --write

Format pagination properly
  components/table/table.jsx
  utils/helpers.js
Due: yarn lint --format

Move pagination to separate component
  components/table/action.jsx
  components/table/pagination.jsx
  components/table/table.jsx
  utils/helpers.js
Due: yarn lint --format

Remove duplicate entry
  .gitignore
Due: none

Remove unused reference
  README.md
Due: none

Use classNames from @oacore/design
  design/select/index.jsx
  package.json
Due: yarn lint --format, prettier --write

Align text in table to the left explicitly
  components/table/styles.css
Due: prettier --write

Remove unused getDerivedStateFromProps
  pages/_app/index.jsx
Due: yarn lint --format

Upgrade @oacore/design to 0.1.0, add design.config
  components/application/activity-select/index.jsx
  components/document-link/index.jsx
  components/takedown/index.jsx
  design.config.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
  store/activities.js
Due: yarn lint --format, prettier --write

Upgrade @oacore/design to 0.1.0, add design.config (#265)
  components/application/activity-select/index.jsx
  components/document-link/index.jsx
  components/takedown/index.jsx
  design.config.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
  store/activities.js
Due: yarn lint --format, prettier --write

Add Publication Dates chart
  components/stacked-vertical-bar-chart/index.jsx
  components/stacked-vertical-bar-chart/styles.css
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/deposit-dates.js
  texts/depositing/index.js
  texts/depositing/publication-dates.yml
Due: yarn lint --format, prettier --write

Add Cross Repository Check card
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/deposit-dates.js
  texts/depositing/chart.md
  texts/depositing/cross-repository-check.md
  texts/depositing/index.js
Due: yarn lint --format, prettier --write

Upgrade next
  package-lock.json
  package.json
  pages/_app/index.jsx
Due: yarn lint --format, prettier --write

Bump next-images 1.4.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
