Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

CORE-5013: FAIR
  components/application/activities.js
  pages/data-providers/[data-provider-id]/fair.jsx
  templates/usrn/cards/status-card.jsx
  texts/fair/header.yml
  texts/fair/index.js
  texts/fair/status.yml
  texts/navigation.yml
Due: yarn lint --format

CORE-5013: FAIR close path
  components/application/activities.js
  texts/fair/status.yml
Due: yarn lint --format

restrict report only to 292
  texts/usrn/status.yml
Due: none

Core 4902 usrn certification (#678)
  components/actions/index.jsx
  components/application/activities.js
  components/application/activity-select/index.jsx
  components/upload/assets/docs.svg
  components/upload/assets/toolkit.svg
  components/usrn-stat/index.jsx
  components/usrn-stat/styles.module.css
  components/usrn-text/index.jsx
  components/usrn-text/linkDoc.jsx
  components/usrn-text/linkToolKit.jsx
  components/usrn-text/styles.module.css
  pages/data-providers/[data-provider-id]/fair.jsx
  pages/data-providers/[data-provider-id]/usrn.jsx
  store/data-provider/index.js
  templates/usrn/cards/header-card.jsx
  templates/usrn/cards/index.js
  templates/usrn/cards/status-card-closed.jsx
  templates/usrn/cards/status-card.jsx
  templates/usrn/index.jsx
  templates/usrn/styles.module.css
  texts/fair/header.yml
  texts/fair/index.js
  texts/fair/status.yml
  texts/navigation.yml
  texts/usrn/header.yml
  texts/usrn/index.js
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-5013: FAIR base structure
  components/application/activities.js
  components/upload/assets/certificate-bronze.svg
  components/upload/assets/certificate-gold.svg
  components/upload/assets/certificate-silver.svg
  pages/data-providers/[data-provider-id]/fair.jsx
  pages/data-providers/[data-provider-id]/usrn.jsx
  templates/usrn/cards/certificates-card.jsx
  templates/usrn/cards/certificates.module.css
  templates/usrn/cards/header-card.jsx
  templates/usrn/cards/index.js
  templates/usrn/index.jsx
  texts/fair/certificates.yml
  texts/fair/header.yml
  texts/fair/index.js
  texts/fair/status.yml
Due: yarn lint --format, prettier --write

CORE-5013: Text update
  texts/fair/status.yml
Due: none

CORE-4993: remove live actions
  components/dropdownTableCard/article.jsx
  components/dropdownTableCard/styles.module.css
  pages/data-providers/[data-provider-id]/sdg.jsx
  templates/sdg/index.jsx
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format, prettier --write

CORE-5013: Certified in mobile
  components/upload/assets/certificate-bronze.png
  components/upload/assets/certificate-bronze.svg
  components/upload/assets/certificate-gold.png
  components/upload/assets/certificate-gold.svg
  components/upload/assets/certificate-silver.png
  components/upload/assets/certificate-silver.svg
  templates/usrn/cards/certificates-card.jsx
  templates/usrn/cards/certificates.module.css
  texts/fair/certificates.yml
Due: yarn lint --format, prettier --write

CORE-4993: add sort on dara by score
  templates/sdg/styles.module.css
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format, prettier --write

CORE-5013: Text update
  components/usrn-stat/index.jsx
  components/usrn-stat/styles.module.css
  components/usrn-text/linkDoc.jsx
  texts/fair/status.yml
Due: yarn lint --format, prettier --write

CORE-4993: add tabs for toggle
  templates/sdg/charts/chartToggler.jsx
  templates/sdg/styles.module.css
  texts/sdg/sdg.yml
Due: yarn lint --format, prettier --write

CORE-4993: add % logic
  templates/sdg/charts/chartToggler.jsx
  templates/sdg/charts/horizontalSdgChart.jsx
  templates/sdg/charts/reChartBarChart.jsx
  templates/sdg/index.jsx
  templates/sdg/styles.module.css
Due: yarn lint --format, prettier --write

CORE: add %
  templates/sdg/charts/reChartBarChart.jsx
  templates/sdg/styles.module.css
Due: yarn lint --format, prettier --write

text
  texts/sdg/sdg.yml
Due: none

CORE-4993: add sdg % text
  templates/sdg/charts/horizontalSdgChart.jsx
  templates/sdg/charts/reChartBarChart.jsx
Due: yarn lint --format

CORE-4993: update show more logic
  store/data-provider/index.js
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format

CORE-4993: fix fetch request
  store/data-provider/index.js
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format

CORE-4993: fix search
  store/data-provider/index.js
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format

CORE: fix overview layout
  templates/overview/index.jsx
  texts/memership/membership.yml
Due: yarn lint --format

CORE: fix overview layout (#703)
  templates/overview/index.jsx
  texts/memership/membership.yml
Due: yarn lint --format

CORE-4970: sidebar bug
  design/drawer/item.jsx
  design/drawer/list.jsx
  design/drawer/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4970: sidebar bug (#704)
  design/drawer/item.jsx
  design/drawer/list.jsx
  design/drawer/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4970: do nesting for style overwrite
  design/drawer/styles.module.css
Due: prettier --write

CORE-4970: do nesting for style overwrite (#705)
  design/drawer/styles.module.css
Due: prettier --write

CORE-5055: add layout and cards
  components/application/activities.js
  components/statsCard/statsCard.jsx
  components/statsCard/styles.module.css
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/orcid.jsx
  store/activities.js
  templates/orcid/index.jsx
  templates/orcid/styles.module.css
  texts/navigation.yml
  texts/orcid/index.js
  texts/orcid/orcid.yml
Due: yarn lint --format, prettier --write

CORE-5055: create table toggle
  package-lock.json
  package.json
  templates/orcid/index.jsx
  templates/orcid/styles.module.css
  templates/orcid/tables/rrsTable.jsx
  texts/orcid/orcid.yml
Due: yarn lint --format, prettier --write

CORE-4993: fix sdg data passing
  .DS_Store
  components/datePicker/datePicker.jsx
  components/datePicker/styles.module.css
  templates/sdg/index.jsx
  templates/sdg/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4993: add data filtering and sorting
  components/datePicker/datePicker.jsx
  components/tablev2/tablev2.jsx
  store/data-provider/index.js
  templates/sdg/index.jsx
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format

CORE-5081: add license rules
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-5081: add license rules (#706)
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4993: add restriction for starting members
  components/access-placeholder/AccessPlaceholder.jsx
  pages/data-providers/[data-provider-id]/sdg.jsx
  templates/sdg/charts/chartToggler.jsx
  templates/sdg/charts/horizontalSdgChart.jsx
  templates/sdg/index.jsx
  templates/sdg/styles.module.css
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format, prettier --write

enable usrn tab for the pilot members
  texts/usrn/status.yml
Due: none

CORE-4993: add label filter option
  components/datePicker/datePicker.jsx
  components/datePicker/styles.module.css
  store/data-provider/index.js
  templates/sdg/index.jsx
  templates/sdg/styles.module.css
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format, prettier --write

CORE-4993: 10 item restriction
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format

CORE: text update
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format

CORE-4808: oai pmh url
  store/root.js
  templates/settings/repository.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

CORE-4975: add date picker component
  components/datePicker/datePicker.jsx
  components/datePicker/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4993: small changes
  templates/sdg/table/sdgTable.jsx
Due: yarn lint --format

CORE-4808: update param name
  templates/settings/repository.jsx
Due: yarn lint --format

CORE-4808: update notification
  texts/settings/settings.yml
Due: none
