Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Fix login URL constructing
  public/login.js
Due: yarn lint --format

Read configuration from environment variables
  api/index.js
  components/application/logout.jsx
  config.js
  next.config.js
  package.json
  pages/_app/index.jsx
  store/deposit-dates.js
Due: yarn lint --format, prettier --write

Build and run development version on Now
  now.json
Due: prettier --write

Replace ExpandedRow with Sidebar
  components/table/Sidebar.jsx
  components/table/TableRow.jsx
  components/table/TableRowExpanded.jsx
  components/table/index.css
  components/table/index.jsx
  design/close-icon/index.jsx
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  utils/withErrorBoundary.jsx
Due: yarn lint --format, prettier --write

Remove bidirectional scroll
  components/table/index.jsx
Due: yarn lint --format

Make Table accept Columns as children
  components/table/Column.jsx
  components/table/TableRow.jsx
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Make table rows clickable
  components/table/Sidebar.jsx
  components/table/TableRow.jsx
  components/table/index.css
  components/table/index.jsx
Due: yarn lint --format, prettier --write

Fix password fill
  public/login.html
Due: none

Fix typo
  components/application/logout.jsx
Due: yarn lint --format

Move sentry and google analytics tracking codes to configs
  .eslintrc.yml
  config.js
  next.config.js
  utils/analytics.js
  utils/sentry.js
Due: yarn lint --format

Move Sentry and Google Analytics keys to configs (#202)
  .eslintrc.yml
  config.js
  next.config.js
  utils/analytics.js
  utils/sentry.js
Due: yarn lint --format

Fix API request when method is HEAD
  api/index.js
  store/deposit-dates.js
Due: yarn lint --format

Move open button at the bottom of sidebar
  components/document-link/index.jsx
  components/document-link/styles.css
  design/alert/index.css
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Bump @oacore/design
  components/time-lag-chart/index.jsx
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Remove unused PublishToggle
  components/published-toggle/index.css
  components/published-toggle/index.jsx
  components/published-toggle/published.svg
  components/published-toggle/unpublished.svg
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Add TakeDown button to the sidebar
  components/takedown/index.jsx
  components/takedown/styles.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Make takedown button functional
  components/table/Column.jsx
  components/table/TableRow.jsx
  components/table/index.css
  pages/data-providers/[data-provider-id]/content.jsx
  store/helpers/pages/pages.js
  store/works.js
Due: yarn lint --format, prettier --write

Remove OAI label
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Add styling & handling for taken down paper
  components/table/Sidebar.jsx
  components/takedown/index.jsx
  components/takedown/styles.css
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Highlight row on hover
  components/table/index.css
Due: prettier --write

Show article details
  design/detail-list/index.jsx
  design/detail-list/styles.css
  design/index.js
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Put shadow in Sidebar Footer
  components/table/index.css
Due: prettier --write

Styling fixes
  components/table/index.css
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Return row to previous state when take down fails
  store/works.js
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
