Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Fix iframe not fully loaded and parent sends event
  pages/_app/index.jsx
Due: yarn lint --format

Fix warning SSr didn't contain iframe
  pages/_app/index.jsx
Due: yarn lint --format

Fix logout URL
  components/application/logout.jsx
Due: yarn lint --format

Fix from param
  store/helpers/pages/page.js
  store/helpers/pages/pages.js
Due: yarn lint --format

Fix 'from' parameter in Table requests (#189)
  store/helpers/pages/page.js
  store/helpers/pages/pages.js
Due: yarn lint --format

Unify error/info message & use reason=logout
  components/application/logout.jsx
  pages/_app/index.jsx
  public/login.css
  public/login.html
  public/login.js
Due: yarn lint --format, prettier --write

Use prod API URL
  public/login.js
Due: yarn lint --format

Simplify apiRequest interface
  api/index.js
  store/deposit-dates.js
  store/helpers/invalidatePreviousRequests.js
  store/helpers/pages/pages.js
  store/root.js
  store/user.js
  store/works.js
  utils/promise.js
Due: yarn lint --format

Simplify apiRequest interface (#191)
  api/index.js
  store/deposit-dates.js
  store/helpers/invalidatePreviousRequests.js
  store/helpers/pages/pages.js
  store/root.js
  store/user.js
  store/works.js
  utils/promise.js
Due: yarn lint --format

Rename deposit dates navigation item
  texts/navigation.yml
Due: none

Use pure pure html for csv export
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Remove unused export code
  package-lock.json
  package.json
  store/deposit-dates.js
Due: yarn lint --format, prettier --write

Disable button if there are no records
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Remove extra span
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Create export URL in store
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/deposit-dates.js
Due: yarn lint --format

Stream deposit dates exporting
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/deposit-dates.js
Due: yarn lint --format, prettier --write

Use identity_provider_url if provided
  pages/_app/index.jsx
  public/login.js
Due: yarn lint --format

Disable logout container word wrapping
  components/application/logout.css
Due: prettier --write

Use `a` tag form export button
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Add better check for loading param
  pages/_app/index.jsx
  public/login.js
Due: yarn lint --format

Log in via iframe
  components/application/index.jsx
  components/application/logout.jsx
  pages/_app/index.css
  pages/_app/index.jsx
  public/login.css
  public/login.html
  public/login.js
  public/logout.html
Due: yarn lint --format, prettier --write

Merge logout with login
  components/application/logout.jsx
  pages/_app/index.jsx
  public/login.css
  public/login.html
  public/login.js
  public/logout.css
  public/logout.html
Due: yarn lint --format, prettier --write

Fix activity sidebar width
  components/layout/styles.css
Due: prettier --write

Fix activity sidebar width (#197)
  components/layout/styles.css
Due: prettier --write

Fix disabled deposit dates export button
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Fix disabled deposit dates export button (#200)
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Fix login URL constructing
  public/login.js
Due: yarn lint --format

Read configuration from environment variables
  api/index.js
  components/application/logout.jsx
  config.js
  next.config.js
  package.json
  pages/_app/index.jsx
  store/deposit-dates.js
Due: yarn lint --format, prettier --write

Remove deprecated properties from now.config.json
  now.json
Due: prettier --write

Build and run development version on Now
  now.json
Due: prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
