Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Create basic layout for deposit dates page
  pages/deposit-dates.css
  pages/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Fix oai
  components/table/TablePage.jsx
  components/table/TableRow.jsx
  pages/data.css
  pages/data.jsx
  pages/deposit-dates.css
  pages/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Make table horizontally scrollable
  components/table/index.jsx
  pages/deposit-dates.css
  pages/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Pass restProps to <Table> component
  components/table/index.jsx
Due: yarn lint --format

Deposit dates (#39)
  components/application/activity-select.jsx
  components/table/TablePage.jsx
  components/table/TableRow.jsx
  components/table/index.jsx
  pages/data.css
  pages/data.jsx
  pages/deposit-dates.css
  pages/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Keeps only block-model styling for Main component
  components/layout/styles.css
Due: prettier --write

Prevent forced using Main component
  pages/_app.jsx
Due: yarn lint --format

Improve deposit dates page styles and texts
  pages/deposit-dates.css
  pages/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Create login page
  public/login.html
Due: none

Add @oacore/texts package emulation
  .eslintrc.yml
  next.config.js
  package-lock.json
  package.json
  texts/index.js
  webpack/.eslintrc.yml
  webpack/camelcase-loader.js
Due: yarn lint --format, prettier --write

Alias `components` and `utils`
  next.config.js
Due: yarn lint --format

Alias @oacore/texts/dashboard to `texts`
  .eslintrc.yml
  next.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

Alias @oacore/design to `design`
  .eslintrc.yml
  design/index.js
Due: yarn lint --format

Simplify secondary navigation
  components/application/activity-select.jsx
  components/application/index.jsx
  components/application/navigation.css
  components/application/navigation.jsx
  components/application/next-route.js
  components/application/route.js
Due: yarn lint --format, prettier --write

Add dynamic route handling
  pages/_app.jsx
Due: yarn lint --format

Add navigation captions to texts
  texts/index.js
  texts/navigation.yml
Due: yarn lint --format

Restrucutre, include data provider to URL
  components/application/next-route.js
  pages/_app.jsx
  pages/data-providers/[data-provider-id]/data.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/index.jsx
  pages/data-providers/[data-provider-id]/plugins.css
  pages/data-providers/[data-provider-id]/plugins.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/data-providers/[data-provider-id]/statistics.jsx
Due: yarn lint --format, prettier --write

Redirect data provider index to overview
  pages/data-providers/[data-provider-id]/index.js
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Use state for application configuration
  pages/_app.jsx
Due: yarn lint --format

Add support for active prop to DrawerItem
  design/drawer/item.jsx
Due: yarn lint --format

Make secondary navigation more flexible
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.css
  components/application/index.jsx
  components/application/navigation.jsx
Due: yarn lint --format, prettier --write

Add Logout page
  public/logout.html
Due: none

Use relative URLs for secondary navigation
  components/application/activity-select.jsx
Due: yarn lint --format

Add repository select
  components/application/repository-select.css
  components/application/repository-select.jsx
  design/index.js
  design/select/index.jsx
  design/select/styles.css
Due: yarn lint --format, prettier --write

Prefer implicit return
  components/application/repository-select.jsx
  components/table/TableRow.jsx
  components/table/TableRowExpanded.jsx
  design/select/index.jsx
  package-lock.json
  package.json
  pages/data.jsx
  pages/deposit-dates.jsx
  pages/index.jsx
  pages/settings.jsx
  pages/statistics.jsx
  store/index.jsx
Due: yarn lint --format, prettier --write

Scroll with arrows
  design/select/index.jsx
Due: yarn lint --format

Connect repository select into global store
  components/application/repository-select.jsx
  store/index.jsx
Due: yarn lint --format

Fix selection on hover
  design/select/styles.css
Due: prettier --write

Restore input navigating with left/right arrows
  design/select/index.jsx
  pages/deposit-dates.jsx
Due: yarn lint --format

Primary navigation (#17)
  components/application/repository-select.css
  components/application/repository-select.jsx
  components/table/TableRow.jsx
  components/table/TableRowExpanded.jsx
  design/index.js
  design/select/index.jsx
  design/select/styles.css
  package-lock.json
  package.json
  pages/data.jsx
  pages/deposit-dates.jsx
  pages/index.jsx
  pages/settings.jsx
  pages/statistics.jsx
  store/index.jsx
Due: yarn lint --format, prettier --write

Restructure, include data provider to URL
  pages/data-providers/[data-provider-id]/data.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/index.jsx
  pages/data-providers/[data-provider-id]/plugins.css
  pages/data-providers/[data-provider-id]/plugins.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/data-providers/[data-provider-id]/statistics.jsx
Due: yarn lint --format, prettier --write

Add Route shorthand to simplify routes rendering
  components/application/route.js
Due: yarn lint --format

Redirect index to first data-provider
  pages/index.js
Due: yarn lint --format
