Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Handle dynamic routing within Next.js App
  pages/_app/index.jsx
  pages/_app/route.js
Due: yarn lint --format

Use Card component for text-only pages
  pages/data-providers/[data-provider-id]/data.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  pages/data-providers/[data-provider-id]/plugins.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/data-providers/[data-provider-id]/statistics.jsx
Due: yarn lint --format

Force using Layout.Main from Application
  components/application/index.jsx
Due: yarn lint --format

Make Layout.Main a HOC that wraps a child
  components/layout/main.jsx
  components/layout/styles.css
Due: yarn lint --format, prettier --write

Pass props from Layout.Main down to Cards
  pages/data-providers/[data-provider-id]/data.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/data-providers/[data-provider-id]/statistics.jsx
Due: yarn lint --format, prettier --write

Remove extra pages
  components/application/activity-select.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  pages/data-providers/[data-provider-id]/statistics.jsx
Due: yarn lint --format

Add navigation captions to texts
  texts/index.js
  texts/navigation.yml
Due: yarn lint --format

Use captions from @oacore/texts package
  components/application/activity-select.jsx
Due: yarn lint --format

Change ActivitySelect component interface, restructure
  components/application/activity-select.jsx
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.css
  components/application/index.jsx
Due: yarn lint --format, prettier --write

Add support for active prop to DrawerItem
  design/drawer/item.jsx
Due: yarn lint --format

Make /data-provider/ part conditional
  components/application/route.js
Due: yarn lint --format

Fix NextRoute href after Route improvements
  pages/_app/route.js
Due: yarn lint --format

Pass dataProvider and activity to Application
  pages/_app/index.jsx
Due: yarn lint --format

Bump @oacore/design
  package-lock.json
  package.json
Due: prettier --write

use srOnly from @oacore/design
  components/application/index.jsx
  design/class-name-helpers.css
  design/index.js
  design/select/index.jsx
Due: yarn lint --format, prettier --write

Make columns sortable
  components/table/TablePage.jsx
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Fix react warnings
  components/application/activity-select/index.jsx
  components/application/index.jsx
  components/application/repository-select.jsx
  components/table/index.jsx
  design/select/index.jsx
Due: yarn lint --format

Sortable columns (#65)
  components/application/activity-select/index.jsx
  components/application/index.jsx
  components/application/repository-select.jsx
  components/table/TablePage.jsx
  components/table/index.jsx
  design/class-name-helpers.css
  design/index.js
  design/select/index.jsx
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Fix remounting component when connected to GlobalStore
  store/index.jsx
Due: yarn lint --format

Use LayoutContext better way
  components/layout/app-bar.jsx
  components/layout/container.jsx
  components/layout/side-bar.jsx
Due: yarn lint --format

Blur background when repository select is open
  components/application/index.jsx
  components/application/repository-select.jsx
  components/layout/app-bar.jsx
  components/layout/container.jsx
  components/layout/context.js
  components/layout/styles.css
  design/select/index.jsx
Due: yarn lint --format, prettier --write

Store dataProviderId & activity in global store
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/plugins.jsx
  store/index.jsx
  store/store.js
  store/user.js
Due: yarn lint --format

Create better store structure
  pages/_app/index.jsx
  store/index.jsx
  store/store.js
  store/user.js
  store/works.js
Due: yarn lint --format

Pass pageNumber, columnOrder to API endpoint
  components/table/TablePage.jsx
  components/table/index.jsx
Due: yarn lint --format

Add manual load more button
  components/table/LoadingRow.jsx
  components/table/index.jsx
Due: yarn lint --format

Add possibility to assign className to table cells
  components/table/TableRow.jsx
Due: yarn lint --format

Connect DepositDates table to API
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Allow to change dataProvider
  components/application/repository-select.jsx
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  store/store.js
  store/works.js
Due: yarn lint --format

Don't show loadMore when lastPage
  components/table/index.jsx
Due: yarn lint --format

Bump @oacore/api
  package-lock.json
  package.json
Due: prettier --write

Add message when repository doesn't contain any data
  components/table/NoDataFoundRow.jsx
  components/table/index.jsx
Due: yarn lint --format

Connect content table to API
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
Due: yarn lint --format, prettier --write

Make search box in table work
  components/table/index.jsx
  store/works.js
Due: yarn lint --format

LoadingRow -> LoadMoreRow
  components/table/LoadMoreRow.jsx
  components/table/index.jsx
Due: yarn lint --format

Show message when data are loading
  components/table/index.jsx
Due: yarn lint --format

Render load more only when no data request is processing
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Better action/reaction mechanism
  store/store.js
Due: yarn lint --format

Show title and author names in expanded row
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Connect visibility column with API
  components/published-toggle/index.jsx
  components/table/TableRowExpanded.jsx
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Fix SSR autorun
  store/store.js
Due: yarn lint --format

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
