Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE: add remove core ui from docs temp
  Dockerfile
  pnpm-lock.yaml
Due: none

CORE: fix rioxx doc url
  src/features/Validator/texts/validator.json
Due: prettier --write

CORE: fix card title view
  src/features/indexing/Indexing.tsx
  src/features/indexing/styles.css
Due: prettier --write

CORE: fix download csv in issue list
  src/features/indexing/components/ArticlesList.tsx
  src/features/indexing/components/TypeCard.tsx
Due: none

CORE: temp fix date picker
  src/components/common/CrDatePicker/CrDatePicker.tsx
  src/features/DepositCompliance/DepositCompliance.tsx
  src/features/Sdg/Sdg.tsx
Due: none

CORE: fix active item view in sider
  src/styles/App.css
Due: prettier --write

Update dependency from @core/core-ui to @oacore/core-ui
  package.json
Due: prettier --write

Upgrade Node.js version in Dockerfile
  Dockerfile
Due: none

Add GitHub package registry to .npmrc
  .npmrc
Due: none

CORE: update linking
  src/components/common/CrTableActions/tableActions.ts
  src/features/Duplicates/components/CompareCard.tsx
  src/features/Duplicates/components/InnerTableHeader.tsx
  src/features/Overview/components/RioxCard.tsx
Due: none

CORE: add loading on save in repo settings
  src/components/common/CrDrawer/CrDrawer.tsx
  src/features/Settings/RepositorySettings/components/Repository.tsx
  src/features/Settings/RepositorySettings/hooks/useUpdateDataProvider.ts
  src/store/dataProviderStore.ts
Due: none

Update pnpm lockfile
  pnpm-lock.yaml
Due: none

Update Dockerfile to use GitHub token secret
  Dockerfile
Due: none

Update Dockerfile for NPM_TOKEN and npmrc configuration
  Dockerfile
Due: none

Update image tag in Azure deployment workflow
  .github/workflows/prod-stg-deploy.yml
Due: none

CORE: update Docker configuration and add build script
  .example.env
  Dockerfile
  package.json
  pnpm-lock.yaml
  scripts/docker-build.sh
  src/features/Sdg/components/chartToggler.tsx
Due: prettier --write

CORE: cookies
  src/config/axios.ts
  src/services/auth.service.ts
Due: none

CORE: test update
  .gitignore
  texts/depositing/overview.yml
Due: none

CORE: test V2
  texts/doi/overview.yml
Due: none

CORE: test V3
  templates/overview/cards/orcid-card.jsx
Due: yarn lint --format

Core test reset (#754)
  .gitignore
  templates/overview/cards/orcid-card.jsx
  texts/depositing/overview.yml
  texts/doi/overview.yml
Due: yarn lint --format

Revert "Core test reset (#754)"
  .gitignore
  templates/overview/cards/orcid-card.jsx
  texts/depositing/overview.yml
  texts/doi/overview.yml
Due: yarn lint --format

Revert "Core test reset (#754)" (#755)
  .gitignore
  templates/overview/cards/orcid-card.jsx
  texts/depositing/overview.yml
  texts/doi/overview.yml
Due: yarn lint --format

Add GitHub Actions workflow for prod/staging deploy
  .github/workflows/prod-stg-deploy.yml
Due: none

Refactor Dockerfile for improved readability and structure
  Dockerfile
Due: none

Add Nginx configuration for serving static files
  nginx/default.conf
Due: none

Update prod-stg-deploy.yml
  .github/workflows/prod-stg-deploy.yml
Due: none

CORE: update auth handler
  src/config/auth401Handler.ts
  src/config/axios.ts
  src/guards/ProtectedRoute.tsx
  src/guards/RootRedirect.tsx
  src/main.tsx
  src/store/authStore.ts
Due: none

Update package.json scripts and refactor axios configuration to use environment variables
  package.json
  src/config/axios.ts
  src/config/env.ts
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Pin @oacore/core-ui to 0.2.2
  pnpm-lock.yaml
Due: none

CORE: add cookies
  src/components/common/cookies/Cookies.tsx
  src/components/common/cookies/CookiesPopup.tsx
  src/components/common/cookies/cookies.css
  src/components/common/cookies/index.ts
  src/features/Authorization/Login.tsx
  src/hooks/useCookies.ts
Due: prettier --write

Update Dockerfile
  Dockerfile
Due: none

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
