Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Show DOI on expand
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Connect tables into API (#67)
  components/application/repository-select.jsx
  components/published-toggle/index.jsx
  components/table/LoadMoreRow.jsx
  components/table/LoadingRow.jsx
  components/table/NoDataFoundRow.jsx
  components/table/TablePage.jsx
  components/table/TableRow.jsx
  components/table/TableRowExpanded.jsx
  components/table/index.jsx
  package-lock.json
  package.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/plugins.jsx
  store/index.jsx
  store/store.js
  store/user.js
  store/works.js
Due: yarn lint --format, prettier --write

Bump @babel/*
  package-lock.json
  package.json
Due: prettier --write

Bump @babel/* (#68)
  package-lock.json
  package.json
Due: prettier --write

Disable checkboxes for tables
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Change unpublished toggle color
  components/published-toggle/index.css
Due: prettier --write

Make deposit tables searchable
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Make tables look better on small screens
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/deposit-dates.css
Due: prettier --write

Develop Alert component
  design/alert/index.css
  design/alert/index.jsx
  design/index.js
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Show alert component in content table
  components/table/index.css
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format, prettier --write

Install dayjs
  package-lock.json
  package.json
Due: prettier --write

Show correct lastUpdate date
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Show relative time in last update column
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Show last updated value in expanded row
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Add Dashboard plugins page with cards
  pages/data-providers/[data-provider-id]/plugins.css
  pages/data-providers/[data-provider-id]/plugins.jsx
Due: yarn lint --format, prettier --write

Table Adjustments (#69)
  components/published-toggle/index.css
  components/table/index.css
  design/alert/index.css
  design/alert/index.jsx
  design/index.js
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Redirect user after login to correct page
  public/login.html
Due: none

Hide `Remember me` checkbox and remove label
  public/login.html
Due: none

Replace checkbox with hidden param
  public/login.html
Due: none

Redirect user after login to correct page (#70)
  public/login.html
Due: none

Install recharts
  package-lock.json
  package.json
Due: prettier --write

Add mocked time lag data
  components/time-lag-chart/data.jsx
Due: yarn lint --format

Create TimeLagChart component
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Display time lag chart on deposit dates subpage
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Removes lastUpdate form expanded row
  pages/data-providers/[data-provider-id]/content.jsx
Due: yarn lint --format

Use css variables for chart styling
  components/time-lag-chart/index.css
  components/time-lag-chart/index.jsx
Due: yarn lint --format, prettier --write

Deposit Time Lag Chart (#73)
  components/time-lag-chart/data.jsx
  components/time-lag-chart/index.css
  components/time-lag-chart/index.jsx
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Add className support to PublishedToggle component
  components/published-toggle/index.jsx
Due: yarn lint --format

Render <col> instead passing classes to cells
  components/table/TableRow.jsx
  components/table/index.jsx
Due: yarn lint --format

Update works table cell sizes
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format, prettier --write

Fix <col> element placement, add <colgroup>
  components/table/index.jsx
Due: yarn lint --format

Add icons
  public/icons/calendar-check.svg
  public/icons/dashboard.svg
  public/icons/document.svg
Due: none

Build icons sprite
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

Update ActivitySelect icons
  components/application/activity-select/index.jsx
Due: yarn lint --format

Fix CSS import order
  design/index.js
  pages/_app/index.jsx
Due: yarn lint --format

Fix lint error
  public/icons/dashboard.svg
Due: none

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
