Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

CORE-4906: create new text tooltip component
  components/textWithTooltip/styles.module.css
  components/textWithTooltip/textWithtooltip.jsx
Due: yarn lint --format, prettier --write

CORE-4906: add styles to set indicatofrs
  components/upload/assets/checkGreen.svg
  templates/content/styles.module.css
  templates/deduplication/styles.module.css
  templates/deposit-compliance/styles.module.css
  templates/doi/styles.module.css
  templates/rrs-policy/styles.module.css
Due: prettier --write

CORE-4906: add new state for set name preview
  components/application/repository-select.jsx
  store/root.js
  templates/content/cards/table-card.jsx
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deposit-compliance/cards/data-overview-card.jsx
  templates/deposit-compliance/cards/deposit-time-lag-card.jsx
  templates/doi/cards/coverage-card.jsx
  templates/doi/cards/table-card.jsx
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format

CORE-4906: clear set data
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  templates/settings/repository.jsx
Due: yarn lint --format, prettier --write

CORE-4914: add navs from netlify
  templates/membership/docs.jsx
  templates/membership/documentation.jsx
  templates/membershipDocumentationNav/index.jsx
  texts/memership/membership.yml
Due: yarn lint --format

CORE-4914: add navs from netlify (#683)
  templates/membership/docs.jsx
  templates/membership/documentation.jsx
  templates/membershipDocumentationNav/index.jsx
  texts/memership/membership.yml
Due: yarn lint --format

CORE: indexing issue
  templates/harvesting/cards/harvesting-progress.jsx
Due: yarn lint --format

CORE: indexing issue (#684)
  templates/harvesting/cards/harvesting-progress.jsx
Due: yarn lint --format

CORE=4906: add fixes
  components/application/repository-select.jsx
  components/application/repository-select.module.css
  components/upload/assets/folder.svg
  templates/settings/repository.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

word length
  components/application/repository-select.jsx
Due: yarn lint --format

add display name
  components/application/repository-select.jsx
  components/application/repository-select.module.css
Due: yarn lint --format, prettier --write

CORE-4939: add link to rrs
  components/upload/assets/redirectLink.svg
  package-lock.json
  package.json
  templates/membership/docs-styles.module.css
  templates/membership/docs.jsx
Due: yarn lint --format, prettier --write

CORE-4934: add style lint
  templates/membership/docs-styles.module.css
Due: prettier --write

CORE-4939: add link to rrs (#685)
  components/upload/assets/redirectLink.svg
  package-lock.json
  package.json
  templates/membership/docs-styles.module.css
  templates/membership/docs.jsx
Due: yarn lint --format, prettier --write

CORE-4933: fresh finds shared notification
  components/notification/notification.jsx
  components/notification/styles.module.css
  templates/settings/cards/harvestingNotification.jsx
  templates/settings/notifications.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4898: fresh finds tab first version
  components/application/activities.js
  components/dashboard-header/styles.module.css
  components/tableLoading/index.jsx
  components/tableLoading/styles.module.css
  components/upload/assets/add.svg
  components/upload/assets/addPlus.svg
  components/upload/assets/link.svg
  package-lock.json
  package.json
  pages/data-providers/[data-provider-id]/fresh-finds.jsx
  store/activities.js
  store/data-provider/index.js
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/fresh-finds/cards/accordion.jsx
  templates/fresh-finds/index.jsx
  templates/fresh-finds/styles.module.css
  templates/fresh-finds/tables/freshFindsTable.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  texts/fresh-finds/fresh-finds.yml
  texts/navigation.yml
Due: yarn lint --format, prettier --write

CORE-4906: add rrs set data
  templates/rrs-policy/tables/rrsTable.jsx
Due: yarn lint --format

CORE-4898: icon
  design.config.js
  package-lock.json
  package.json
Due: yarn lint --format, prettier --write

CORE-4902: Add doc
  components/usrn-stat/index.jsx
  components/usrn-stat/styles.module.css
  components/usrn-text/index.jsx
  components/usrn-text/linkDoc.jsx
  pages/data-providers/[data-provider-id]/usrn.jsx
  templates/usrn/cards/index.js
  templates/usrn/cards/status-card-closed.jsx
  templates/usrn/index.jsx
  texts/usrn/status.yml
Due: yarn lint --format, prettier --write

CORE-4902: licensingMetadata update
  components/usrn-stat/index.jsx
Due: yarn lint --format

CORE-4902: vocabulariesCOAR update
  components/usrn-stat/index.jsx
Due: yarn lint --format

CORE-4902: Fix for small percent in chart
  components/usrn-stat/index.jsx
Due: yarn lint --format

CORE-4902: icon update
  components/application/activities.js
Due: yarn lint --format

CORE-4902: text update
  templates/usrn/cards/status-card.jsx
Due: yarn lint --format

CORE-4933: fresh finds shared notification (#686)
  components/notification/notification.jsx
  components/notification/styles.module.css
  templates/settings/cards/harvestingNotification.jsx
  templates/settings/notifications.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

CORE-4933: fresh find notification
  components/notification/styles.module.css
  components/upload/images/freshFinds.svg
  templates/settings/notifications.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

updates texts to better match with the USRN Discovery pilot toolkit
  texts/usrn/header.yml
  texts/usrn/status.yml
Due: none

CORE-4944: basic chart
  package-lock.json
  package.json
  templates/rrs-policy/chart.jsx
  templates/rrs-policy/index.jsx
Due: yarn lint --format, prettier --write

CORE-4906: visual fixes
  components/application/repository-select.jsx
  templates/content/cards/table-card.jsx
  templates/deduplication/cards/deduplicationInfo.jsx
  templates/deduplication/cards/deduplicationStatistics.jsx
  templates/deduplication/styles.module.css
  templates/deduplication/tables/deduplicationListTable.jsx
  templates/deposit-compliance/cards/data-overview-card.jsx
  templates/deposit-compliance/cards/deposit-time-lag-card.jsx
  templates/deposit-compliance/styles.module.css
  templates/doi/cards/coverage-card.jsx
  templates/doi/cards/table-card.jsx
  templates/doi/styles.module.css
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
  templates/rrs-policy/cards/rrsReviewCard.jsx
  templates/rrs-policy/cards/rrsStatsCard.jsx
  templates/rrs-policy/styles.module.css
  templates/rrs-policy/tables/rrsTable.jsx
  texts/issues/issues.yml
Due: yarn lint --format, prettier --write

CORE-4906: style fix
  templates/harvesting/styles.module.css
Due: prettier --write

CORE-4902: Remove counter
  components/usrn-stat/index.jsx
  components/usrn-stat/styles.module.css
  pages/data-providers/[data-provider-id]/usrn.jsx
  store/data-provider/index.js
  templates/usrn/cards/status-card.jsx
Due: yarn lint --format, prettier --write

CORE-4902: Update menu
  components/application/activity-select/index.jsx
Due: yarn lint --format

CORE-4902: Fix usrn endpoint
  components/usrn-stat/index.jsx
  store/data-provider/index.js
Due: yarn lint --format

CORE-4902: Fix percent bar
  components/usrn-stat/index.jsx
Due: yarn lint --format

CORE-4944: network chart
  components/application/activities.js
  components/upload/assets/uniHolder.svg
  design.config.js
  pages/data-providers/[data-provider-id]/collaborators.jsx
  store/activities.js
  templates/rrs-policy/chart.jsx
  templates/rrs-policy/index.jsx
  templates/your-collaborators/cards/collaboratorsCard.jsx
  templates/your-collaborators/chart.jsx
  templates/your-collaborators/index.jsx
  templates/your-collaborators/styles.module.css
  texts/navigation.yml
  texts/your-collaborators/your-collaborators.yml
Due: yarn lint --format, prettier --write

update indexing
  texts/issues/issues.yml
Due: none

update indexing (#687)
  texts/issues/issues.yml
Due: none

CORE-4898: update table rows
  templates/fresh-finds/cards/accordion.jsx
  templates/fresh-finds/styles.module.css
  templates/fresh-finds/tables/freshFindsTable.jsx
Due: yarn lint --format, prettier --write

update text
  texts/usrn/status.yml
Due: none

overview page sets
  store/data-provider/index.js
  templates/overview/cards/irus-card.jsx
  templates/overview/cards/overview-card.jsx
  templates/overview/cards/rioxx-card.jsx
  templates/overview/styles.module.css
Due: yarn lint --format, prettier --write

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
