Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

Add tooltips to cards, update logo
  components/actions/index.jsx
  components/actions/styles.module.css
  components/application/activity-select/styles.module.css
  components/application/index.jsx
  components/application/repository-select.module.css
  components/application/styles.module.css
  components/layout/styles.module.css
  components/legend/index.jsx
  components/upload/styles.module.css
  store/data-provider/index.js
  templates/overview/cards/data-statictics-card.jsx
  templates/overview/cards/depositing-card.jsx
  templates/overview/cards/doi-card.jsx
  templates/overview/cards/irus-card.jsx
  templates/overview/cards/overview-card.jsx
  templates/overview/cards/rioxx-card.jsx
  templates/overview/styles.module.css
  templates/settings/index.jsx
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

Delete unused key from request
  store/data-provider/index.js
Due: yarn lint --format

Update production ENV config
  env.config.js
Due: yarn lint --format

Update env.config.js
  env.config.js
Due: yarn lint --format

Update harvesting articles
  components/menu/index.jsx
  components/menu/styles.module.css
  components/read-more/index.jsx
  components/read-more/styles.module.css
  components/table/body.jsx
  components/table/details.jsx
  components/table/header.jsx
  components/table/hooks/use-table-config.js
  components/table/hooks/use-table-state.js
  components/table/index.js
  components/table/row.jsx
  components/table/table.jsx
  templates/harvesting/cards/article.jsx
  templates/harvesting/cards/articles-list.jsx
  templates/harvesting/cards/harvesting-status-card.jsx
  templates/harvesting/cards/table.module.css
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/cards/types-list.jsx
  templates/harvesting/hooks/use-issues.jsx
  templates/harvesting/hooks/use-types.jsx
  templates/harvesting/index.jsx
  templates/harvesting/styles.module.css
  templates/overview/cards/doi-card.jsx
  texts/issues/index.js
  texts/issues/issues.yml
  texts/issues/messages.yml
  utils/helpers.js
Due: yarn lint --format, prettier --write

Update icon and display data provider institution name
  components/actions/index.jsx
  design.config.js
  pages/data-providers/[data-provider-id]/overview.jsx
  templates/overview/index.jsx
  templates/overview/styles.module.css
  templates/settings/index.jsx
Due: yarn lint --format, prettier --write

Update texts
  components/forms/change-password/index.jsx
  components/forms/change-password/styles.module.css
  templates/settings/index.jsx
  texts/depositing/intro.md
  texts/depositing/overview.yml
  texts/navigation.yml
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

Fix styles
  components/forms/change-password/styles.module.css
  templates/settings/index.jsx
  templates/settings/styles.module.css
Due: yarn lint --format, prettier --write

Update env config
  env.config.js
  public/secure/invitation.js
  public/secure/login.js
Due: yarn lint --format

Fix problem with infinity loader
  templates/overview/cards/data-statictics-card.jsx
Due: yarn lint --format

Fix problem with infinity loader (#569)
  templates/overview/cards/data-statictics-card.jsx
Due: yarn lint --format

Test endpoint
  components/table/body.jsx
  templates/harvesting/cards/article.jsx
  templates/harvesting/hooks/use-issues.jsx
  templates/harvesting/hooks/use-types.jsx
  templates/harvesting/index.jsx
  texts/issues/issues.yml
  texts/issues/messages.yml
Due: yarn lint --format

Connect disable article endpoint to issues
  api/index.js
  components/application/index.jsx
  components/application/logout.jsx
  components/application/styles.module.css
  components/forms/change-password/index.jsx
  components/markdown.jsx
  components/table/body.jsx
  components/table/table.jsx
  package-lock.json
  package.json
  pages/login.jsx
  postcss.config.js
  store/data-provider/deposit-dates.js
  store/data-provider/index.js
  store/data-provider/works.js
  store/resource.js
  stylelint.config.js
  templates/deposit-compliance/cards/table-card.jsx
  templates/harvesting/cards/article.jsx
  templates/harvesting/cards/articles-list.jsx
  templates/harvesting/cards/table.module.css
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/hooks/use-issues.jsx
  templates/harvesting/index.jsx
  templates/overview/cards/data-statictics-card.jsx
  texts/issues/issues.yml
  utils/analytics.js
  utils/withErrorBoundary.jsx
Due: yarn lint --format, prettier --write

Update visibility icon
  store/root.js
  templates/harvesting/cards/articles-list.jsx
  templates/harvesting/cards/table.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

Update package-lock
  package-lock.json
Due: prettier --write

Update messages.yml
  texts/issues/messages.yml
Due: none

Delete issues and add download url
  components/application/activities.js
  store/activities.js
  store/issues.js
  templates/harvesting/cards/issues-card.jsx
  templates/harvesting/cards/type-card.jsx
  templates/harvesting/hooks/use-issues.jsx
  templates/harvesting/index.jsx
  texts/issues/messages.yml
  texts/navigation.yml
Due: yarn lint --format

Update download field
  texts/issues/issues.yml
Due: none

Update Register ENV
  components/forms/invitation-register/index.jsx
Due: yarn lint --format

Update Register ENV (#572)
  components/forms/invitation-register/index.jsx
Due: yarn lint --format

Update fields
  templates/content/cards/table-card.jsx
Due: yarn lint --format

Update fields (#573)
  templates/content/cards/table-card.jsx
Due: yarn lint --format

Template with api
  components/application/activities.js
  components/forms/invitation-register/index.jsx
  components/text-box/index.jsx
  components/text-box/styles.module.css
  design.config.js
  design/drawer/styles.module.css
  package-lock.json
  pages/data-providers/[data-provider-id]/membership.jsx
  public/secure/login.html
  store/activities.js
  store/data-provider/index.js
  store/data-provider/membership.js
  templates/membership/card.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.css
  texts/memership/index.js
  texts/memership/membership.yml
  texts/navigation.yml
  utils/helpers.js
Due: yarn lint --format, prettier --write

Separate membership cards
  templates/membership/card.jsx
  templates/membership/index.jsx
Due: yarn lint --format

Upload upload logo note
  pages/data-providers/[data-provider-id]/settings.jsx
  templates/membership/index.jsx
  templates/settings/index.jsx
  templates/settings/styles.module.css
  texts/settings/settings.yml
Due: yarn lint --format, prettier --write

Update note text
  texts/settings/settings.yml
Due: none

Membership tab (#574)
  components/application/activities.js
  components/text-box/index.jsx
  components/text-box/styles.module.css
  design.config.js
  design/drawer/styles.module.css
  package-lock.json
  pages/data-providers/[data-provider-id]/membership.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  public/secure/login.html
  store/activities.js
  store/data-provider/index.js
  store/data-provider/membership.js
  templates/membership/card.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.css
  templates/settings/index.jsx
  templates/settings/styles.module.css
  texts/memership/index.js
  texts/memership/membership.yml
  texts/navigation.yml
  texts/settings/settings.yml
  utils/helpers.js
Due: yarn lint --format, prettier --write

Update link
  texts/settings/settings.yml
Due: none

Update link (#575)
  texts/settings/settings.yml
Due: none

Fix form link
  texts/issues/issues.yml
  texts/memership/membership.yml
Due: none

Fix form link (#576)
  texts/issues/issues.yml
  texts/memership/membership.yml
Due: none

[CORE-4361] Upd text membership
  texts/memership/membership.yml
Due: none

[CORE-4361] Upd text membership (#577)
  texts/memership/membership.yml
Due: none

[CORE-4351] Add layout
  components/application/index.jsx
  components/application/terms-condition.jsx
  components/application/terms-condition.module.css
  pages/_app/index.jsx
  store/root.js
  store/user/base.js
Due: yarn lint --format, prettier --write

[CORE-4357] Text update
  texts/depositing/data-overview.md
Due: none

Path conditions:
  yarn lint --format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
