Repository oacore/dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn lint --format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Add mock text to the DOI overview card
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Design DOI overview card
  pages/data-providers/[data-provider-id]/doi.css
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format, prettier --write

Pass className to DrawerItem parent
  design/drawer/item.jsx
Due: yarn lint --format

Add Settings
  components/application/activity-select/index.jsx
  components/application/activity-select/styles.css
  pages/data-providers/[data-provider-id]/settings.css
  pages/data-providers/[data-provider-id]/settings.jsx
  store/activities.js
  store/root.js
Due: yarn lint --format, prettier --write

Redirect users to the legacy Dashboard if access forbidden
  pages/_app/index.jsx
  public/login.js
Due: yarn lint --format

Redirect users to the legacy app if access forbidden (#211)
  pages/_app/index.jsx
  public/login.js
Due: yarn lint --format

Remove @observer from the global App component
  components/application/index.jsx
  components/application/loading-bar.jsx
  pages/_app/index.jsx
Due: yarn lint --format

Remove 'observer' from the global App component
  components/application/index.jsx
  components/application/loading-bar.jsx
  pages/_app/index.jsx
Due: yarn lint --format

Remove 'observer' from the global App component (#221)
  components/application/index.jsx
  components/application/loading-bar.jsx
  pages/_app/index.jsx
Due: yarn lint --format

WIP add jenkins pipelines
  jenkins/stage.pipeline.groovy
  jenkins/utils/github.groovy
  jenkins/utils/slack.groovy
Due: none

Reset table size when search/order changes
  components/table/index.jsx
Due: yarn lint --format

Replace Num with NumericValue on Overview
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Create NumericValue component
  components/numeric-value/index.jsx
Due: yarn lint --format

Create PerformanceChart component
  components/performance-chart/index.jsx
  components/performance-chart/styles.css
Due: yarn lint --format, prettier --write

Develop EnrichmentChart component
  components/enrichment-chart/index.jsx
Due: yarn lint --format

Upgrade @oacore/design to 0.0.12
  package-lock.json
  package.json
Due: prettier --write

Extract ExportButton component to the library
  components/export-button/index.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
Due: yarn lint --format

Develop DOIs tab (#180)
  pages/data-providers/[data-provider-id]/doi.css
  pages/data-providers/[data-provider-id]/doi.jsx
  pages/data-providers/[data-provider-id]/overview.css
  pages/data-providers/[data-provider-id]/overview.jsx
  store/activities.js
  store/doi.js
  store/root.js
  texts/doi/coverage.md
  texts/doi/export.yml
  texts/doi/index.js
  texts/doi/overview.yml
  texts/doi/table.yml
  texts/navigation.yml
  texts/overview.js
Due: yarn lint --format, prettier --write

Remove DOI number caption from the Overview
  pages/data-providers/[data-provider-id]/overview.jsx
  texts/doi/overview.yml
Due: yarn lint --format

Fix table look on phone
  components/table/index.jsx
  pages/data-providers/[data-provider-id]/content.css
  pages/data-providers/[data-provider-id]/deposit-dates.css
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/doi.css
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format, prettier --write

Fix rules
  api/errors.js
  api/index.js
  babel.config.js
  components/application/activity-select/index.jsx
  components/application/head.jsx
  components/application/logout.jsx
  components/application/repository-select.jsx
  components/application/route.js
  components/error-boundary/index.jsx
  components/table/LoadMoreRow.jsx
  components/table/TableRow.jsx
  components/table/index.jsx
  components/time-lag-chart/index.jsx
  config.js
  design/alert/index.jsx
  design/select/index.jsx
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  public/login.js
  store/activities.js
  store/helpers/order.js
  store/helpers/pages/pages.js
  store/index.jsx
  store/root.js
  store/user.js
  store/works.js
  texts/depositing/index.js
  utils/analytics.js
  utils/withErrorBoundary.jsx
Due: yarn lint --format

Fix rules
  api/errors.js
  api/index.js
  babel.config.js
  components/application/activity-select/index.jsx
  components/application/head.jsx
  components/application/logout.jsx
  components/application/repository-select.jsx
  components/application/route.js
  components/enrichment-chart/index.jsx
  components/error-boundary/index.jsx
  components/numeric-value/index.jsx
  components/performance-chart/index.jsx
  components/table/LoadMoreRow.jsx
  components/table/TableRow.jsx
  components/table/index.jsx
  components/time-lag-chart/index.jsx
  config.js
  design/alert/index.jsx
  design/select/index.jsx
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  public/login.js
  store/activities.js
  store/helpers/order.js
  store/helpers/pages/pages.js
  store/index.jsx
  store/root.js
  store/user.js
  store/works.js
  texts/depositing/index.js
  utils/analytics.js
  utils/withErrorBoundary.jsx
Due: yarn lint --format

Bump @oacore/configs
  package-lock.json
  package.json
Due: prettier --write

Bump @oacore/design
  package-lock.json
  package.json
Due: prettier --write

Bump Packages (#251)
  api/errors.js
  api/index.js
  babel.config.js
  components/application/activity-select/index.jsx
  components/application/head.jsx
  components/application/logout.jsx
  components/application/repository-select.jsx
  components/application/route.js
  components/enrichment-chart/index.jsx
  components/error-boundary/index.jsx
  components/numeric-value/index.jsx
  components/performance-chart/index.jsx
  components/table/LoadMoreRow.jsx
  components/table/TableRow.jsx
  components/table/index.jsx
  components/time-lag-chart/index.jsx
  config.js
  design/alert/index.jsx
  design/select/index.jsx
  package-lock.json
  package.json
  pages/_app/index.jsx
  pages/data-providers/[data-provider-id]/content.jsx
  pages/data-providers/[data-provider-id]/deposit-dates.jsx
  pages/data-providers/[data-provider-id]/doi.jsx
  pages/data-providers/[data-provider-id]/overview.jsx
  pages/data-providers/[data-provider-id]/plugins/index.jsx
  pages/data-providers/[data-provider-id]/settings.jsx
  public/login.js
  store/activities.js
  store/helpers/order.js
  store/helpers/pages/pages.js
  store/index.jsx
  store/root.js
  store/user.js
  store/works.js
  texts/depositing/index.js
  utils/analytics.js
  utils/withErrorBoundary.jsx
Due: yarn lint --format, prettier --write

Pass extra props to TimeLagChart container
  components/time-lag-chart/index.jsx
Due: yarn lint --format

Fix DOI column id to 'repoDoi'
  pages/data-providers/[data-provider-id]/doi.jsx
Due: yarn lint --format

Add maxHeight to PerformanceChart
  components/performance-chart/index.jsx
  components/performance-chart/styles.css
Due: yarn lint --format, prettier --write

Fix typo in 'doiEnrichmentSize'
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format

Align card buttons to bottom, charts to centre
  pages/data-providers/[data-provider-id]/overview.css
  pages/data-providers/[data-provider-id]/overview.jsx
Due: yarn lint --format, prettier --write
